# Clean Property_Buy Data

In [2]:
import sys, os
sys.path.append(os.path.abspath('../'))
from scripts.utils import create_dir, get_runtime
import time 
start_time = time.time()

import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import re
import ast
from bs4 import BeautifulSoup

In [240]:
buy_data_0 = pd.read_csv("../data/landing/oldlistings_buy/oldlistings_buy_0.csv")
ddf = pd.DataFrame(buy_data_0)
ddf

,Unnamed: 0,lat,lng,rented_prices,address,meta_data
0,0,NaN,NaN,"[{'date': 'April 2013', 'price': '$340,00\u200...","ùü∏ùüª-ùü∏ùüΩ ùôª–û’çIS R–ûŒëD ‚Äã- ùü∑ST ŒïSTŒëTŒï, VŒïN’çS BAY‚Äã","[{'label': 'bed', 'description': 'Bed', 'quant..."
1,1,NaN,NaN,"[{'date': 'April 2013', 'price': '$Ôºîùü´ùü´,OOO'}, ...","85 PANDORA AVENUE - 1ST ESTATE, VENUS BAY","[{'label': 'bed', 'description': 'Bed', 'quant..."
2,2,NaN,NaN,"[{'date': 'April 2013', 'price': '<span>$ùü®ùüª,OO...","ùü®-ùü™ –íùôªŒë–°K AVEN‚ÄãUE, VENUS BAY","[{'label': 'type', 'description': 'Category', ..."
3,3,NaN,NaN,"[{'date': 'April 2013', 'price': '$3Ôºîùü´,OOO'}, ...","2 SYDNEY COURT, VŒïN’çS –íŒëY","[{'label': 'bed', 'description': 'Bed', 'quant..."
4,4,NaN,NaN,"[{'date': 'April 2013', 'price': '$25\u200b0,0...","119 JUPITER BLVD, VŒïN’çS –íŒëY","[{'label': 'bed', 'description': 'Bed', 'quant..."
...,...,...,...,...,...,...
281560,281560,NaN,NaN,"[{'date': 'July 2012', 'price': '$329,000'}]","ùü∑ùü∑ùü∑ JUS‚ÄãTICE, COW‚ÄãES","[{'label': 'bed', 'description': 'Bed', 'quant..."
281561,281561,NaN,NaN,"[{'date': 'July 2012', 'price': '$369,000'}]","ùüΩ RŒïDW–û–ûD, –°–ûWŒïS","[{'label': 'bed', 'description': 'Bed', 'quant..."
281562,281562,NaN,NaN,"[{'date': 'July 2012', 'price': '$115,000 - $1...","LOT 2/ 59 MCHAFFIE, –°–ûWŒïS",[]
281563,281563,NaN,NaN,"[{'date': 'July 2012', 'price': '$359,000'}]","ùü®Œë –íRŒëDùôªŒïY, COWES","[{'label': 'bed', 'description': 'Bed', 'quant..."
281564,281564,NaN,NaN,"[{'date': 'July 2012', 'price': '$425,0\u200b0...","89 DUNES ROAD, COWES","[{'label': 'bed', 'description': 'Bed', 'quant..."

In [264]:
# Function to clean rented_prices
ddf['rented_prices_cleaned'] = (
    ddf['rented_prices']
    .str.replace(r'\u200b', '', regex=False)           # Remove zero-width space
    .str.replace(r'\xa0', '', regex=False)             # Remove non-breaking space
    .str.replace(r'<span>', '', regex=False)           # Remove <span> tag
    .str.replace(r'</span>', '', regex=False)          # Remove </span> tag
    #.str.translate(translation_table)                 # Convert full-width digits to ASCII digits
    # Convert full-width digits to ASCII digits
    .str.replace('Ôºê', '0')
    .str.replace('Ôºë', '1')
    .str.replace('Ôºí', '2')
    .str.replace('Ôºì', '3')
    .str.replace('Ôºî', '4')
    .str.replace('Ôºï', '5')
    .str.replace('Ôºñ', '6')
    .str.replace('Ôºó', '7')
    .str.replace('Ôºò', '8')
    .str.replace('Ôºô', '9')
    .str.replace('4', '4')
    .str.replace('ùüª', '5')
    .str.replace('ùüº', '6')
    .str.replace('ùüΩ', '7')
    .str.replace('ùüæ', '8')
    .str.replace('ùüø', '9')
    .str.replace('ùü∂', '0')
    .str.replace('ùüπ', '3')
    .str.replace('ùü∫', '4')
    .str.replace('ùü∏', '2')
    .str.replace('ùü∑', '1')
    .str.replace('ùü´', '9')
    .str.replace('ùü™', '8')
    .str.replace('ùü©', '7')
    .str.replace('ùü®', '6')
    .str.replace('ùüß', '5')
    .str.replace('ùü¶', '4')
    .str.replace('ùü•', '3')
    .str.replace('ùü§', '2')
    .str.replace('ùü£', '1')
    .str.replace('ùü¢', '0')
    .str.replace('ùü°', '9')
    .str.replace('ùü†', '8')
    .str.replace('ùüü', '7')
    .str.replace('ùüû', '6')
    .str.replace('ùüù', '5')
    .str.replace('ùüú', '4')
    .str.replace('ùüõ', '3')
    .str.replace('ùüö', '2')
    .str.replace('ùüô', '1')
    .str.replace('ùüò', '0')
    .str.replace('ùüó', '9')
    .str.replace('ùüñ', '8')
    .str.replace('ùüï', '7')
    .str.replace('ùüî', '6')
    .str.replace('ùüì', '5')
    .str.replace('ùüí', '4')
    .str.replace('ùüë', '3')
    .str.replace('ùüê', '2')
    .str.replace('ùüè', '1')
    .str.replace('ùüé', '0')
    .str.replace('ùüå', '4')
    .str.replace('ùüã', '3')
    .str.replace('ùüä', '2')
    .str.replace('ùüâ', '1')
    .str.replace('ùüà', '0')
    .str.replace('ùüá', '9')
    .str.replace('ùüÜ', '8')
    .str.replace('ùüÖ', '7')
    .str.replace('ùüÑ', '6')
    .str.replace('ùüÉ', '5')
    .str.replace('ùüÇ', '4')
    .str.replace('ùüÅ', '3')
    .str.replace('ùüÄ', '2')
    .str.replace('ùûø', '1')
    .str.replace('ùûæ', '0')
)

:

In [242]:
# Remove all commas after number
ddf['rented_prices_cleaned'] = ddf['rented_prices_cleaned'].str.replace(r'(?<=\d),', '', regex=True)

In [243]:
# add " ' " in front of the "$" sign if there is no " ' " in front of the "$" sign
ddf['rented_prices_cleaned'] = ddf['rented_prices_cleaned'].apply(lambda x: re.sub(r'(?<!\')\$', '\'', x))

# add " ' " in front of the "}" sign if the above condition is met
ddf['rented_prices_cleaned'] = ddf['rented_prices_cleaned'].apply(lambda x: re.sub(r'(?<!\')\}', '\'', x))

# add " } " behind the "0'" if "{" is present but the next curly braces is not "}"
ddf['rented_prices_cleaned'] = ddf['rented_prices_cleaned'].apply(lambda x: re.sub(r"(?<=0')(?=[^}]*$)", "}", x))

In [86]:
# add " ' " in front of the "}" sign if the above condition is met
#ddf['rented_prices_cleaned'] = ddf['rented_prices_cleaned'].apply(lambda x: re.sub(r'(?<!\')\}', '\'', x))

In [244]:
# View the cleaned DataFrame
ddf[['rented_prices_cleaned']]

                                    rented_prices_cleaned
0       [{'date': 'April 2013', 'price': '$340000'}, {...
1       [{'date': 'April 2013', 'price': '$499OOO'}, {...
2       [{'date': 'April 2013', 'price': '$65OOO'}, {'...
3       [{'date': 'April 2013', 'price': '$349OOO'}, {...
4       [{'date': 'April 2013', 'price': '$250000'}, {...
...                                                   ...
281560        [{'date': 'July 2012', 'price': '$329000'}]
281561        [{'date': 'July 2012', 'price': '$369000'}]
281562  [{'date': 'July 2012', 'price': '$115000 - '12...
281563        [{'date': 'July 2012', 'price': '$359000'}]
281564        [{'date': 'July 2012', 'price': '$425000'}]

[281565 rows x 1 columns]

In [245]:
ddf

,Unnamed: 0,lat,lng,rented_prices,address,meta_data,rented_prices_cleaned
0,0,NaN,NaN,"[{'date': 'April 2013', 'price': '$340,00\u200...","ùü∏ùüª-ùü∏ùüΩ ùôª–û’çIS R–ûŒëD ‚Äã- ùü∑ST ŒïSTŒëTŒï, VŒïN’çS BAY‚Äã","[{'label': 'bed', 'description': 'Bed', 'quant...","[{'date': 'April 2013', 'price': '$340000'}, {..."
1,1,NaN,NaN,"[{'date': 'April 2013', 'price': '$Ôºîùü´ùü´,OOO'}, ...","85 PANDORA AVENUE - 1ST ESTATE, VENUS BAY","[{'label': 'bed', 'description': 'Bed', 'quant...","[{'date': 'April 2013', 'price': '$499OOO'}, {..."
2,2,NaN,NaN,"[{'date': 'April 2013', 'price': '<span>$ùü®ùüª,OO...","ùü®-ùü™ –íùôªŒë–°K AVEN‚ÄãUE, VENUS BAY","[{'label': 'type', 'description': 'Category', ...","[{'date': 'April 2013', 'price': '$65OOO'}, {'..."
3,3,NaN,NaN,"[{'date': 'April 2013', 'price': '$3Ôºîùü´,OOO'}, ...","2 SYDNEY COURT, VŒïN’çS –íŒëY","[{'label': 'bed', 'description': 'Bed', 'quant...","[{'date': 'April 2013', 'price': '$349OOO'}, {..."
4,4,NaN,NaN,"[{'date': 'April 2013', 'price': '$25\u200b0,0...","119 JUPITER BLVD, VŒïN’çS –íŒëY","[{'label': 'bed', 'description': 'Bed', 'quant...","[{'date': 'April 2013', 'price': '$250000'}, {..."
...,...,...,...,...,...,...,...
281560,281560,NaN,NaN,"[{'date': 'July 2012', 'price': '$329,000'}]","ùü∑ùü∑ùü∑ JUS‚ÄãTICE, COW‚ÄãES","[{'label': 'bed', 'description': 'Bed', 'quant...","[{'date': 'July 2012', 'price': '$329000'}]"
281561,281561,NaN,NaN,"[{'date': 'July 2012', 'price': '$369,000'}]","ùüΩ RŒïDW–û–ûD, –°–ûWŒïS","[{'label': 'bed', 'description': 'Bed', 'quant...","[{'date': 'July 2012', 'price': '$369000'}]"
281562,281562,NaN,NaN,"[{'date': 'July 2012', 'price': '$115,000 - $1...","LOT 2/ 59 MCHAFFIE, –°–ûWŒïS",[],"[{'date': 'July 2012', 'price': '$115000 - '12..."
281563,281563,NaN,NaN,"[{'date': 'July 2012', 'price': '$359,000'}]","ùü®Œë –íRŒëDùôªŒïY, COWES","[{'label': 'bed', 'description': 'Bed', 'quant...","[{'date': 'July 2012', 'price': '$359000'}]"
281564,281564,NaN,NaN,"[{'date': 'July 2012', 'price': '$425,0\u200b0...","89 DUNES ROAD, COWES","[{'label': 'bed', 'description': 'Bed', 'quant...","[{'date': 'July 2012', 'price': '$425000'}]"

In [252]:
ddf_list = ddf[['rented_prices_cleaned']].values.tolist()
ddf_list

[["[{'date': 'April 2013', 'price': '$340000'}, {'date': 'November 2011', 'price': '$340000'}]"],
 ["[{'date': 'April 2013', 'price': '$499OOO'}, {'date': 'November 2011', 'price': '$499000'}]"],
 ["[{'date': 'April 2013', 'price': '$65OOO'}, {'date': 'December 2011', 'price': '$65000'}, {'date': 'July 2011', 'price': '$65000'}, {'date': 'April 2011', 'price': '$65OOO'}]"],
 ["[{'date': 'April 2013', 'price': '$349OOO'}, {'date': 'July 2011', 'price': '$349000'}, {'date': 'June 2011', 'price': '$349000'}]"],
 ["[{'date': 'April 2013', 'price': '$250000'}, {'date': 'July 2011', 'price': '$25O,OOO'}, {'date': 'January 2011', 'price': '$250000'}, {'date': 'September 2010', 'price': '$250000'}]"],
 ["[{'date': 'April 2013', 'price': '$320000'}, {'date': 'July 2011', 'price': '$32OOO,OOO'}, {'date': 'July 2011', 'price': '$32O,OOO'}]"],
 ["[{'date': 'April 2013', 'price': '$28O,OOO'}, {'date': 'March 2012', 'price': '$280000'}, {'date': 'December 2011', 'price': '2800\u200b00', {'date': 'October 2011', 'price': '$280000'}]"],
 ["[{'date': 'April 2013', 'price': '$34O,OOO'}, {'date': 'January 2012', 'price': '$340000'}]"],
 ["[{'date': 'April 2013', 'price': '$22O,OOO'}, {'date': 'January 2012', 'price': '$22O,OOO'}, {'date': 'November 2011', 'price': '$220000'}]"],
 ["[{'date': 'April 2013', 'price': '$259000'}, {'date': 'January 2012', 'price': '$259000'}, {'date': 'February 2012', 'price': '$259000'}, {'date': 'November 2011', 'price': '$259OOO'}]"],
 ["[{'date': 'April 2013', 'price': '$349000'}, {'date': 'February 2012', 'price': '$349OOO'}, {'date': 'February 2012', 'price': '$349OOO Pl’Ωs'}]"],
 ["[{'date': 'April 2013', 'price': '$299000'}, {'date': 'September 2011', 'price': '$299OO,OOO'}, {'date': 'September 2011', 'price': '$299000'}]"],
 ["[{'date': 'April 2013', 'price': '$259000'}, {'date': 'January 2012', 'price': '$259000'}, {'date': 'February 2012', 'price': '$259000'}, {'date': 'November 2011', 'price': '$259OOO'}]"],
 ["[{'date': 'April 2013', 'price': '$45O,OOO'}, {'date': 'April 2013', 'price': '$420000 Reduced'}, {'date': 'July 2012', 'price': '$420000 Reduced'}, {'date': 'February 2012', 'price': '$450000'}, {'date': 'January 2012', 'price': '$450000'}]"],
 ["[{'date': 'April 2013', 'price': '$279000'}, {'date': 'February 2012', 'price': '$279000'}, {'date': 'January 2012', 'price': '$279000'}, {'date': 'November 2011', 'price': '$279000'}]"],
 ["[{'date': 'April 2013', 'price': '$795000'}, {'date': 'February 2012', 'price': '$795000'}, {'date': 'January 2012', 'price': '$795000'}, {'date': 'November 2011', 'price': '$795000'}]"],
 ["[{'date': 'April 2013', 'price': '$139000'}, {'date': 'February 2012', 'price': '139OOO', {'date': 'January 2012', 'price': '$139000'}, {'date': 'November 2011', 'price': '$139000'}, {'date': 'September 2011', 'price': '$139000'}]"],
 ["[{'date': 'April 2013', 'price': '$115OOO'}, {'date': 'March 2012', 'price': '$115000'}]"],
 ["[{'date': 'April 2013', 'price': '$249500'}, {'date': 'April 2013', 'price': '$22O,OOO'}, {'date': 'April 2012', 'price': '$210000'}, {'date': 'March 2012', 'price': '$2495OO'}, {'date': 'December 2011', 'price': '$249500'}]"],
 ["[{'date': 'April 2013', 'price': '$239OOO'}, {'date': 'March 2012', 'price': '$239OOO'}, {'date': 'January 2012', 'price': '$239000'}, {'date': 'November 2011', 'price': '$239000'}]"],
 ["[{'date': 'April 2013', 'price': '$345000'}, {'date': 'February 2012', 'price': '$345000'}, {'date': 'November 2011', 'price': '$365000'}, {'date': 'October 2011', 'price': '$365000'}, {'date': 'September 2011', 'price': '$365000'}, {'date': 'August 2011', 'price': '$365OOO'}, {'date': 'October 2010', 'price': '$365OOO'}]"],
 ["[{'date': 'April 2013', 'price': '$255OOO'}, {'date': 'November 2011', 'price': '$255000'}]"],
 ["[{'date': 'April 2013', 'price': '$275OOO'}, {'date': 'April 2012', 'price': '$275000'}]"],
 ["[{'date': 'April 2013', 'price': '$249000'}, {'date': 'November 2011', 'price': '$249OOO'}]"],
 ["[{'date': 'April 2013', 'price': '$280000'}, {'date': 'November 2011', 'price': '$28O,OOO'}]"],
 ["[{'date': 'April 2013', 'price': '$246500'}, {'date': 'April 2012', 'price': '2465OO']"],
 ["[{'date': 'April 2013', 'price': '$235000'}, {'date': 'April 2012', 'price': '$235OOO'}]"],
 ["[{'date': 'April 2013', 'price': '$279000'}, {'date': 'November 2011', 'price': '$279000'}]"],
 ["[{'date': 'April 2013', 'price': '$95OOO'}, {'date': 'September 2011', 'price': '$95000'}, {'date': 'November 2011', 'price': '$95000'}]"],
 ["[{'date': 'April 2013', 'price': '$399OOO'}, {'date': 'December 2011', 'price': '$399OOO'}, {'date': 'November 2011', 'price': '$399000'}]"],
 ["[{'date': 'April 2013', 'price': '$135000'}, {'date': 'December 2011', 'price': '$135000'}]"],
 ["[{'date': 'April 2013', 'price': '239000\u200b', {'date': 'December 2011', 'price': '$239000'}, {'date': 'November 2011', 'price': '$239000'}, {'date': 'October 2011', 'price': '$239OOO'}]"],
 ["[{'date': 'May 2012', 'price': 'Contact'}, {'date': 'April 2012', 'price': '–°·¥ènt–∞—Åt'}, {'date': 'March 2012', 'price': 'P–ûŒë'}]"],
 ['[]'],
 ["[{'date': 'April 2013', 'price': '$345OOO'}, {'date': 'December 2011', 'price': '$345OOO'}, {'date': 'November 2011', 'price': '$345000'}]"],
 ["[{'date': 'April 2013', 'price': '$289000'}, {'date': 'January 2012', 'price': '$289OOO'}, {'date': 'November 2011', 'price': '$289000'}]"],
 ["[{'date': 'April 2013', 'price': '$225OOO'}, {'date': 'June 2012', 'price': '$225000'}, {'date': 'January 2012', 'price': '$225000'}, {'date': 'November 2011', 'price': '225OOO']"],
 ["[{'date': 'April 2013', 'price': '$38O,OOO'}, {'date': 'September 2011', 'price': '$38O,OOO'}, {'date': 'May 2011', 'price': '$380000'}, {'date': 'February 2011', 'price': '$380000'}]"],
 ["[{'date': 'April 2013', 'price': '$398000'}, {'date': 'January 2012', 'price': '$398OOO'}, {'date': 'June 2012', 'price': '$398000'}, {'date': 'November 2011', 'price': '$398000'}]"],
 ["[{'date': 'April 2013', 'price': '$269000'}, {'date': 'June 2012', 'price': '$269000'}, {'date': 'February 2012', 'price': '$269OOO'}]"],
 ["[{'date': 'April 2013', 'price': '$259000'}, {'date': 'January 2012', 'price': '$259000'}]"],
 ["[{'date': 'April 2013', 'price': '$225OOO'}, {'date': 'January 2012', 'price': '$225000'}]"],
 ["[{'date': 'April 2013', 'price': '$215000'}, {'date': 'February 2012', 'price': '$215OOO'}]"],
 ["[{'date': 'April 2013', 'price': '$249900'}, {'date': 'February 2012', 'price': '$249900'}]"],
 ["[{'date': 'April 2013', 'price': '$259000'}, {'date': 'February 2012', 'price': '$259000'}, {'date': 'October 2011', 'price': '$259OOO'}]"],
 ["[{'date': 'April 2013', 'price': '$565000'}, {'date': 'November 2011', 'price': '$565000'}]"],
 ["[{'date': 'April 2013', 'price': '249OOO', {'date': 'September 2012', 'price': '$249000'}, {'date': 'August 2012', 'price': '$249000'}, {'date': 'July 2012', 'price': '$249000'}]"],
 ["[{'date': 'April 2013', 'price': '$17O,OOO'}, {'date': 'April 2012', 'price': '$170000'}]"],
 ["[{'date': 'April 2013', 'price': '$229000'}, {'date': 'May 2012', 'price': '$229000'}, {'date': 'April 2012', 'price': '$229000'}]"],
 ["[{'date': 'April 2013', 'price': '$225000'}, {'date': 'October 2012', 'price': 'Reduced'}, {'date': 'September 2012', 'price': \u200bReduced']"],
 ["[{'date': 'May 2007', 'price': '$262000'}]"],
 ["[{'date': 'May 2007', 'price': '$240000'}]"],
 ["[{'date': 'May 2007', 'price': '$235000'}]"],
 ["[{'date': 'April 2007', 'price': '$850000'}]"],
 ["[{'date': 'April 2007', 'price': '$269OOO'}]"],
 ["[{'date': 'April 2007', 'price': '$269000'}]"],
 ["[{'date': 'April 2007', 'price': '$329OOO'}]"],
 ["[{'date': 'April 2007', 'price': '$269OOO'}]"],
 ["[{'date': 'April 2007', 'price': '$279000'}]"],
 ["[{'date': 'April 2007', 'price': '$235000 +'}]"],
 ["[{'date': 'April 2007', 'price': '$68O,OOO - '74O,OOO'}]"],
 ["[{'date': 'April 2007', 'price': '$175OOO '}]"],
 ["[{'date': 'April 2007', 'price': '$435OOO From'}]"],
 ["[{'date': 'April 2007', 'price': '2595OO', {'date': 'March 2007', 'price': '$259500'}]"],
 ['[]'],
 ["[{'date': 'April 2007', 'price': '$270000 - '290000'}]"],
 ["[{'date': 'April 2007', 'price': '$285000'}]"],
 ["[{'date': 'April 2007', 'price': '$33O,OOO'}]"],
 ["[{'date': 'April 2007', 'price': '$370000 - '41O,OOO'}]"],
 ["[{'date': 'April 2007', 'price': '$340000 - '36O,OOO'}]"],
 ["[{'date': 'April 2007', 'price': '$145O,OOO'}]"],
 ["[{'date': 'April 2007', 'price': '$549500'}]"],
 ["[{'date': 'February 2007', 'price': '$450000 - '495OOO'}]"],
 ["[{'date': 'April 2007', 'price': '$445000'}, {'date': 'February 2007', 'price': '445OOO']"],
 ["[{'date': 'April 2007', 'price': '$429500'}]"],
 ["[{'date': 'April 2007', 'price': '$245000'}]"],
 ["[{'date': 'April 2007', 'price': '$28O,OOO - '280000 Price '}, {'date': 'February 2007', 'price': '$280000'}]"],
 ["[{'date': 'April 2007', 'price': '$480000 - '53O,OOO'}]"],
 ["[{'date': 'April 2007', 'price': '$270000 - '290000'}]"],
 ['[]'],
 ["[{'date': 'April 2007', 'price': '$595OOO'}]"],
 ["[{'date': 'April 2007', 'price': '$37O,OOO Sell—ñn÷Å N·¥èw'}]"],
 ["[{'date': 'April 2007', 'price': '$590000 Auction'}]"],
 ["[{'date': 'April 2007', 'price': '$290000 - '32O,OOO'}]"],
 ["[{'date': 'April 2007', 'price': '$39O,OOO Auction'}]"],
 ["[{'date': 'April 2007', 'price': '$245000'}]"],
 ["[{'date': 'April 2007', 'price': '$689500'}]"],
 ["[{'date': 'April 2007', 'price': '$525000'}]"],
 ["[{'date': 'April 2007', 'price': '$24O,OOO'}]"],
 ["[{'date': 'March 2007', 'price': '$950000'}, {'date': 'February 2007', 'price': '95O,OOO']"],
 ["[{'date': 'March 2007', 'price': '$485000'}, {'date': 'February 2007', 'price': '$495OOO'}]"],
 ["[{'date': 'March 2007', 'price': '$565OOO'}, {'date': 'February 2007', 'price': '$565OOO'}]"],
 ["[{'date': 'March 2007', 'price': 'Œë’Ω—Åt—ñ·¥èn'}]"],
 ["[{'date': 'March 2007', 'price': '$29O,OOO - '32O,OOO'}]"],
 ["[{'date': 'March 2007', 'price': 'Auction'}]"],
 ["[{'date': 'March 2007', 'price': '$280000 +'}]"],
 ["[{'date': 'March 2007', 'price': '$235OOO'}]"],
 ["[{'date': 'March 2007', 'price': '$265OOO'}, {'date': 'February 2007', 'price': '$282000'}]"],
 ["[{'date': 'March 2007', 'price': '$23O,OOO - '255OOO'}]"],
 ["[{'date': 'February 2007', 'price': '$290000'}]"],
 ["[{'date': 'November 2009', 'price': '$284950'}]"],
 ["[{'date': 'November 2009', 'price': '$840000 - '900000'}]"],
 ['[]'],
 ['[]'],
 ["[{'date': 'November 2009', 'price': '$148000'}]"],
 ["[{'date': 'November 2009', 'price': '$107000'}]"],
 ["[{'date': 'November 2009', 'price': '$135000'}]"],
 ["[{'date': 'November 2009', 'price': '$220000 - '240000'}]"],
 ['[]'],
 ["[{'date': 'November 2009', 'price': '$620000 +'}]"],
 ["[{'date': 'November 2009', 'price': '$700000 Plus'}]"],
 ['[]'],
 ["[{'date': 'November 2009', 'price': 'Auction'}]"],
 ["[{'date': 'November 2009', 'price': '$119000'}]"],
 ["[{'date': 'November 2009', 'price': '$595000'}]"],
 ["[{'date': 'March 2023', 'price': '$560000 - '610000'}]"],
 ["[{'date': 'March 2023', 'price': '$22O,OOO - '23O,OOO'}]"],
 ["[{'date': 'March 2023', 'price': '$516400'}]"],
 ["[{'date': 'March 2023', 'price': '$483800'}]"],
 ["[{'date': 'March 2023', 'price': '$474000'}]"],
 ["[{'date': 'March 2023', 'price': '$481400'}]"],
 ["[{'date': 'March 2023', 'price': '4736OO']"],
 ["[{'date': 'March 2023', 'price': '$469200'}]"],
 ["[{'date': 'March 2023', 'price': '$535OOO - '588000'}]"],
 ["[{'date': 'March 2023', 'price': '$545000'}]"],
 ["[{'date': 'March 2023', 'price': 'Private S–∞le'}, {'date': 'March 2017', 'price': 'Under Offer'}]"],
 ["[{'date': 'March 2023', 'price': '$360000 - '380000'}]"],
 ["[{'date': 'March 2023', 'price': 'Pr—ñv–∞te S–∞le'}, {'date': 'July 2014', 'price': '$400000 - '440000'}, {'date': 'July 2014', 'price': Œë’Ω—Åt—ñ·¥èn', {'date': 'July 2014', 'price': '$390000 - '430000 Auction'}, {'date': 'March 2013', 'price': '$41O,OOO'}]"],
 ["[{'date': 'March 2023', 'price': '3\u200b40000', {'date': 'December 2021', 'price': '–°·¥ènt–∞—Åt'}, {'date': 'November 2021', 'price': 'Contact'}]"],
 ["[{'date': 'March 2023', 'price': '$399OOO - '438OOO'}]"],
 ["[{'date': 'March 2023', 'price': 'Unless Sold prior'}]"],
 ["[{'date': 'March 2023', 'price': 'Under Offer'}]"],
 ["[{'date': 'March 2023', 'price': '$43O,OOO - '440000'}]"],
 ["[{'date': 'March 2023', 'price': 'Unless Sold prior'}, {'date': 'December 2021', 'price': '$58O,OOO - '62O,OOO Private '}, {'date': 'January 2021', 'price': '$615OOO Private S–∞le'}, {'date': 'July 2021', 'price': '615OOO', {'date': 'February 2021', 'price': '$615000 Private Sale'}, {'date': 'February 2021', 'price': 'Contact'}, {'date': 'December 2020', 'price': 'Contact'}, {'date': 'June 2020', 'price': Œë’Ω—Åt—ñ·¥èn', {'date': 'August 2011', 'price': '$415000'}]"],
 ["[{'date': 'March 2023', 'price': '$275000 - '300000'}]"],
 ["[{'date': 'March 2023', 'price': '3400\u200b00'}]"],
 ["[{'date': 'March 2023', 'price': '$220000 - '}]"],
 ["[{'date': 'March 2023', 'price': '$25O,OOO'}]"],
 ["[{'date': 'March 2023', 'price': 'Auction'}]"],
 ["[{'date': 'March 2023', 'price': '$300000 Private Sale'}, {'date': 'February 2023', 'price': '$3OO,OOO Pr—ñv–∞te S–∞le'}]"],
 ["[{'date': 'March 2023', 'price': '$275OOO - '300000'}]"],
 ["[{'date': 'March 2023', 'price': '$340000 - '360000'}, {'date': 'February 2023', 'price': '$340000 - '360000'}]"],
 ["[{'date': 'March 2023', 'price': '$715000 - '}]"],
 ["[{'date': 'March 2023', 'price': '$420000 - '450000'}, {'date': 'August 2010', 'price': 'Auction'}]"],
 ["[{'date': 'March 2023', 'price': '$300000 - '315OOO'}, {'date': 'June 2013', 'price': '$33O,OOO Offers ·¥èver'}]"],
 ["[{'date': 'August 2013', 'price': '$400000 Offers over'}]"],
 ["[{'date': 'March 2023', 'price': '$580000'}]"],
 ["[{'date': 'March 2023', 'price': '$300000 - '315000'}]"],
 ["[{'date': 'March 2023', 'price': '$300000 - '320000'}, {'date': 'July 2022', 'price': '$3OO,OOO - '32O,OOO'}, {'date': 'May 2022', 'price': '3OO,OOO']"],
 ["[{'date': 'March 2023', 'price': '$3OO,OOO - '31O,OOO'}]"],
 ["[{'date': 'March 2023', 'price': '$590000 - '640000'}]"],
 ["[{'date': 'March 2023', 'price': '$1O25OOO'}]"],
 ["[{'date': 'May 2019', 'price': '$680000 - '698000'}]"],
 ["[{'date': 'March 2023', 'price': '$508000'}]"],
 ["[{'date': 'March 2023', 'price': '$8755OO'}]"],
 ["[{'date': 'March 2023', 'price': '$516000'}, {'date': 'March 2023', 'price': '$1365OOO'}]"],
 ["[{'date': 'March 2023', 'price': ''}]"],
 ["[{'date': 'March 2023', 'price': 'Contact'}, {'date': 'July 2022', 'price': 'Contact'}, {'date': 'May 2021', 'price': 'Contact'}, {'date': 'February 2019', 'price': 'Contact'}, {'date': 'March 2019', 'price': 'Contact'}, {'date': 'July 2018', 'price': '$395O,OOO'}, {'date': 'March 2018', 'price': 'Private S–∞le'}, {'date': 'June 2015', 'price': '$25'}, {'date': 'June 2015', 'price': 'Contact'}]"],
 ["[{'date': 'March 2023', 'price': '$2891000'}, {'date': 'May 2022', 'price': '$2891OOO'}]"],
 ["[{'date': 'March 2023', 'price': '$283000'}]"],
 ["[{'date': 'March 2023', 'price': '$400000 - '440000'}, {'date': 'December 2016', 'price': '$399OOO'}, {'date': 'December 2016', 'price': '$409000'}]"],
 ["[{'date': 'March 2023', 'price': '$265000'}]"],
 ["[{'date': 'March 2023', 'price': '$1300000 - '1400000'}, {'date': 'March 2023', 'price': 'Œë’Ω—Åt—ñ·¥èn'}]"],
 ["[{'date': 'March 2023', 'price': 'Private Sale'}]"],
 ["[{'date': 'March 2023', 'price': 'Private S–∞le'}]"],
 ["[{'date': 'March 2020', 'price': '$680000 - '710000'}, {'date': 'January 2019', 'price': '$680000 - '710000'}, {'date': 'September 2018', 'price': '$730000 - '790000'}]"],
 ["[{'date': 'February 2020', 'price': '$495OOO - '54O,OOO'}, {'date': 'January 2019', 'price': '$495000 - '540000'}, {'date': 'September 2018', 'price': '$520000 - '570000'}]"],
 ["[{'date': 'February 2020', 'price': '$560000 - '616000'}, {'date': 'January 2019', 'price': '$560000 - '616000'}, {'date': 'September 2018', 'price': 'Auction'}]"],
 ["[{'date': 'February 2020', 'price': '’çn‘Åer Contract'}, {'date': 'February 2019', 'price': '’çn‘Åer Contract'}, {'date': 'September 2018', 'price': '$455000 - '475000'}]"],
 ["[{'date': 'March 2020', 'price': '$460000 - '500000'}, {'date': 'January 2019', 'price': '$460000 - '5OO,OOO'}]"],
 ["[{'date': 'September 2020', 'price': '$760000 - '795000'}, {'date': 'August 2019', 'price': '$700000 - '735000'}, {'date': 'May 2019', 'price': '$695000 - '735000'}, {'date': 'February 2019', 'price': '$76O,OOO - '795000'}, {'date': 'July 2017', 'price': '$770000'}, {'date': 'August 2008', 'price': '$55O,OOO'}, {'date': 'June 2008', 'price': '$55O,OOO'}]"],
 ["[{'date': 'February 2020', 'price': '$550000 - '585000'}, {'date': 'January 2019', 'price': '$55O,OOO - '585OOO'}, {'date': 'September 2018', 'price': '$595000'}]"],
 ["[{'date': 'April 2020', 'price': '$1350000 - '1450000'}, {'date': 'January 2020', 'price': '$1350000 - '145O,OOO'}, {'date': 'July 2016', 'price': 'Under Offer'}, {'date': 'July 2016', 'price': '$775000 –ûffers ·¥èver'}]"],
 ["[{'date': 'March 2020', 'price': '$549500 Fixed'}, {'date': 'March 2019', 'price': '$495000 - '535000'}]"],
 ["[{'date': 'February 2020', 'price': '$389000'}, {'date': 'January 2019', 'price': '$389000'}, {'date': 'September 2018', 'price': '$380000 - '415OOO'}, {'date': 'November 2006', 'price': '$205000'}]"],
 ["[{'date': 'April 2020', 'price': 'Under Offer'}, {'date': 'December 2018', 'price': 'Under Offer'}]"],
 ["[{'date': 'March 2020', 'price': '$56O,OOO '}, {'date': 'February 2019', 'price': '560\u200b,000', {'date': 'September 2018', 'price': '$560000 - '61O,OOO'}, {'date': 'October 2009', 'price': 'Contact'}]"],
 ["[{'date': 'December 2020', 'price': 'S–ûùôªD'}]"],
 ["[{'date': 'December 2020'}, 'price': '77O,OOO']"],
 ["[{'date': 'December 2020', 'price': '$890000 - '950000'}]"],
 ["[{'date': 'December 2020', 'price': '$560000 - '610000'}, {'date': 'January 2017', 'price': 'Under Offer'}, {'date': 'February 2017', 'price': 'Under Offer'}, {'date': 'January 2017', 'price': '$46O,OOO Offers over'}, {'date': 'April 2012', 'price': '$389000 - '429000 BY NEG'}]"],
 ["[{'date': 'December 2020', 'price': '$550000 - '600000'}]"],
 ["[{'date': 'December 2020', 'price': '$600000 - '660000 Price by Negotiation'}]"],
 ["[{'date': 'December 2020', 'price': '$300000 - '330000'}]"],
 ["[{'date': 'December 2020', 'price': '$499OOO '}]"],
 ["[{'date': 'December 2020', 'price': '$680000 - '720000'}, {'date': 'November 2013', 'price': '$370000 Offers over'}]"],
 ["[{'date': 'December 2020', 'price': '$62O,OOO - '650000'}, {'date': 'February 2012', 'price': '$39O,OOO - '425OOO Price ‘å’Ω—ñ‘Åe'}]"],
 ["[{'date': 'December 2020', 'price': '$1100000 - '1200000'}, {'date': 'December 2020', 'price': 'Auction'}]"],
 ["[{'date': 'December 2020', 'price': '$77O,OOO - '830000'}]"],
 ["[{'date': 'December 2020', 'price': '$645000 - '695000'}, {'date': 'September 2010', 'price': 'Contact'}]"],
 ["[{'date': 'December 2020', 'price': '$66O,OOO - '71O,OOO'}, {'date': 'August 2018', 'price': 'Price by Negotiation'}, {'date': 'August 2018', 'price': '$595000 - '650000 Price by Negotiation'}, {'date': 'July 2018', 'price': '$595000 - '650000 Price by Negotiation'}, {'date': 'October 2015', 'price': '–°·¥ènt–∞—Åt'}, {'date': 'November 2015', 'price': 'Contact'}, {'date': 'January 2013', 'price': '$429000'}, {'date': 'May 2010', 'price': U\u200bnder', {'date': 'May 2010', 'price': '$380000 Plus'}]"],
 ["[{'date': 'December 2020', 'price': '’çn‘Åer –°·¥èntr–∞—Åt'}]"],
 ["[{'date': 'December 2020', 'price': '$440000 - '480000'}, {'date': 'November 2020', 'price': '$440000 - '480000'}, {'date': 'May 2019', 'price': '$440000 - '484000'}, {'date': 'April 2019', 'price': '$440000 - '484000'}, {'date': 'November 2019', 'price': '$440000 - '484000'}]"],

In [253]:
# add all the matches to a list and convert it to a dataframe
matches_list = []
for i in range(len(ddf_list)):
    for j in range(len(ddf_list[i])):
        matches = re.findall(r"'date': '([^']*)', 'price': '([^']*)'", ddf_list[i][j])
        matches_list.append(matches)

len(matches_list)

281565

In [254]:
# Flattening the nested tuples to create a single list of tuples (date, price)
flat_data = [(item[0], item[1]) for sublist in matches_list for item in sublist]

# Creating DataFrame with two columns: 'date' and 'price'
df = pd.DataFrame(flat_data, columns=['date', 'price'])

# Displaying the DataFrame
df

                 date       price
0          April 2013     $340000
1       November 2011     $340000
2          April 2013     $499OOO
3       November 2011     $499000
4          April 2013      $65OOO
...               ...         ...
561211      July 2012     $329000
561212      July 2012     $369000
561213      July 2012  $115000 -
561214      July 2012     $359000
561215      July 2012     $425000

[561216 rows x 2 columns]

In [255]:
dddf_list = ddf[['address', 'rented_prices_cleaned']].values.tolist()
dddf_list

[['ùü∏ùüª-ùü∏ùüΩ ùôª–û’çIS R–ûŒëD \u200b- ùü∑ST ŒïSTŒëTŒï, VŒïN’çS BAY\u200b\xa0',
  "[{'date': 'April 2013', 'price': '$340000'}, {'date': 'November 2011', 'price': '$340000'}]"],
 ['85 PANDORA AVENUE - 1ST ESTATE, VENUS BAY',
  "[{'date': 'April 2013', 'price': '$499OOO'}, {'date': 'November 2011', 'price': '$499000'}]"],
 ['ùü®-ùü™ –íùôªŒë–°K AVEN\u200bUE, VENUS BAY',
  "[{'date': 'April 2013', 'price': '$65OOO'}, {'date': 'December 2011', 'price': '$65000'}, {'date': 'July 2011', 'price': '$65000'}, {'date': 'April 2011', 'price': '$65OOO'}]"],
 ['2 SYDNEY COURT, VŒïN’çS –íŒëY\xa0',
  "[{'date': 'April 2013', 'price': '$349OOO'}, {'date': 'July 2011', 'price': '$349000'}, {'date': 'June 2011', 'price': '$349000'}]"],
 ['119 JUPITER BLVD, VŒïN’çS –íŒëY\xa0',
  "[{'date': 'April 2013', 'price': '$250000'}, {'date': 'July 2011', 'price': '$25O,OOO'}, {'date': 'January 2011', 'price': '$250000'}, {'date': 'September 2010', 'price': '$250000'}]"],
 ['1\u200b HAK\u200bEA STRŒïŒïT, VŒïN’çS –íŒëY',
  "[{'date': 'April 2013', 'price': '$320000'}, {'date': 'July 2011', 'price': '$32OOO,OOO'}, {'date': 'July 2011', 'price': '$32O,OOO'}]"],
 ['ùüª –ûRI–ûN R–ûŒëD - ùü∑ST ESTAT\u200bE, VENUS BAY',
  "[{'date': 'April 2013', 'price': '$28O,OOO'}, {'date': 'March 2012', 'price': '$280000'}, {'date': 'December 2011', 'price': '2800\u200b00', {'date': 'October 2011', 'price': '$280000'}]"],
 ['ùü∏ùüª-ùü∏ùüΩ ùôª–û’çIS \u200bROAD - FIR\u200bST ŒïSTŒëTŒï, VENUS BAY',
  "[{'date': 'April 2013', 'price': '$34O,OOO'}, {'date': 'January 2012', 'price': '$340000'}]"],
 ['\u200b5 DO\u200bROTHY STRŒïŒïT - ùü∏ND ŒïSTŒëTŒï, VŒïN’çS –íŒëY\xa0',
  "[{'date': 'April 2013', 'price': '$22O,OOO'}, {'date': 'January 2012', 'price': '$22O,OOO'}, {'date': 'November 2011', 'price': '$220000'}]"],
 ['33 –íùôªŒë–°K AV\u200bENUE -\u200b 2\u200bND ŒïSTŒëTŒï, VEN\u200bUS BA\u200bY',
  "[{'date': 'April 2013', 'price': '$259000'}, {'date': 'January 2012', 'price': '$259000'}, {'date': 'February 2012', 'price': '$259000'}, {'date': 'November 2011', 'price': '$259OOO'}]"],
 ['\u200b24 MŒïR–°’çRY DRIVŒï \u200b- ùü∑ST ŒïSTŒëTŒï, \u200bVENUS –íŒëY\xa0',
  "[{'date': 'April 2013', 'price': '$349000'}, {'date': 'February 2012', 'price': '$349OOO'}, {'date': 'February 2012', 'price': '$349OOO Pl’Ωs'}]"],
 ['18 ATKINSON AVENUE, VENUS BAY',
  "[{'date': 'April 2013', 'price': '$299000'}, {'date': 'September 2011', 'price': '$299OO,OOO'}, {'date': 'September 2011', 'price': '$299000'}]"],
 ['ùüªùü∑ PŒëND–ûRŒë AVENU\u200bE - ùü∑ST ŒïSTŒëTŒï, VENUS BAY',
  "[{'date': 'April 2013', 'price': '$259000'}, {'date': 'January 2012', 'price': '$259000'}, {'date': 'February 2012', 'price': '$259000'}, {'date': 'November 2011', 'price': '$259OOO'}]"],
 ['3ùüΩ M–°IND–ûŒï AVENU\u200bE - ùü∏ND ŒïSTŒëTŒï\xa0, VENUS BAY',
  "[{'date': 'April 2013', 'price': '$45O,OOO'}, {'date': 'April 2013', 'price': '$420000 Reduced'}, {'date': 'July 2012', 'price': '$420000 Reduced'}, {'date': 'February 2012', 'price': '$450000'}, {'date': 'January 2012', 'price': '$450000'}]"],
 ['\u200b10 CRIC\u200bHTON –°RŒïS–°ŒïNT - ùü∑ST ŒïSTŒëTŒï, VENUS BAY',
  "[{'date': 'April 2013', 'price': '$279000'}, {'date': 'February 2012', 'price': '$279000'}, {'date': 'January 2012', 'price': '$279000'}, {'date': 'November 2011', 'price': '$279000'}]"],
 ['804\u200b ùôªŒïŒïS R–ûŒëD -\u200b 3RD ŒïSTŒëTŒï\xa0, VENUS BAY',
  "[{'date': 'April 2013', 'price': '$795000'}, {'date': 'February 2012', 'price': '$795000'}, {'date': 'January 2012', 'price': '$795000'}, {'date': 'November 2011', 'price': '$795000'}]"],
 ['41 MERCURY DRIVE, VENUS BAY',
  "[{'date': 'April 2013', 'price': '$139000'}, {'date': 'February 2012', 'price': '139OOO', {'date': 'January 2012', 'price': '$139000'}, {'date': 'November 2011', 'price': '$139000'}, {'date': 'September 2011', 'price': '$139000'}]"],
 ['27\u200b ùôª–û’çIS R–ûŒëD - FIRST EST\u200bATE, VŒïN’çS B\u200bAY\xa0',
  "[{'date': 'April 2013', 'price': '$115OOO'}, {'date': 'March 2012', 'price': '$115000'}]"],
 ['1\u200b85 ùôªŒïŒïS R–ûŒëD -\u200b FIRST ŒïSTŒëTŒï, VENUS BAY',
  "[{'date': 'April 2013', 'price': '$249500'}, {'date': 'April 2013', 'price': '$22O,OOO'}, {'date': 'April 2012', 'price': '$210000'}, {'date': 'March 2012', 'price': '$2495OO'}, {'date': 'December 2011', 'price': '$249500'}]"],
 ['\u200b196 JUPI\u200bTER BLV\u200bD - ùü∑ST ESTA\u200bTE, VŒïN’çS –íŒëY',
  "[{'date': 'April 2013', 'price': '$239OOO'}, {'date': 'March 2012', 'price': '$239OOO'}, {'date': 'January 2012', 'price': '$239000'}, {'date': 'November 2011', 'price': '$239000'}]"],
 ['24 MERCURY DRIVE, VENUS BAY',
  "[{'date': 'April 2013', 'price': '$345000'}, {'date': 'February 2012', 'price': '$345000'}, {'date': 'November 2011', 'price': '$365000'}, {'date': 'October 2011', 'price': '$365000'}, {'date': 'September 2011', 'price': '$365000'}, {'date': 'August 2011', 'price': '$365OOO'}, {'date': 'October 2010', 'price': '$365OOO'}]"],
 ['191 JUPITER BOULEVARD - 1ST ESTATE, VENUS BAY',
  "[{'date': 'April 2013', 'price': '$255OOO'}, {'date': 'November 2011', 'price': '$255000'}]"],
 ['27 FISHERMANS ROAD - SECOND ESTATE, VŒïN’çS B\u200bAY',
  "[{'date': 'April 2013', 'price': '$275OOO'}, {'date': 'April 2012', 'price': '$275000'}]"],
 ['\u200b9 \u200bOUTLOOK DRIVŒï - ùü∏ND E\u200bSTATE\xa0, V\u200bENUS –íŒëY',
  "[{'date': 'April 2013', 'price': '$249000'}, {'date': 'November 2011', 'price': '$249OOO'}]"],
 ['10 ALBERT AVENUE - 1ST ESTATE, VENUS BAY',
  "[{'date': 'April 2013', 'price': '$280000'}, {'date': 'November 2011', 'price': '$28O,OOO'}]"],
 ['77 CANTERBURY ROAD - FIRST ESTATE, VŒïN’çS –íŒëY',
  "[{'date': 'April 2013', 'price': '$246500'}, {'date': 'April 2012', 'price': '2465OO']"],
 ['ùü∏ ŒëNTH–ûNY ŒëVŒïN’çŒï - 1S\u200bT ESTATE\u200b, V\u200bENUS –íŒëY\xa0',
  "[{'date': 'April 2013', 'price': '$235000'}, {'date': 'April 2012', 'price': '$235OOO'}]"],
 ['3 OUTLOOK DRIVE - 2ND ESTATE, VENUS BAY',
  "[{'date': 'April 2013', 'price': '$279000'}, {'date': 'November 2011', 'price': '$279000'}]"],
 ['7 JUNO ROAD, VŒïN’çS –íŒëY',
  "[{'date': 'April 2013', 'price': '$95OOO'}, {'date': 'September 2011', 'price': '$95000'}, {'date': 'November 2011', 'price': '$95000'}]"],
 ['ùüΩ3ùü®-ùüΩ3ùü™ LE\u200bES \u200bROAD - ùü∏ND ES\u200bTATE, VŒïN’çS –íŒëY',
  "[{'date': 'April 2013', 'price': '$399OOO'}, {'date': 'December 2011', 'price': '$399OOO'}, {'date': 'November 2011', 'price': '$399000'}]"],
 ['36 ORION ROAD - 1ST ESTATE, VŒïN’çS BA\u200bY',
  "[{'date': 'April 2013', 'price': '$135000'}, {'date': 'December 2011', 'price': '$135000'}]"],
 ['5 KEITH STREET - 1ST ESTATE, VŒïN’çS BAY\u200b',
  "[{'date': 'April 2013', 'price': '239000\u200b', {'date': 'December 2011', 'price': '$239000'}, {'date': 'November 2011', 'price': '$239000'}, {'date': 'October 2011', 'price': '$239OOO'}]"],
 ['82\u200b AT\u200bHERTON DRV, VENUS BAY',
  "[{'date': 'May 2012', 'price': 'Contact'}, {'date': 'April 2012', 'price': '–°·¥ènt–∞—Åt'}, {'date': 'March 2012', 'price': 'P–ûŒë'}]"],
 ['4-8 MARGARET AVENUE - 2ND ESTATE, VENUS BAY', '[]'],
 ['1\u200b ÕøŒëNŒï STR\u200bEET - ùü∏ND ŒïSTŒëTŒï\xa0, \u200bVENUS BA\u200bY',
  "[{'date': 'April 2013', 'price': '$345OOO'}, {'date': 'December 2011', 'price': '$345OOO'}, {'date': 'November 2011', 'price': '$345000'}]"],
 ['3 Õø’çPITŒïR –í–û’çùôªŒïVŒëRD - \u200b1ST ŒïSTŒëTŒï, VŒïN’çS –íŒëY\xa0',
  "[{'date': 'April 2013', 'price': '$289000'}, {'date': 'January 2012', 'price': '$289OOO'}, {'date': 'November 2011', 'price': '$289000'}]"],
 ['19\u200b ŒëNITŒë –°RŒïSŒïNT \u200b- ùü∏ND \u200bESTATE\xa0, VENUS\u200b –íŒëY\xa0',
  "[{'date': 'April 2013', 'price': '$225OOO'}, {'date': 'June 2012', 'price': '$225000'}, {'date': 'January 2012', 'price': '$225000'}, {'date': 'November 2011', 'price': '225OOO']"],
 ['ùü∑Oùü∑ FISHŒïRMŒëNS R–ûŒëD\xa0, VENUS BAY',
  "[{'date': 'April 2013', 'price': '$38O,OOO'}, {'date': 'September 2011', 'price': '$38O,OOO'}, {'date': 'May 2011', 'price': '$380000'}, {'date': 'February 2011', 'price': '$380000'}]"],
 ['ùü∑ùü´3 Õø’çPITŒïR –í–û’çùôªŒïVŒëRD - ùü∑ST ŒïSTŒëTŒï\xa0, VEN\u200bUS –íŒëY',
  "[{'date': 'April 2013', 'price': '$398000'}, {'date': 'January 2012', 'price': '$398OOO'}, {'date': 'June 2012', 'price': '$398000'}, {'date': 'November 2011', 'price': '$398000'}]"],
 ['3\u200b5 ŒëNITŒë C\u200bRESCENT - ùü∏ND ŒïSTŒëTŒï\xa0, VENU\u200bS BA\u200bY\xa0',
  "[{'date': 'April 2013', 'price': '$269000'}, {'date': 'June 2012', 'price': '$269000'}, {'date': 'February 2012', 'price': '$269OOO'}]"],
 ['44-46 SATELLITE CRESCENT - FIRST ESTATE, VENUS BAY',
  "[{'date': 'April 2013', 'price': '$259000'}, {'date': 'January 2012', 'price': '$259000'}]"],
 ['45 LEES ROAD - FIRST ESTATE, VENUS BAY',
  "[{'date': 'April 2013', 'price': '$225OOO'}, {'date': 'January 2012', 'price': '$225000'}]"],
 ['64 INLET VIEW ROAD - 1ST ESTATE, VENUS BAY',
  "[{'date': 'April 2013', 'price': '$215000'}, {'date': 'February 2012', 'price': '$215OOO'}]"],
 ['ùü∏ùüª ùôª–û’çIS R–ûŒëD - FIRST ES\u200bTATE, VENUS BAY',
  "[{'date': 'April 2013', 'price': '$249900'}, {'date': 'February 2012', 'price': '$249900'}]"],
 ['Ôºîùü∏ \u200bSATURN PŒëRŒëDŒï - ùü∑ST EST\u200bATE\xa0, VŒïN’çS \u200bBAY',
  "[{'date': 'April 2013', 'price': '$259000'}, {'date': 'February 2012', 'price': '$259000'}, {'date': 'October 2011', 'price': '$259OOO'}]"],
 ['3 GRO\u200bGAN –°–û’çRT - ùü∑ST ŒïSTŒëTŒï, \u200bVENUS B\u200bAY',
  "[{'date': 'April 2013', 'price': '$565000'}, {'date': 'November 2011', 'price': '$565000'}]"],
 ['2\u200b29 \u200bJUPITER \u200bBOULEVARD - ùü∑ST ŒïSTŒëTŒï, VENU\u200bS –íŒëY\xa0',
  "[{'date': 'April 2013', 'price': '249OOO', {'date': 'September 2012', 'price': '$249000'}, {'date': 'August 2012', 'price': '$249000'}, {'date': 'July 2012', 'price': '$249000'}]"],
 ['85 CANTERBURY ROAD - FIRST ESTATE, VENUS BAY',
  "[{'date': 'April 2013', 'price': '$17O,OOO'}, {'date': 'April 2012', 'price': '$170000'}]"],
 ['1 MILKY WAY - FIRST ESTATE, VŒïN’çS \u200bBAY\xa0',
  "[{'date': 'April 2013', 'price': '$229000'}, {'date': 'May 2012', 'price': '$229000'}, {'date': 'April 2012', 'price': '$229000'}]"],
 ['3ùü® SŒëT’çRN P\u200bARADE - ùü∑ST ŒïSTŒëTŒï, VŒïN’çS –íŒëY\xa0',
  "[{'date': 'April 2013', 'price': '$225000'}, {'date': 'October 2012', 'price': 'Reduced'}, {'date': 'September 2012', 'price': \u200bReduced']"],
 ['3 GLENVUE ROAD, RYE', "[{'date': 'May 2007', 'price': '$262000'}]"],
 ['139 BRIGHT DRIVE, RYE', "[{'date': 'May 2007', 'price': '$240000'}]"],
 ['ùü∏/ùü∑ùü™ HY‘åŒïIŒë STRŒïŒïT, RYE', "[{'date': 'May 2007', 'price': '$235000'}]"],
 ['53 BECKET STREET, RYE', "[{'date': 'April 2007', 'price': '$850000'}]"],
 ['38 HOGAN DRIVE, RYŒï\xa0', "[{'date': 'April 2007', 'price': '$269OOO'}]"],
 ['ùüªùü´ TH–ûMS–ûN TŒïRRŒë–°Œï\xa0, RYŒï\xa0',
  "[{'date': 'April 2007', 'price': '$269000'}]"],
 ['ùü∑ùü∑ LOATTA\u200b STRŒïŒïT, RYŒï',
  "[{'date': 'April 2007', 'price': '$329OOO'}]"],
 ['3\u200b6 D–ûŒï STR\u200bEET, RYŒï',
  "[{'date': 'April 2007', 'price': '$269OOO'}]"],
 ['3 WARGUNDY STREET, RYŒï', "[{'date': 'April 2007', 'price': '$279000'}]"],
 ['17\u200b KARKAROO\u200bK R–ûŒëD, RYE',
  "[{'date': 'April 2007', 'price': '$235000 +'}]"],
 ['60 NAUTILUS STREET, RYE',
  "[{'date': 'April 2007', 'price': '$68O,OOO - '74O,OOO'}]"],
 ['8 ANGELA COURT, RYE', "[{'date': 'April 2007', 'price': '$175OOO '}]"],
 ['2-\u200b4 H\u200bUNT STRŒïŒïT\xa0, RYE',
  "[{'date': 'April 2007', 'price': '$435OOO From'}]"],
 ['ùü∏ùü™ ŒëNŒïùôªIDŒë STRŒïŒïT\xa0, RYE',
  "[{'date': 'April 2007', 'price': '2595OO', {'date': 'March 2007', 'price': '$259500'}]"],
 ['17 FORD STREET, RYŒï', '[]'],
 ['41 THOMSON TERRACE, RYE',
  "[{'date': 'April 2007', 'price': '$270000 - '290000'}]"],
 ['5\u200b7 INùôªŒë STRE\u200bET, RYE',
  "[{'date': 'April 2007', 'price': '$285000'}]"],
 ['ùü∑ùü∏ HIùôªŒëRY AV\u200bENUE\xa0, RYE',
  "[{'date': 'April 2007', 'price': '$33O,OOO'}]"],
 ['33 V\u200bALLEY DRIVŒï, RYE',
  "[{'date': 'April 2007', 'price': '$370000 - '41O,OOO'}]"],
 ['ùü∑ùü∏ D–ûùôªPHIN ŒëVŒïN’çŒï, RYE\u200b',
  "[{'date': 'April 2007', 'price': '$340000 - '36O,OOO'}]"],
 ['2735 PT NEPEAN RD, RYŒï', "[{'date': 'April 2007', 'price': '$145O,OOO'}]"],
 ['\u200b1 WŒëùôª–íR–û–ûK RO\u200bAD\xa0, RYŒï',
  "[{'date': 'April 2007', 'price': '$549500'}]"],
 ['17 MICHAEL STREET, RYE',
  "[{'date': 'February 2007', 'price': '$450000 - '495OOO'}]"],
 ['ùü∑Ôºî KEA\u200bTS –°–û’çRT, RY\u200bE',
  "[{'date': 'April 2007', 'price': '$445000'}, {'date': 'February 2007', 'price': '445OOO']"],
 ['ùü∑ùü™ LOCKSLE\u200bY R–ûŒëD, RYE',
  "[{'date': 'April 2007', 'price': '$429500'}]"],
 ['ùü∏O PHYùôªùôªIS PA\u200bRADE\xa0, RYŒï',
  "[{'date': 'April 2007', 'price': '$245000'}]"],
 ['\u200b14 MITRANGIS\u200b PùôªŒë–°Œï, RYŒï',
  "[{'date': 'April 2007', 'price': '$28O,OOO - '280000 Price '}, {'date': 'February 2007', 'price': '$280000'}]"],
 ['10\u200b \u200bCAIN R–ûŒëD, RYE',
  "[{'date': 'April 2007', 'price': '$480000 - '53O,OOO'}]"],
 ['38 BOORAN PARADE TOOTGAROOK, RYE',
  "[{'date': 'April 2007', 'price': '$270000 - '290000'}]"],
 ['46\u200b-48 H–ûRNŒïRS ùôªŒëNŒï\xa0, RYE', '[]'],
 ['37 HYGEIA STREET, RYŒï', "[{'date': 'April 2007', 'price': '$595OOO'}]"],
 ['ùü∑3 NER\u200bISSA STRE\u200bET\xa0, RY\u200bE',
  "[{'date': 'April 2007', 'price': '$37O,OOO Sell—ñn÷Å N·¥èw'}]"],
 ['2531 PT NEPEAN ROAD, RYŒï',
  "[{'date': 'April 2007', 'price': '$590000 Auction'}]"],
 ['34 STRATHMORE ROAD, RYE',
  "[{'date': 'April 2007', 'price': '$290000 - '32O,OOO'}]"],
 ['64 RUSSELL STREET TOOTGAROOK, RYE',
  "[{'date': 'April 2007', 'price': '$39O,OOO Auction'}]"],
 ['2\u200b3 T’çŒïR–ûN‘å STRŒïŒïT, RYŒï',
  "[{'date': 'April 2007', 'price': '$245000'}]"],
 ['19 PARSON, RYE', "[{'date': 'April 2007', 'price': '$689500'}]"],
 ['\u200b8 RID‘åŒï –°–û’çRT\xa0, RYE',
  "[{'date': 'April 2007', 'price': '$525000'}]"],
 ['139 BRIGHTS DRIVE, RYE', "[{'date': 'April 2007', 'price': '$24O,OOO'}]"],
 ['ùü∏ùüΩ SŒïRINŒë STRŒïŒïT, RYE',
  "[{'date': 'March 2007', 'price': '$950000'}, {'date': 'February 2007', 'price': '95O,OOO']"],
 ['2 KOROWA STREET, RYE',
  "[{'date': 'March 2007', 'price': '$485000'}, {'date': 'February 2007', 'price': '$495OOO'}]"],
 ['ùü∑ùüª \u200bALEXANDRA CRESCENT\u200b, RYŒï',
  "[{'date': 'March 2007', 'price': '$565OOO'}, {'date': 'February 2007', 'price': '$565OOO'}]"],
 ['ùü∏O3ùü´ POIN\u200bT \u200bNEPEAN R–ûŒëD, RYE',
  "[{'date': 'March 2007', 'price': 'Œë’Ω—Åt—ñ·¥èn'}]"],
 ['ùüª3 ‘å–ûRD–ûN STRŒïŒïT, RYE',
  "[{'date': 'March 2007', 'price': '$29O,OOO - '32O,OOO'}]"],
 ['51 MICHAEL STREET, RYŒï\xa0',
  "[{'date': 'March 2007', 'price': 'Auction'}]"],
 ['15 FAIRWAY DR, RYE\u200b',
  "[{'date': 'March 2007', 'price': '$280000 +'}]"],
 ['\u200b3 M–ûN–ûMŒïITH ŒëVŒïN’çŒï, RYE',
  "[{'date': 'March 2007', 'price': '$235OOO'}]"],
 ['10 CARRAMAR STREET, RYŒï',
  "[{'date': 'March 2007', 'price': '$265OOO'}, {'date': 'February 2007', 'price': '$282000'}]"],
 ['ùü∑ùüΩ –íŒëRKŒëùôªŒë \u200bST, RYE',
  "[{'date': 'March 2007', 'price': '$23O,OOO - '255OOO'}]"],
 ['UNIT 45 MUIRFIELD LANE MOONAH LINKS, RYŒï\xa0',
  "[{'date': 'February 2007', 'price': '$290000'}]"],
 ['1/ 1182 FRANKSTON FLINDERS ROAD, NEWLANDS ESTATE',
  "[{'date': 'November 2009', 'price': '$284950'}]"],
 ['7 MAIN STREET, NEWLANDS ESTATE',
  "[{'date': 'November 2009', 'price': '$840000 - '900000'}]"],
 ['2/ 18 TANIYHA PLACE, NEWLANDS ESTATE', '[]'],
 ['LOT 2/15 WALSHS ROAD, NEWLANDS ESTATE', '[]'],
 ['8/ 7 ANN STREET, NEWLANDS ESTATE',
  "[{'date': 'November 2009', 'price': '$148000'}]"],
 ['LOT 111 SUMMERHILL BOULEVARD, NEWLANDS ESTATE',
  "[{'date': 'November 2009', 'price': '$107000'}]"],
 ['2/ 33 BENNETT STREET, NEWLANDS ESTATE',
  "[{'date': 'November 2009', 'price': '$135000'}]"],
 ['2/ 18A MINOGUE STREET, NEWLANDS ESTATE',
  "[{'date': 'November 2009', 'price': '$220000 - '240000'}]"],
 ['2/ 182 COPERNICUS WAY, NEWLANDS ESTATE', '[]'],
 ['2/ 127 CLAYTON ROAD (FACING ROSSDALE ST), NEWLANDS ESTATE',
  "[{'date': 'November 2009', 'price': '$620000 +'}]"],
 ['1/ 127 CLAYTON ROAD, NEWLANDS ESTATE',
  "[{'date': 'November 2009', 'price': '$700000 Plus'}]"],
 ['9/ 556 MORELAND ROAD, NEWLANDS ESTATE', '[]'],
 ['1/ 27 RUTH STREET, NEWLANDS ESTATE',
  "[{'date': 'November 2009', 'price': 'Auction'}]"],
 ['LOT 2/155 WARREN TERRACE, NEWLANDS ESTATE',
  "[{'date': 'November 2009', 'price': '$119000'}]"],
 ['1/ 109 BLUFF ROAD, NEWLANDS ESTATE',
  "[{'date': 'November 2009', 'price': '$595000'}]"],
 ['2213/220 SPENCER STREET, MŒïùôª–í–û’çRNŒï',
  "[{'date': 'March 2023', 'price': '$560000 - '610000'}]"],
 ['615/118 FRANKLIN STREET, MŒïùôª–í–û’çRNŒï',
  "[{'date': 'March 2023', 'price': '$22O,OOO - '23O,OOO'}]"],
 ['2803B/250 SPENCER ST, MELBOURNE',
  "[{'date': 'March 2023', 'price': '$516400'}]"],
 ['ùü∏3Oùü®Œë/ùü∏ùüªO SPŒïN–°ŒïR ST, MELBOURN\u200bE\xa0',
  "[{'date': 'March 2023', 'price': '$483800'}]"],
 ['3ùü®Oùü®–í/ùü∏ùüªO SPŒïN–°ŒïR ST\xa0, MELBOURNE',
  "[{'date': 'March 2023', 'price': '$474000'}]"],
 ['1707A/250 SPENCER ST, MELBOURNE',
  "[{'date': 'March 2023', 'price': '$481400'}]"],
 ['3ùüªOùüΩ–í/ùü∏ùüªO SPŒïN–°ŒïR ST, MELBOURNE',
  "[{'date': 'March 2023', 'price': '4736OO']"],
 ['2407B/250 SPENCER ST, MŒïùôª–í–û’çRNŒï',
  "[{'date': 'March 2023', 'price': '$469200'}]"],
 ['1301/200 SPENCER STREET, MELBOURNE',
  "[{'date': 'March 2023', 'price': '$535OOO - '588000'}]"],
 ['LEVEL 9, 915/222 RUSSELL STREET, \u200bMELBOURNE\xa0',
  "[{'date': 'March 2023', 'price': '$545000'}]"],
 ['512/33 MACKENZIE STREET, MŒïùôª–í–û’çRNŒï\xa0',
  "[{'date': 'March 2023', 'price': 'Private S–∞le'}, {'date': 'March 2017', 'price': 'Under Offer'}]"],
 ['508/22 COROMANDEL PLACE, MELBOURN\u200bE',
  "[{'date': 'March 2023', 'price': '$360000 - '380000'}]"],
 ['508/300 SWANSTON STREET, MELBOURNE',
  "[{'date': 'March 2023', 'price': 'Pr—ñv–∞te S–∞le'}, {'date': 'July 2014', 'price': '$400000 - '440000'}, {'date': 'July 2014', 'price': Œë’Ω—Åt—ñ·¥èn', {'date': 'July 2014', 'price': '$390000 - '430000 Auction'}, {'date': 'March 2013', 'price': '$41O,OOO'}]"],
 ['1916/220 SPENCER STREET, MELBOURN\u200bE\xa0',
  "[{'date': 'March 2023', 'price': '3\u200b40000', {'date': 'December 2021', 'price': '–°·¥ènt–∞—Åt'}, {'date': 'November 2021', 'price': 'Contact'}]"],
 ['1501\u200b/639 LONSDAL\u200bE STRŒïŒïT, ME\u200bLBOURNE\xa0',
  "[{'date': 'March 2023', 'price': '$399OOO - '438OOO'}]"],
 ['86/120 STURT STREET, MŒïùôª–í–û’çRNŒï',
  "[{'date': 'March 2023', 'price': 'Unless Sold prior'}]"],
 ['1009/333 EXHIBITION STREET, MŒïùôª–í–û’çRNŒï',
  "[{'date': 'March 2023', 'price': 'Under Offer'}]"],
 ["1911/80 A'BECKETT STREET, MŒïùôª–í–û’çRNŒï",
  "[{'date': 'March 2023', 'price': '$43O,OOO - '440000'}]"],
 ['21\u200b6/422 –°–ûùôªùôªINS S\u200bTREET\xa0, MELBOURNE',
  "[{'date': 'March 2023', 'price': 'Unless Sold prior'}, {'date': 'December 2021', 'price': '$58O,OOO - '62O,OOO Private '}, {'date': 'January 2021', 'price': '$615OOO Private S–∞le'}, {'date': 'July 2021', 'price': '615OOO', {'date': 'February 2021', 'price': '$615000 Private Sale'}, {'date': 'February 2021', 'price': 'Contact'}, {'date': 'December 2020', 'price': 'Contact'}, {'date': 'June 2020', 'price': Œë’Ω—Åt—ñ·¥èn', {'date': 'August 2011', 'price': '$415000'}]"],
 ['1306/557 LITTLE LONSDALE STREET, MELBOURNE',
  "[{'date': 'March 2023', 'price': '$275000 - '300000'}]"],
 ['ùüªOùüª/ùü∑ùüªùüª FRŒëNKùôªIN S\u200bT, MEL\u200bBOURNE',
  "[{'date': 'March 2023', 'price': '3400\u200b00'}]"],
 ['ùü®ùü∑/ùü∏Ôºî-3ùü™ L\u200bITTLE –í–û’çRKŒï STRŒïŒïT\xa0, MŒïùôª–í–û’çRNŒï',
  "[{'date': 'March 2023', 'price': '$220000 - '}]"],
 ['1401/1\u200b81 Œë–íŒï–°KŒïTT ST, M\u200bELBOURNE',
  "[{'date': 'March 2023', 'price': '$25O,OOO'}]"],
 ['812/610 ST KILDA ROAD, MELBOURNE',
  "[{'date': 'March 2023', 'price': 'Auction'}]"],
 ['210 / 565 FLINDERS STREET, MELBOURNE',

In [263]:
# Create a DataFrame from the data
adf = pd.DataFrame(dddf_list, columns=['address', 'rented_prices'])
adf

,address,rented_prices
0,"ùü∏ùüª-ùü∏ùüΩ ùôª–û’çIS R–ûŒëD ‚Äã- ùü∑ST ŒïSTŒëTŒï, VŒïN’çS BAY‚Äã","[{'date': 'April 2013', 'price': '$340000'}, {..."
1,"85 PANDORA AVENUE - 1ST ESTATE, VENUS BAY","[{'date': 'April 2013', 'price': '$499OOO'}, {..."
2,"ùü®-ùü™ –íùôªŒë–°K AVEN‚ÄãUE, VENUS BAY","[{'date': 'April 2013', 'price': '$65OOO'}, {'..."
3,"2 SYDNEY COURT, VŒïN’çS –íŒëY","[{'date': 'April 2013', 'price': '$349OOO'}, {..."
4,"119 JUPITER BLVD, VŒïN’çS –íŒëY","[{'date': 'April 2013', 'price': '$250000'}, {..."
...,...,...
281560,"ùü∑ùü∑ùü∑ JUS‚ÄãTICE, COW‚ÄãES","[{'date': 'July 2012', 'price': '$329000'}]"
281561,"ùüΩ RŒïDW–û–ûD, –°–ûWŒïS","[{'date': 'July 2012', 'price': '$369000'}]"
281562,"LOT 2/ 59 MCHAFFIE, –°–ûWŒïS","[{'date': 'July 2012', 'price': '$115000 - '12..."
281563,"ùü®Œë –íRŒëDùôªŒïY, COWES","[{'date': 'July 2012', 'price': '$359000'}]"
281564,"89 DUNES ROAD, COWES","[{'date': 'July 2012', 'price': '$425000'}]"

In [165]:
create_dir('../data/raw/see')
ddf[['rented_prices_cleaned']].to_csv('../data/raw/see/see6.csv', index=False)

Directory already exists: ../data/raw/see