# Preprocessing oldlisting_buy_6

In [1]:
import sys, os
sys.path.append(os.path.abspath('../'))
from scripts.utils import create_dir, get_runtime
import time 
start_time = time.time()

import pandas as pd
import re
import ast

Exception ignored in: <bound method IPythonKernel._clean_thread_parent_frames of <ipykernel.ipkernel.IPythonKernel object at 0x7f892185b730>>
Traceback (most recent call last):
  File "/home/paulyao/.local/lib/python3.10/site-packages/ipykernel/ipkernel.py", line 775, in _clean_thread_parent_frames
    def _clean_thread_parent_frames(
KeyboardInterrupt:

In [48]:
# Load your dataset (replace with the correct path to your CSV file)
file_path = "../data/landing/oldlistings_buy/oldlistings_buy_6.csv"
df = pd.read_csv(file_path)

# Helper functions to extract and process data
def expand_rented_prices(row):
    try:
        rent_list = ast.literal_eval(row['rented_prices'])
        rows = []
        for rent in rent_list:
            new_row = row.copy()
            new_row['rented_price'] = rent.get('price', None)
            new_row['date'] = rent.get('date', None)
            rows.append(new_row)
        return pd.DataFrame(rows)
    except (ValueError, SyntaxError):
        return pd.DataFrame([row])

def extract_from_meta_data(meta_data_str, label):
    try:
        meta_list = ast.literal_eval(meta_data_str)
        for item in meta_list:
            if item.get('label') == label:
                return item.get('quantity', None)
    except Exception:
        return None

# Apply the process to expand the first 100 rows (or all rows if needed)
expanded_rows = pd.concat([expand_rented_prices(row) for _, row in df.iterrows()], ignore_index=True)

# Extract meta_data columns for bed, bath, car, land, type
expanded_rows['bed'] = expanded_rows['meta_data'].apply(lambda x: extract_from_meta_data(x, 'bed'))
expanded_rows['bath'] = expanded_rows['meta_data'].apply(lambda x: extract_from_meta_data(x, 'bath'))
expanded_rows['car'] = expanded_rows['meta_data'].apply(lambda x: extract_from_meta_data(x, 'car'))
expanded_rows['land'] = expanded_rows['meta_data'].apply(lambda x: extract_from_meta_data(x, 'land'))
expanded_rows['type'] = expanded_rows['meta_data'].apply(lambda x: extract_from_meta_data(x, 'type'))

# Keep only relevant columns
final_expanded_df = expanded_rows[['lat', 'lng', 'address', 'bed', 'bath', 'car', 'land', 'type', 'rented_price', 'date']]

# Optionally, print or view the dataframe
# print(final_expanded_df)

In [49]:
digit_translation_table = str.maketrans({
    'ï¼': '0', 'ï¼‘': '1', 'ï¼’': '2', 'ï¼“': '3', 'ï¼”': '4', 'ï¼•': '5', 'ï¼–': '6', 'ï¼—': '7', 'ï¼˜': '8', 'ï¼™': '9',
    'ğŸ¶': '0', 'ğŸ·': '1', 'ğŸ¸': '2', 'ğŸ¹': '3', 'ğŸº': '4', 'ğŸ»': '5', 'ğŸ¼': '6', 'ğŸ½': '7', 'ğŸ¾': '8', 'ğŸ¿': '9',
    'ğŸ¢': '0', 'ğŸ£': '1', 'ğŸ¤': '2', 'ğŸ¥': '3', 'ğŸ¦': '4', 'ğŸ§': '5', 'ğŸ¨': '6', 'ğŸ©': '7', 'ğŸª': '8', 'ğŸ«': '9',
    'ğŸ˜': '0', 'ğŸ™': '1', 'ğŸš': '2', 'ğŸ›': '3', 'ğŸœ': '4', 'ğŸ': '5', 'ğŸ': '6', 'ğŸŸ': '7', 'ğŸ ': '8', 'ğŸ¡': '9',
    'ğ¾': '0', 'ğ¿': '1', 'ğŸ': '3'
})

In [50]:
# Function to clean rented_prices
final_expanded_df['property_price_cleaned'] = (
    final_expanded_df['rented_price']
    .str.replace(r'\u200b', '', regex=False)           # Remove zero-width space
    .str.replace(r'\xa0', '', regex=False)             # Remove non-breaking space
    .str.replace(r'<span>', '', regex=False)           # Remove <span> tag
    .str.replace(r'</span>', '', regex=False)          # Remove </span> tag
    .str.replace(r'<SPAN>', '', regex=False)           # Remove <SPAN> tag
    .str.replace(r'</SPAN>', '', regex=False)          # Remove </SPAN> tag
    .str.translate(digit_translation_table)           # Translate full-width digits to half-width digits
)

/tmp/ipykernel_9400/1370685432.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_expanded_df['property_price_cleaned'] = (

In [51]:
# Replace "O" with "0" in rented_price_cleaned
final_expanded_df['property_price_cleaned'] = final_expanded_df['property_price_cleaned'].str.replace('O', '0')

/tmp/ipykernel_9400/2979407506.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_expanded_df['property_price_cleaned'] = final_expanded_df['property_price_cleaned'].str.replace('O', '0')

In [52]:
# Replace all non-numeric characters with NaN from rented_price_cleaned except for commas and "$" signs and "-" signs
final_expanded_df['property_price_cleaned'] = final_expanded_df['property_price_cleaned'].str.replace(r'[^0-9,$-]', '', regex=True)

/tmp/ipykernel_9400/2754561085.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_expanded_df['property_price_cleaned'] = final_expanded_df['property_price_cleaned'].str.replace(r'[^0-9,$-]', '', regex=True)

In [53]:
# Function to clean and handle range prices by calculating the average
def clean_price(price):
    if pd.isna(price):
        return price  # Return NaN as is
    # Handle price ranges like "$425,000-$455,000"
    range_match = re.match(r"\$(\d+,\d+)-\$(\d+,\d+)", price)
    if range_match:
        low_price = int(range_match.group(1).replace(',', ''))
        high_price = int(range_match.group(2).replace(',', ''))
        return (low_price + high_price) / 2  # Return the average of the range
    # Handle normal prices
    price_cleaned = re.sub(r'[^\d]', '', price)
    return int(price_cleaned) if price_cleaned.isdigit() else None

In [54]:
final_expanded_df['property_price_cleaned'] = [clean_price(price) for price in final_expanded_df['property_price_cleaned']]

/tmp/ipykernel_9400/4207001755.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_expanded_df['property_price_cleaned'] = [clean_price(price) for price in final_expanded_df['property_price_cleaned']]

In [55]:
final_expanded_df['date'] = pd.to_datetime(final_expanded_df['date'], errors='coerce')

/tmp/ipykernel_9400/483767387.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  final_expanded_df['date'] = pd.to_datetime(final_expanded_df['date'], errors='coerce')
/tmp/ipykernel_9400/483767387.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_expanded_df['date'] = pd.to_datetime(final_expanded_df['date'], errors='coerce')

In [56]:
# Function to clean "bed"
final_expanded_df['bed_cleaned'] = (
    final_expanded_df['bed']
    .str.replace(r'\u200b', '', regex=False)           # Remove zero-width space
    .str.replace(r'\xa0', '', regex=False)             # Remove non-breaking space
    .str.replace(r'<span>', '', regex=False)           # Remove <span> tag
    .str.replace(r'</span>', '', regex=False)          # Remove </span> tag
    .str.replace(r'<SPAN>', '', regex=False)           # Remove <SPAN> tag
    .str.replace(r'</SPAN>', '', regex=False)          # Remove </SPAN> tag
    .str.translate(digit_translation_table)            # Translate full-width digits to half-width digits
)

/tmp/ipykernel_9400/2217788108.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_expanded_df['bed_cleaned'] = (

In [57]:
# Function to clean "bath"
final_expanded_df['bath_cleaned'] = (
    final_expanded_df['bath']
    .str.replace(r'\u200b', '', regex=False)           # Remove zero-width space
    .str.replace(r'\xa0', '', regex=False)             # Remove non-breaking space
    .str.replace(r'<span>', '', regex=False)           # Remove <span> tag
    .str.replace(r'</span>', '', regex=False)          # Remove </span> tag
    .str.replace(r'<SPAN>', '', regex=False)           # Remove <SPAN> tag
    .str.replace(r'</SPAN>', '', regex=False)          # Remove </SPAN> tag
    .str.translate(digit_translation_table)
)

In [58]:
# Function to clean "car"
final_expanded_df['car_cleaned'] = (
    final_expanded_df['car']
    .str.replace(r'\u200b', '', regex=False)           # Remove zero-width space
    .str.replace(r'\xa0', '', regex=False)             # Remove non-breaking space
    .str.replace(r'<span>', '', regex=False)           # Remove <span> tag
    .str.replace(r'</span>', '', regex=False)          # Remove </span> tag
    .str.replace(r'<SPAN>', '', regex=False)           # Remove <SPAN> tag
    .str.replace(r'</SPAN>', '', regex=False)          # Remove </SPAN> tag
    .str.translate(digit_translation_table)
)

In [59]:
letter_digit_translation_table = str.maketrans({
    # Uppercase letters
    'ğ™°': 'A', 'ğ™±': 'B', 'ğ™²': 'C', 'ğ™³': 'D', 'ğ™´': 'E', 'ğ™µ': 'F', 'ğ™¶': 'G', 'ğ™·': 'H', 'ğ™¸': 'I', 
    'ğ™¹': 'J', 'ğ™º': 'K', 'ğ™»': 'L', 'ğš€': 'Q', 'ğš': 'R', 'ğš‚': 'S', 'ğšƒ': 'T', 'ğš„': 'U', 'ğš…': 'V', 
    'ğš†': 'W', 'ğš‡': 'X', 'ğšˆ': 'Y', 'ğš‰': 'Z',
    # Lowercase letters
    'ğšŠ': 'a', 'ğš‹': 'b', 'ğšŒ': 'c', 'ğš': 'd', 'ğš': 'e', 
    'ğš': 'f', 'ğš': 'g', 'ğš‘': 'h', 'ğš’': 'i', 'ğš“': 'j', 'ğš”': 'k', 'ğš•': 'l', 'ğš–': 'm', 'ğš—': 'n', 
    'ğš˜': 'o', 'ğš™': 'p', 'ğšš': 'q', 'ğš›': 'r', 'ğšœ': 's', 'ğš': 't', 'ğš': 'u', 'ğšŸ': 'v', 'ğš ': 'w', 
    'ğš¡': 'x', 'ğš¢': 'y', 'ğš£': 'z',
    # Full-width and other non-standard digits
    'ï¼': '0', 'ï¼‘': '1', 'ï¼’': '2', 'ï¼“': '3', 'ï¼”': '4', 'ï¼•': '5', 'ï¼–': '6', 'ï¼—': '7', 'ï¼˜': '8', 'ï¼™': '9',
    'ğŸ¶': '0', 'ğŸ·': '1', 'ğŸ¸': '2', 'ğŸ¹': '3', 'ğŸº': '4', 'ğŸ»': '5', 'ğŸ¼': '6', 'ğŸ½': '7', 'ğŸ¾': '8', 'ğŸ¿': '9',
    'ğŸ¢': '0', 'ğŸ£': '1', 'ğŸ¤': '2', 'ğŸ¥': '3', 'ğŸ¦': '4', 'ğŸ§': '5', 'ğŸ¨': '6', 'ğŸ©': '7', 'ğŸª': '8', 'ğŸ«': '9',
    'ğŸ˜': '0', 'ğŸ™': '1', 'ğŸš': '2', 'ğŸ›': '3', 'ğŸœ': '4', 'ğŸ': '5', 'ğŸ': '6', 'ğŸŸ': '7', 'ğŸ ': '8', 'ğŸ¡': '9',
    'ğ¾': '0', 'ğ¿': '1', 'ğŸ': '3'
})

In [60]:
# Function to clean "address"
final_expanded_df['address_cleaned'] = (
    final_expanded_df['address']
    .str.replace('\u200b', '', regex=False)           # Remove zero-width space
    .str.replace('\xa0', '', regex=False)             # Remove non-breaking space
    .str.replace('<span>', '', regex=False)           # Remove <span> tag
    .str.replace('</span>', '', regex=False)          # Remove </span> tag
    .str.replace('<SPAN>', '', regex=False)           # Remove <SPAN> tag
    .str.replace('</SPAN>', '', regex=False)          # Remove </SPAN> tag
    .str.translate(letter_digit_translation_table)     # Convert full-width letters to ASCII letters
)

In [61]:
# drop some columns
final_expanded_df = final_expanded_df.drop(columns=['rented_price', 'bed', 'bath', 'car', 'land', 'address'])
 
# Extract year from date
final_expanded_df['year'] = final_expanded_df['date'].dt.year

# Extract suburb from address_cleaned, which is all text after the last comma
final_expanded_df['suburb'] = final_expanded_df['address_cleaned'].str.rsplit(',').str[-1].str.strip()

# Remove all type that are not 'House' or 'Unit/ampt'
final_expanded_df = final_expanded_df[final_expanded_df['type'].isin(['House', 'Unit/apmt'])]

# Remove all rows with NaN in 'property_price_cleaned'
final_expanded_df = final_expanded_df[final_expanded_df['property_price_cleaned'].notna()]

In [62]:
# Extract suburb from address_cleaned, which is all text after the last comma
final_expanded_df['suburb'] = final_expanded_df['address_cleaned'].str.rsplit(',').str[-1]

In [63]:
final_expanded_df['bed_cleaned'] = pd.to_numeric(final_expanded_df['bed_cleaned'], errors='coerce')
final_expanded_df['bath_cleaned'] = pd.to_numeric(final_expanded_df['bath_cleaned'], errors='coerce')
final_expanded_df['car_cleaned'] = pd.to_numeric(final_expanded_df['car_cleaned'], errors='coerce')

In [64]:
# In the column 'property_price_cleaned', remove the rows that digits are more than 10
final_expanded_df = final_expanded_df[final_expanded_df['property_price_cleaned'].astype(str).str.len() <= 10]
final_expanded_df

,lat,lng,type,date,property_price_cleaned,bed_cleaned,bath_cleaned,car_cleaned,address_cleaned,year,suburb
1,NaN,NaN,House,2022-10-01,1525000.0,4.0,1.0,1.0,"211 BARKLY STREET, BRUNSWICK",2022.0,BRUNSWICK
3,NaN,NaN,House,2011-04-01,989000.0,4.0,1.0,1.0,"211 BARKLY STREET, BRUNSWICK",2011.0,BRUNSWICK
4,NaN,NaN,House,2011-04-01,999000.0,4.0,1.0,1.0,"211 BARKLY STREET, BRUNSWICK",2011.0,BRUNSWICK
5,NaN,NaN,Unit/apmt,2022-07-01,525000.0,2.0,2.0,2.0,"616/601 SYDNEY ROAD, BRUNSWICK",2022.0,BRUNSWICK
6,NaN,NaN,Unit/apmt,2018-02-01,610000.0,2.0,2.0,2.0,"616/601 SYDNEY ROAD, BRUNSWICK",2018.0,BRUNSWICK
...,...,...,...,...,...,...,...,...,...,...,...
325408,NaN,NaN,House,2018-01-01,590000.0,4.0,2.0,2.0,"58 SPÎ•Ğ¡TÎ‘Ğ¡LÎ• Ğ¡RÎ•SĞ¡Î•NT, PĞINT Ğ¡ĞĞK",2018.0,PĞINT Ğ¡ĞĞK
325409,NaN,NaN,House,2018-01-01,550000.0,4.0,2.0,2.0,"12 YOSEMITE STRÎ•Î•T, PĞINT Ğ¡ĞĞK",2018.0,PĞINT Ğ¡ĞĞK
325411,NaN,NaN,House,2017-04-01,270000.0,4.0,2.0,2.0,"12 YOSEMITE STRÎ•Î•T, PĞINT Ğ¡ĞĞK",2017.0,PĞINT Ğ¡ĞĞK
325412,NaN,NaN,House,2018-01-01,645000.0,4.0,2.0,2.0,"5/32 SANDLEWOOD LANE, POINT COOK",2018.0,POINT COOK
325423,NaN,NaN,House,2015-03-01,450000.0,4.0,2.0,2.0,"7 BRIMBLE STREET, PĞINT Ğ¡ĞĞK",2015.0,PĞINT Ğ¡ĞĞK

In [65]:
create_dir("../data/raw/oldlistings_buy/")
final_expanded_df.to_csv("../data/raw/oldlistings_buy/oldlistings_buy_6.csv", index=False)

Directory already exists: ../data/raw/oldlistings_buy/

In [66]:
# Calculate average property price by year, suburb
final_expanded_df_avg = final_expanded_df.groupby(['year', 'suburb']).agg(
    avg_property_price=('property_price_cleaned', 'mean'),
).reset_index()
final_expanded_df_avg

         year           suburb  avg_property_price
0      2006.0       ALPHINGTON        6.800000e+05
1      2006.0   ALTONA MEADOWS        2.512500e+05
2      2006.0           ARDEER        2.200000e+05
3      2006.0         ARMADALE        3.150000e+05
4      2006.0       ASCOT VALE        5.000000e+05
...       ...              ...                 ...
15114  2024.0            Ğ¡ĞLÎ‘Ğ¡        3.790000e+05
15115  2024.0            Ğ¡ĞWÎ•S        6.876667e+05
15116  2024.0           Ğ¡ĞĞ’ÕRÔŒ        5.950000e+05
15117  2024.0         ÔŒISĞ’ĞRNÎ•        1.221900e+06
15118  2024.0        ÔŒRĞVÎ•DÎ‘LÎ•        5.619375e+05

[15119 rows x 3 columns]

In [67]:
# Remove the leading and trailing whitespaces from the suburb column
final_expanded_df_avg['suburb'] = final_expanded_df_avg['suburb'].str.strip()

In [68]:
# convert 'year' to int
final_expanded_df_avg['year'] = final_expanded_df_avg['year'].astype(int)

In [69]:
create_dir("../data/raw/oldlistings_buy/")
final_expanded_df_avg.to_csv("../data/raw/oldlistings_buy/oldlistings_buy_6_avg.csv", index=False)

Directory already exists: ../data/raw/oldlistings_buy/