# Preprocessing oldlisting_buy_4

In [1]:
import sys, os
sys.path.append(os.path.abspath('../'))
from scripts.utils import create_dir, get_runtime
import time 
start_time = time.time()

import pandas as pd
import re
import ast

In [2]:
# Load your dataset (replace with the correct path to your CSV file)
file_path = "../data/landing/oldlistings_buy/oldlistings_buy_4.csv"
df = pd.read_csv(file_path)

# Helper functions to extract and process data
def expand_rented_prices(row):
    try:
        rent_list = ast.literal_eval(row['rented_prices'])
        rows = []
        for rent in rent_list:
            new_row = row.copy()
            new_row['rented_price'] = rent.get('price', None)
            new_row['date'] = rent.get('date', None)
            rows.append(new_row)
        return pd.DataFrame(rows)
    except (ValueError, SyntaxError):
        return pd.DataFrame([row])

def extract_from_meta_data(meta_data_str, label):
    try:
        meta_list = ast.literal_eval(meta_data_str)
        for item in meta_list:
            if item.get('label') == label:
                return item.get('quantity', None)
    except Exception:
        return None

# Apply the process to expand the first 100 rows (or all rows if needed)
expanded_rows = pd.concat([expand_rented_prices(row) for _, row in df.iterrows()], ignore_index=True)

# Extract meta_data columns for bed, bath, car, land, type
expanded_rows['bed'] = expanded_rows['meta_data'].apply(lambda x: extract_from_meta_data(x, 'bed'))
expanded_rows['bath'] = expanded_rows['meta_data'].apply(lambda x: extract_from_meta_data(x, 'bath'))
expanded_rows['car'] = expanded_rows['meta_data'].apply(lambda x: extract_from_meta_data(x, 'car'))
expanded_rows['land'] = expanded_rows['meta_data'].apply(lambda x: extract_from_meta_data(x, 'land'))
expanded_rows['type'] = expanded_rows['meta_data'].apply(lambda x: extract_from_meta_data(x, 'type'))

# Keep only relevant columns
final_expanded_df = expanded_rows[['lat', 'lng', 'address', 'bed', 'bath', 'car', 'land', 'type', 'rented_price', 'date']]

# Optionally, print or view the dataframe
# print(final_expanded_df)

In [3]:
# Function to clean rented_prices
final_expanded_df['property_price_cleaned'] = (
    final_expanded_df['rented_price']
    .str.replace(r'\u200b', '', regex=False)           # Remove zero-width space
    .str.replace(r'\xa0', '', regex=False)             # Remove non-breaking space
    .str.replace(r'<span>', '', regex=False)           # Remove <span> tag
    .str.replace(r'</span>', '', regex=False)          # Remove </span> tag
    #.str.translate(translation_table)                 # Convert full-width digits to ASCII digits
    # Convert full-width digits to ASCII digits
    .str.replace('Ôºê', '0')
    .str.replace('Ôºë', '1')
    .str.replace('Ôºí', '2')
    .str.replace('Ôºì', '3')
    .str.replace('Ôºî', '4')
    .str.replace('Ôºï', '5')
    .str.replace('Ôºñ', '6')
    .str.replace('Ôºó', '7')
    .str.replace('Ôºò', '8')
    .str.replace('Ôºô', '9')
    .str.replace('4', '4')
    .str.replace('ùüª', '5')
    .str.replace('ùüº', '6')
    .str.replace('ùüΩ', '7')
    .str.replace('ùüæ', '8')
    .str.replace('ùüø', '9')
    .str.replace('ùü∂', '0')
    .str.replace('ùüπ', '3')
    .str.replace('ùü∫', '4')
    .str.replace('ùü∏', '2')
    .str.replace('ùü∑', '1')
    .str.replace('ùü´', '9')
    .str.replace('ùü™', '8')
    .str.replace('ùü©', '7')
    .str.replace('ùü®', '6')
    .str.replace('ùüß', '5')
    .str.replace('ùü¶', '4')
    .str.replace('ùü•', '3')
    .str.replace('ùü§', '2')
    .str.replace('ùü£', '1')
    .str.replace('ùü¢', '0')
    .str.replace('ùü°', '9')
    .str.replace('ùü†', '8')
    .str.replace('ùüü', '7')
    .str.replace('ùüû', '6')
    .str.replace('ùüù', '5')
    .str.replace('ùüú', '4')
    .str.replace('ùüõ', '3')
    .str.replace('ùüö', '2')
    .str.replace('ùüô', '1')
    .str.replace('ùüò', '0')
    .str.replace('ùüó', '9')
    .str.replace('ùüñ', '8')
    .str.replace('ùüï', '7')
    .str.replace('ùüî', '6')
    .str.replace('ùüì', '5')
    .str.replace('ùüí', '4')
    .str.replace('ùüë', '3')
    .str.replace('ùüê', '2')
    .str.replace('ùüè', '1')
    .str.replace('ùüé', '0')
    .str.replace('ùüå', '4')
    .str.replace('ùüã', '3')
    .str.replace('ùüä', '2')
    .str.replace('ùüâ', '1')
    .str.replace('ùüà', '0')
    .str.replace('ùüá', '9')
    .str.replace('ùüÜ', '8')
    .str.replace('ùüÖ', '7')
    .str.replace('ùüÑ', '6')
    .str.replace('ùüÉ', '5')
    .str.replace('ùüÇ', '4')
    .str.replace('ùüÅ', '3')
    .str.replace('ùüÄ', '2')
    .str.replace('ùûø', '1')
    .str.replace('ùûæ', '0')
)

/tmp/ipykernel_14365/2278130057.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_expanded_df['property_price_cleaned'] = (

In [4]:
# Replace "O" with "0" in rented_price_cleaned
final_expanded_df['property_price_cleaned'] = final_expanded_df['property_price_cleaned'].str.replace('O', '0')
final_expanded_df

/tmp/ipykernel_14365/825901540.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_expanded_df['property_price_cleaned'] = final_expanded_df['property_price_cleaned'].str.replace('O', '0')

,lat,lng,address,bed,bath,car,land,type,rented_price,date,property_price_cleaned
0,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,Price on application,August 2024,Price on application
1,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,Contact,June 2024,Contact
2,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,"$2,300,000 - $2,500,000",November 2023,"$2,300,000 - $2,500,000"
3,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,Price on application,May 2023,Price on application
4,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,"$2,300,000 - $2,500,000",February 2024,"$2,300,000 - $2,500,000"
...,...,...,...,...,...,...,...,...,...,...,...
520814,NaN,NaN,"44 BERRYS ROAD, PORT‚ÄãLAND",None,None,None,6\xa0Acres,Land,"$195,000",November 2016,"$195,000"
520815,NaN,NaN,"84 BARKLY STREET, PORTLAND",2\u200b,ùü∑,1\u200b,None,Unit/apmt,"$1\u200b15,000 Offe\u200brs ov\u200ber\xa0",December 2016,"$115,000 0ffers over"
520816,NaN,NaN,"84 BARKLY STREET, PORTLAND",2\u200b,ùü∑,1\u200b,None,Unit/apmt,"$ùü∑ùüªùüª,OOO",June 2010,"$155,000"
520817,NaN,NaN,"3‚Äã3 ‚ÄãBLAIR STRŒïŒïT¬†, ‚ÄãPORTLAND",Ôºî,2\u200b,4\u200b,913\xa0m2,House,NaN,NaN,NaN
520818,NaN,NaN,"ùüªùüª F‚ÄãINN STRŒïŒïT¬†, P–ûRTùôªŒëND",3,ùü∑,ùü∏,919\xa0m2,House,NaN,NaN,NaN

In [5]:
# Replace all non-numeric characters with NaN from rented_price_cleaned except for commas and "$" signs and "-" signs
final_expanded_df['property_price_cleaned'] = final_expanded_df['property_price_cleaned'].str.replace(r'[^0-9,$-]', '', regex=True)
final_expanded_df

/tmp/ipykernel_14365/3598943794.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_expanded_df['property_price_cleaned'] = final_expanded_df['property_price_cleaned'].str.replace(r'[^0-9,$-]', '', regex=True)

,lat,lng,address,bed,bath,car,land,type,rented_price,date,property_price_cleaned
0,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,Price on application,August 2024,
1,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,Contact,June 2024,
2,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,"$2,300,000 - $2,500,000",November 2023,"$2,300,000-$2,500,000"
3,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,Price on application,May 2023,
4,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,"$2,300,000 - $2,500,000",February 2024,"$2,300,000-$2,500,000"
...,...,...,...,...,...,...,...,...,...,...,...
520814,NaN,NaN,"44 BERRYS ROAD, PORT‚ÄãLAND",None,None,None,6\xa0Acres,Land,"$195,000",November 2016,"$195,000"
520815,NaN,NaN,"84 BARKLY STREET, PORTLAND",2\u200b,ùü∑,1\u200b,None,Unit/apmt,"$1\u200b15,000 Offe\u200brs ov\u200ber\xa0",December 2016,"$115,0000"
520816,NaN,NaN,"84 BARKLY STREET, PORTLAND",2\u200b,ùü∑,1\u200b,None,Unit/apmt,"$ùü∑ùüªùüª,OOO",June 2010,"$155,000"
520817,NaN,NaN,"3‚Äã3 ‚ÄãBLAIR STRŒïŒïT¬†, ‚ÄãPORTLAND",Ôºî,2\u200b,4\u200b,913\xa0m2,House,NaN,NaN,NaN
520818,NaN,NaN,"ùüªùüª F‚ÄãINN STRŒïŒïT¬†, P–ûRTùôªŒëND",3,ùü∑,ùü∏,919\xa0m2,House,NaN,NaN,NaN

In [6]:
# Function to clean and handle range prices by calculating the average
def clean_price(price):
    if pd.isna(price):
        return price  # Return NaN as is
    # Handle price ranges like "$425,000-$455,000"
    range_match = re.match(r"\$(\d+,\d+)-\$(\d+,\d+)", price)
    if range_match:
        low_price = int(range_match.group(1).replace(',', ''))
        high_price = int(range_match.group(2).replace(',', ''))
        return (low_price + high_price) / 2  # Return the average of the range
    # Handle normal prices
    price_cleaned = re.sub(r'[^\d]', '', price)
    return int(price_cleaned) if price_cleaned.isdigit() else None

In [7]:
final_expanded_df['property_price_cleaned'] = [clean_price(price) for price in final_expanded_df['property_price_cleaned']]

final_expanded_df

/tmp/ipykernel_14365/2455915571.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_expanded_df['property_price_cleaned'] = [clean_price(price) for price in final_expanded_df['property_price_cleaned']]

,lat,lng,address,bed,bath,car,land,type,rented_price,date,property_price_cleaned
0,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,Price on application,August 2024,NaN
1,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,Contact,June 2024,NaN
2,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,"$2,300,000 - $2,500,000",November 2023,2.300000e+13
3,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,Price on application,May 2023,NaN
4,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,"$2,300,000 - $2,500,000",February 2024,2.300000e+13
...,...,...,...,...,...,...,...,...,...,...,...
520814,NaN,NaN,"44 BERRYS ROAD, PORT‚ÄãLAND",None,None,None,6\xa0Acres,Land,"$195,000",November 2016,1.950000e+05
520815,NaN,NaN,"84 BARKLY STREET, PORTLAND",2\u200b,ùü∑,1\u200b,None,Unit/apmt,"$1\u200b15,000 Offe\u200brs ov\u200ber\xa0",December 2016,1.150000e+06
520816,NaN,NaN,"84 BARKLY STREET, PORTLAND",2\u200b,ùü∑,1\u200b,None,Unit/apmt,"$ùü∑ùüªùüª,OOO",June 2010,1.550000e+05
520817,NaN,NaN,"3‚Äã3 ‚ÄãBLAIR STRŒïŒïT¬†, ‚ÄãPORTLAND",Ôºî,2\u200b,4\u200b,913\xa0m2,House,NaN,NaN,NaN
520818,NaN,NaN,"ùüªùüª F‚ÄãINN STRŒïŒïT¬†, P–ûRTùôªŒëND",3,ùü∑,ùü∏,919\xa0m2,House,NaN,NaN,NaN

In [8]:
final_expanded_df['date'] = pd.to_datetime(final_expanded_df['date'], errors='coerce')
final_expanded_df

/tmp/ipykernel_14365/1390822886.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  final_expanded_df['date'] = pd.to_datetime(final_expanded_df['date'], errors='coerce')
/tmp/ipykernel_14365/1390822886.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_expanded_df['date'] = pd.to_datetime(final_expanded_df['date'], errors='coerce')

,lat,lng,address,bed,bath,car,land,type,rented_price,date,property_price_cleaned
0,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,Price on application,2024-08-01,NaN
1,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,Contact,2024-06-01,NaN
2,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,"$2,300,000 - $2,500,000",2023-11-01,2.300000e+13
3,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,Price on application,2023-05-01,NaN
4,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,"$2,300,000 - $2,500,000",2024-02-01,2.300000e+13
...,...,...,...,...,...,...,...,...,...,...,...
520814,NaN,NaN,"44 BERRYS ROAD, PORT‚ÄãLAND",None,None,None,6\xa0Acres,Land,"$195,000",2016-11-01,1.950000e+05
520815,NaN,NaN,"84 BARKLY STREET, PORTLAND",2\u200b,ùü∑,1\u200b,None,Unit/apmt,"$1\u200b15,000 Offe\u200brs ov\u200ber\xa0",2016-12-01,1.150000e+06
520816,NaN,NaN,"84 BARKLY STREET, PORTLAND",2\u200b,ùü∑,1\u200b,None,Unit/apmt,"$ùü∑ùüªùüª,OOO",2010-06-01,1.550000e+05
520817,NaN,NaN,"3‚Äã3 ‚ÄãBLAIR STRŒïŒïT¬†, ‚ÄãPORTLAND",Ôºî,2\u200b,4\u200b,913\xa0m2,House,NaN,NaT,NaN
520818,NaN,NaN,"ùüªùüª F‚ÄãINN STRŒïŒïT¬†, P–ûRTùôªŒëND",3,ùü∑,ùü∏,919\xa0m2,House,NaN,NaT,NaN

In [9]:
# Function to clean "bed"
final_expanded_df['bed_cleaned'] = (
    final_expanded_df['bed']
    .str.replace(r'\u200b', '', regex=False)           # Remove zero-width space
    .str.replace(r'\xa0', '', regex=False)             # Remove non-breaking space
    .str.replace(r'<span>', '', regex=False)           # Remove <span> tag
    .str.replace(r'</span>', '', regex=False)          # Remove </span> tag
    #.str.translate(translation_table)                 # Convert full-width digits to ASCII digits
    # Convert full-width digits to ASCII digits
    .str.replace('Ôºê', '0')
    .str.replace('Ôºë', '1')
    .str.replace('Ôºí', '2')
    .str.replace('Ôºì', '3')
    .str.replace('Ôºî', '4')
    .str.replace('Ôºï', '5')
    .str.replace('Ôºñ', '6')
    .str.replace('Ôºó', '7')
    .str.replace('Ôºò', '8')
    .str.replace('Ôºô', '9')
    .str.replace('4', '4')
    .str.replace('ùüª', '5')
    .str.replace('ùüº', '6')
    .str.replace('ùüΩ', '7')
    .str.replace('ùüæ', '8')
    .str.replace('ùüø', '9')
    .str.replace('ùü∂', '0')
    .str.replace('ùüπ', '3')
    .str.replace('ùü∫', '4')
    .str.replace('ùü∏', '2')
    .str.replace('ùü∑', '1')
    .str.replace('ùü´', '9')
    .str.replace('ùü™', '8')
    .str.replace('ùü©', '7')
    .str.replace('ùü®', '6')
    .str.replace('ùüß', '5')
    .str.replace('ùü¶', '4')
    .str.replace('ùü•', '3')
    .str.replace('ùü§', '2')
    .str.replace('ùü£', '1')
    .str.replace('ùü¢', '0')
    .str.replace('ùü°', '9')
    .str.replace('ùü†', '8')
    .str.replace('ùüü', '7')
    .str.replace('ùüû', '6')
    .str.replace('ùüù', '5')
    .str.replace('ùüú', '4')
    .str.replace('ùüõ', '3')
    .str.replace('ùüö', '2')
    .str.replace('ùüô', '1')
    .str.replace('ùüò', '0')
    .str.replace('ùüó', '9')
    .str.replace('ùüñ', '8')
    .str.replace('ùüï', '7')
    .str.replace('ùüî', '6')
    .str.replace('ùüì', '5')
    .str.replace('ùüí', '4')
    .str.replace('ùüë', '3')
    .str.replace('ùüê', '2')
    .str.replace('ùüè', '1')
    .str.replace('ùüé', '0')
    .str.replace('ùüå', '4')
    .str.replace('ùüã', '3')
    .str.replace('ùüä', '2')
    .str.replace('ùüâ', '1')
    .str.replace('ùüà', '0')
    .str.replace('ùüá', '9')
    .str.replace('ùüÜ', '8')
    .str.replace('ùüÖ', '7')
    .str.replace('ùüÑ', '6')
    .str.replace('ùüÉ', '5')
    .str.replace('ùüÇ', '4')
    .str.replace('ùüÅ', '3')
    .str.replace('ùüÄ', '2')
    .str.replace('ùûø', '1')
    .str.replace('ùûæ', '0')
)

/tmp/ipykernel_14365/2184586359.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_expanded_df['bed_cleaned'] = (

In [10]:
# Function to clean "bath"
final_expanded_df['bath_cleaned'] = (
    final_expanded_df['bath']
    .str.replace(r'\u200b', '', regex=False)           # Remove zero-width space
    .str.replace(r'\xa0', '', regex=False)             # Remove non-breaking space
    .str.replace(r'<span>', '', regex=False)           # Remove <span> tag
    .str.replace(r'</span>', '', regex=False)          # Remove </span> tag
    #.str.translate(translation_table)                 # Convert full-width digits to ASCII digits
    # Convert full-width digits to ASCII digits
    .str.replace('Ôºê', '0')
    .str.replace('Ôºë', '1')
    .str.replace('Ôºí', '2')
    .str.replace('Ôºì', '3')
    .str.replace('Ôºî', '4')
    .str.replace('Ôºï', '5')
    .str.replace('Ôºñ', '6')
    .str.replace('Ôºó', '7')
    .str.replace('Ôºò', '8')
    .str.replace('Ôºô', '9')
    .str.replace('4', '4')
    .str.replace('ùüª', '5')
    .str.replace('ùüº', '6')
    .str.replace('ùüΩ', '7')
    .str.replace('ùüæ', '8')
    .str.replace('ùüø', '9')
    .str.replace('ùü∂', '0')
    .str.replace('ùüπ', '3')
    .str.replace('ùü∫', '4')
    .str.replace('ùü∏', '2')
    .str.replace('ùü∑', '1')
    .str.replace('ùü´', '9')
    .str.replace('ùü™', '8')
    .str.replace('ùü©', '7')
    .str.replace('ùü®', '6')
    .str.replace('ùüß', '5')
    .str.replace('ùü¶', '4')
    .str.replace('ùü•', '3')
    .str.replace('ùü§', '2')
    .str.replace('ùü£', '1')
    .str.replace('ùü¢', '0')
    .str.replace('ùü°', '9')
    .str.replace('ùü†', '8')
    .str.replace('ùüü', '7')
    .str.replace('ùüû', '6')
    .str.replace('ùüù', '5')
    .str.replace('ùüú', '4')
    .str.replace('ùüõ', '3')
    .str.replace('ùüö', '2')
    .str.replace('ùüô', '1')
    .str.replace('ùüò', '0')
    .str.replace('ùüó', '9')
    .str.replace('ùüñ', '8')
    .str.replace('ùüï', '7')
    .str.replace('ùüî', '6')
    .str.replace('ùüì', '5')
    .str.replace('ùüí', '4')
    .str.replace('ùüë', '3')
    .str.replace('ùüê', '2')
    .str.replace('ùüè', '1')
    .str.replace('ùüé', '0')
    .str.replace('ùüå', '4')
    .str.replace('ùüã', '3')
    .str.replace('ùüä', '2')
    .str.replace('ùüâ', '1')
    .str.replace('ùüà', '0')
    .str.replace('ùüá', '9')
    .str.replace('ùüÜ', '8')
    .str.replace('ùüÖ', '7')
    .str.replace('ùüÑ', '6')
    .str.replace('ùüÉ', '5')
    .str.replace('ùüÇ', '4')
    .str.replace('ùüÅ', '3')
    .str.replace('ùüÄ', '2')
    .str.replace('ùûø', '1')
    .str.replace('ùûæ', '0')
)

In [11]:
# Function to clean "car"
final_expanded_df['car_cleaned'] = (
    final_expanded_df['car']
    .str.replace(r'\u200b', '', regex=False)           # Remove zero-width space
    .str.replace(r'\xa0', '', regex=False)             # Remove non-breaking space
    .str.replace(r'<span>', '', regex=False)           # Remove <span> tag
    .str.replace(r'</span>', '', regex=False)          # Remove </span> tag
    #.str.translate(translation_table)                 # Convert full-width digits to ASCII digits
    # Convert full-width digits to ASCII digits
    .str.replace('Ôºê', '0')
    .str.replace('Ôºë', '1')
    .str.replace('Ôºí', '2')
    .str.replace('Ôºì', '3')
    .str.replace('Ôºî', '4')
    .str.replace('Ôºï', '5')
    .str.replace('Ôºñ', '6')
    .str.replace('Ôºó', '7')
    .str.replace('Ôºò', '8')
    .str.replace('Ôºô', '9')
    .str.replace('4', '4')
    .str.replace('ùüª', '5')
    .str.replace('ùüº', '6')
    .str.replace('ùüΩ', '7')
    .str.replace('ùüæ', '8')
    .str.replace('ùüø', '9')
    .str.replace('ùü∂', '0')
    .str.replace('ùüπ', '3')
    .str.replace('ùü∫', '4')
    .str.replace('ùü∏', '2')
    .str.replace('ùü∑', '1')
    .str.replace('ùü´', '9')
    .str.replace('ùü™', '8')
    .str.replace('ùü©', '7')
    .str.replace('ùü®', '6')
    .str.replace('ùüß', '5')
    .str.replace('ùü¶', '4')
    .str.replace('ùü•', '3')
    .str.replace('ùü§', '2')
    .str.replace('ùü£', '1')
    .str.replace('ùü¢', '0')
    .str.replace('ùü°', '9')
    .str.replace('ùü†', '8')
    .str.replace('ùüü', '7')
    .str.replace('ùüû', '6')
    .str.replace('ùüù', '5')
    .str.replace('ùüú', '4')
    .str.replace('ùüõ', '3')
    .str.replace('ùüö', '2')
    .str.replace('ùüô', '1')
    .str.replace('ùüò', '0')
    .str.replace('ùüó', '9')
    .str.replace('ùüñ', '8')
    .str.replace('ùüï', '7')
    .str.replace('ùüî', '6')
    .str.replace('ùüì', '5')
    .str.replace('ùüí', '4')
    .str.replace('ùüë', '3')
    .str.replace('ùüê', '2')
    .str.replace('ùüè', '1')
    .str.replace('ùüé', '0')
    .str.replace('ùüå', '4')
    .str.replace('ùüã', '3')
    .str.replace('ùüä', '2')
    .str.replace('ùüâ', '1')
    .str.replace('ùüà', '0')
    .str.replace('ùüá', '9')
    .str.replace('ùüÜ', '8')
    .str.replace('ùüÖ', '7')
    .str.replace('ùüÑ', '6')
    .str.replace('ùüÉ', '5')
    .str.replace('ùüÇ', '4')
    .str.replace('ùüÅ', '3')
    .str.replace('ùüÄ', '2')
    .str.replace('ùûø', '1')
    .str.replace('ùûæ', '0')
)

In [12]:
# Function to clean "land"
final_expanded_df['land_cleaned'] = (
    final_expanded_df['land']
    .str.replace(r'm2', '', regex=False)           # Remove "m2" unit
    .str.replace(r'\u200b', '', regex=False)           # Remove zero-width space
    .str.replace(r'\xa0', '', regex=False)             # Remove non-breaking space
    .str.replace(r'<span>', '', regex=False)           # Remove <span> tag
    .str.replace(r'</span>', '', regex=False)          # Remove </span> tag
    #.str.translate(translation_table)                 # Convert full-width digits to ASCII digits
    # Convert full-width digits to ASCII digits
    .str.replace('Ôºê', '0')
    .str.replace('Ôºë', '1')
    .str.replace('Ôºí', '2')
    .str.replace('Ôºì', '3')
    .str.replace('Ôºî', '4')
    .str.replace('Ôºï', '5')
    .str.replace('Ôºñ', '6')
    .str.replace('Ôºó', '7')
    .str.replace('Ôºò', '8')
    .str.replace('Ôºô', '9')
    .str.replace('4', '4')
    .str.replace('ùüª', '5')
    .str.replace('ùüº', '6')
    .str.replace('ùüΩ', '7')
    .str.replace('ùüæ', '8')
    .str.replace('ùüø', '9')
    .str.replace('ùü∂', '0')
    .str.replace('ùüπ', '3')
    .str.replace('ùü∫', '4')
    .str.replace('ùü∏', '2')
    .str.replace('ùü∑', '1')
    .str.replace('ùü´', '9')
    .str.replace('ùü™', '8')
    .str.replace('ùü©', '7')
    .str.replace('ùü®', '6')
    .str.replace('ùüß', '5')
    .str.replace('ùü¶', '4')
    .str.replace('ùü•', '3')
    .str.replace('ùü§', '2')
    .str.replace('ùü£', '1')
    .str.replace('ùü¢', '0')
    .str.replace('ùü°', '9')
    .str.replace('ùü†', '8')
    .str.replace('ùüü', '7')
    .str.replace('ùüû', '6')
    .str.replace('ùüù', '5')
    .str.replace('ùüú', '4')
    .str.replace('ùüõ', '3')
    .str.replace('ùüö', '2')
    .str.replace('ùüô', '1')
    .str.replace('ùüò', '0')
    .str.replace('ùüó', '9')
    .str.replace('ùüñ', '8')
    .str.replace('ùüï', '7')
    .str.replace('ùüî', '6')
    .str.replace('ùüì', '5')
    .str.replace('ùüí', '4')
    .str.replace('ùüë', '3')
    .str.replace('ùüê', '2')
    .str.replace('ùüè', '1')
    .str.replace('ùüé', '0')
    .str.replace('ùüå', '4')
    .str.replace('ùüã', '3')
    .str.replace('ùüä', '2')
    .str.replace('ùüâ', '1')
    .str.replace('ùüà', '0')
    .str.replace('ùüá', '9')
    .str.replace('ùüÜ', '8')
    .str.replace('ùüÖ', '7')
    .str.replace('ùüÑ', '6')
    .str.replace('ùüÉ', '5')
    .str.replace('ùüÇ', '4')
    .str.replace('ùüÅ', '3')
    .str.replace('ùüÄ', '2')
    .str.replace('ùûø', '1')
    .str.replace('ùûæ', '0')
)

In [13]:
final_expanded_df

,lat,lng,address,bed,bath,car,land,type,rented_price,date,property_price_cleaned,bed_cleaned,bath_cleaned,car_cleaned,land_cleaned
0,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,Price on application,2024-08-01,NaN,4,2,8,20Acre(approx)
1,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,Contact,2024-06-01,NaN,4,2,8,20Acre(approx)
2,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,"$2,300,000 - $2,500,000",2023-11-01,2.300000e+13,4,2,8,20Acre(approx)
3,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,Price on application,2023-05-01,NaN,4,2,8,20Acre(approx)
4,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,"$2,300,000 - $2,500,000",2024-02-01,2.300000e+13,4,2,8,20Acre(approx)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520814,NaN,NaN,"44 BERRYS ROAD, PORT‚ÄãLAND",None,None,None,6\xa0Acres,Land,"$195,000",2016-11-01,1.950000e+05,None,None,None,6Acres
520815,NaN,NaN,"84 BARKLY STREET, PORTLAND",2\u200b,ùü∑,1\u200b,None,Unit/apmt,"$1\u200b15,000 Offe\u200brs ov\u200ber\xa0",2016-12-01,1.150000e+06,2,1,1,None
520816,NaN,NaN,"84 BARKLY STREET, PORTLAND",2\u200b,ùü∑,1\u200b,None,Unit/apmt,"$ùü∑ùüªùüª,OOO",2010-06-01,1.550000e+05,2,1,1,None
520817,NaN,NaN,"3‚Äã3 ‚ÄãBLAIR STRŒïŒïT¬†, ‚ÄãPORTLAND",Ôºî,2\u200b,4\u200b,913\xa0m2,House,NaN,NaT,NaN,4,2,4,913
520818,NaN,NaN,"ùüªùüª F‚ÄãINN STRŒïŒïT¬†, P–ûRTùôªŒëND",3,ùü∑,ùü∏,919\xa0m2,House,NaN,NaT,NaN,3,1,2,919

In [14]:
# Function to clean "address"
final_expanded_df['address_cleaned'] = (
    final_expanded_df['address']
    .str.replace(r'\u200b', '', regex=False)           # Remove zero-width space
    .str.replace(r'\xa0', '', regex=False)             # Remove non-breaking space
    .str.replace(r'<span>', '', regex=False)           # Remove <span> tag
    .str.replace(r'</span>', '', regex=False)          # Remove </span> tag
    .str.replace('ùôª', 'L')
    .str.replace('ùô∫', 'K')
    .str.replace('ùôπ', 'J')
    .str.replace('ùô∏', 'I')
    .str.replace('ùô∑', 'H')
    .str.replace('ùô∂', 'G')
    .str.replace('ùôµ', 'F')
    .str.replace('ùô¥', 'E')
    .str.replace('ùô≥', 'D')
    .str.replace('ùô≤', 'C')
    .str.replace('ùô±', 'B')
    .str.replace('ùô∞', 'A')
    .str.replace('ùòæ', 'C')
    .str.replace('ùòΩ', 'B')
    .str.replace('ùòº', 'A')
    .str.replace('ùòø', 'D')
    .str.replace('ùòæ', 'C')
    .str.replace('ùòΩ', 'B')
    .str.replace('ùòº', 'A')
    .str.replace('ùòª', 'z')
    .str.replace('ùò∫', 'y')
    .str.replace('ùòπ', 'x')
    .str.replace('ùò∏', 'w')
    .str.replace('ùò∑', 'v')
    .str.replace('ùò∂', 'u')
    .str.replace('ùòµ', 't')
    .str.replace('ùò¥', 's')

)

In [15]:
# Function to clean "address"
final_expanded_df['address_cleaned'] = (
    final_expanded_df['address_cleaned']
    .str.replace('ùò≥', 'r')
    .str.replace('ùò≤', 'q')
    .str.replace('ùò±', 'p')
    .str.replace('ùò∞', 'o')
    .str.replace('ùòØ', 'n')
    .str.replace('ùò≠', 'l')
    .str.replace('ùò¨', 'k')
    .str.replace('ùò´', 'j')
    .str.replace('ùò™', 'i')
    .str.replace('ùò©', 'h')
    .str.replace('ùò®', 'g')
    .str.replace('ùòß', 'f')
    .str.replace('ùò¶', 'e')
    .str.replace('ùò•', 'd')
    .str.replace('ùò£', 'b')
    .str.replace('ùò¢', 'a')
    .str.replace('ùò°', 'Z')
    .str.replace('ùò†', 'Y')
    .str.replace('ùòü', 'X')
    .str.replace('Ôºê', '0')
    .str.replace('Ôºë', '1')
    .str.replace('Ôºí', '2')
    .str.replace('Ôºì', '3')
    .str.replace('Ôºî', '4')
    .str.replace('Ôºï', '5')
    .str.replace('Ôºñ', '6')
    .str.replace('Ôºó', '7')
    .str.replace('Ôºò', '8')
    .str.replace('Ôºô', '9')
    .str.replace('4', '4')
    .str.replace('ùüª', '5')
    .str.replace('ùüº', '6')
    .str.replace('ùüΩ', '7')
    .str.replace('ùüæ', '8')
    .str.replace('ùüø', '9')
    .str.replace('ùü∂', '0')
    .str.replace('ùüπ', '3')
    .str.replace('ùü∫', '4')
    .str.replace('ùü∏', '2')
    .str.replace('ùü∑', '1')
    .str.replace('ùü´', '9')
    .str.replace('ùü™', '8')
    .str.replace('ùü©', '7')
    .str.replace('ùü®', '6')
    .str.replace('ùüß', '5')
    .str.replace('ùü¶', '4')
    .str.replace('ùü•', '3')
    .str.replace('ùü§', '2')
    .str.replace('ùü£', '1')
    .str.replace('ùü¢', '0')
    .str.replace('ùü°', '9')
    .str.replace('ùü†', '8')
    .str.replace('ùüü', '7')
    .str.replace('ùüû', '6')
    .str.replace('ùüù', '5')
    .str.replace('ùüú', '4')
    .str.replace('ùüõ', '3')
    .str.replace('ùüö', '2')
    .str.replace('ùüô', '1')
    .str.replace('ùüò', '0')
    .str.replace('ùüó', '9')
    .str.replace('ùüñ', '8')
    .str.replace('ùüï', '7')
    .str.replace('ùüî', '6')
    .str.replace('ùüì', '5')
    .str.replace('ùüí', '4')
    .str.replace('ùüë', '3')
    .str.replace('ùüê', '2')
    .str.replace('ùüè', '1')
    .str.replace('ùüé', '0')
    

)

In [16]:
final_expanded_df

,lat,lng,address,bed,bath,car,land,type,rented_price,date,property_price_cleaned,bed_cleaned,bath_cleaned,car_cleaned,land_cleaned,address_cleaned
0,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,Price on application,2024-08-01,NaN,4,2,8,20Acre(approx),"936 BACCHUS MARSH ROAD, BULLENGAROOK"
1,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,Contact,2024-06-01,NaN,4,2,8,20Acre(approx),"936 BACCHUS MARSH ROAD, BULLENGAROOK"
2,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,"$2,300,000 - $2,500,000",2023-11-01,2.300000e+13,4,2,8,20Acre(approx),"936 BACCHUS MARSH ROAD, BULLENGAROOK"
3,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,Price on application,2023-05-01,NaN,4,2,8,20Acre(approx),"936 BACCHUS MARSH ROAD, BULLENGAROOK"
4,-37.4807,144.50439,"936 BACCHUS MARSH ROAD, BULLENGAROOK",4,2,8,20\xa0Acre\xa0(approx),House,"$2,300,000 - $2,500,000",2024-02-01,2.300000e+13,4,2,8,20Acre(approx),"936 BACCHUS MARSH ROAD, BULLENGAROOK"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520814,NaN,NaN,"44 BERRYS ROAD, PORT‚ÄãLAND",None,None,None,6\xa0Acres,Land,"$195,000",2016-11-01,1.950000e+05,None,None,None,6Acres,"44 BERRYS ROAD, PORT‚ÄãLAND"
520815,NaN,NaN,"84 BARKLY STREET, PORTLAND",2\u200b,ùü∑,1\u200b,None,Unit/apmt,"$1\u200b15,000 Offe\u200brs ov\u200ber\xa0",2016-12-01,1.150000e+06,2,1,1,None,"84 BARKLY STREET, PORTLAND"
520816,NaN,NaN,"84 BARKLY STREET, PORTLAND",2\u200b,ùü∑,1\u200b,None,Unit/apmt,"$ùü∑ùüªùüª,OOO",2010-06-01,1.550000e+05,2,1,1,None,"84 BARKLY STREET, PORTLAND"
520817,NaN,NaN,"3‚Äã3 ‚ÄãBLAIR STRŒïŒïT¬†, ‚ÄãPORTLAND",Ôºî,2\u200b,4\u200b,913\xa0m2,House,NaN,NaT,NaN,4,2,4,913,"3‚Äã3 ‚ÄãBLAIR STRŒïŒïT¬†, ‚ÄãPORTLAND"
520818,NaN,NaN,"ùüªùüª F‚ÄãINN STRŒïŒïT¬†, P–ûRTùôªŒëND",3,ùü∑,ùü∏,919\xa0m2,House,NaN,NaT,NaN,3,1,2,919,"55 F‚ÄãINN STRŒïŒïT¬†, P–ûRTLŒëND"

In [17]:
# drop some columns
final_expanded_df = final_expanded_df.drop(columns=['rented_price', 'bed', 'bath', 'car', 'land', 'address'])
final_expanded_df

,lat,lng,type,date,property_price_cleaned,bed_cleaned,bath_cleaned,car_cleaned,land_cleaned,address_cleaned
0,-37.4807,144.50439,House,2024-08-01,NaN,4,2,8,20Acre(approx),"936 BACCHUS MARSH ROAD, BULLENGAROOK"
1,-37.4807,144.50439,House,2024-06-01,NaN,4,2,8,20Acre(approx),"936 BACCHUS MARSH ROAD, BULLENGAROOK"
2,-37.4807,144.50439,House,2023-11-01,2.300000e+13,4,2,8,20Acre(approx),"936 BACCHUS MARSH ROAD, BULLENGAROOK"
3,-37.4807,144.50439,House,2023-05-01,NaN,4,2,8,20Acre(approx),"936 BACCHUS MARSH ROAD, BULLENGAROOK"
4,-37.4807,144.50439,House,2024-02-01,2.300000e+13,4,2,8,20Acre(approx),"936 BACCHUS MARSH ROAD, BULLENGAROOK"
...,...,...,...,...,...,...,...,...,...,...
520814,NaN,NaN,Land,2016-11-01,1.950000e+05,None,None,None,6Acres,"44 BERRYS ROAD, PORT‚ÄãLAND"
520815,NaN,NaN,Unit/apmt,2016-12-01,1.150000e+06,2,1,1,None,"84 BARKLY STREET, PORTLAND"
520816,NaN,NaN,Unit/apmt,2010-06-01,1.550000e+05,2,1,1,None,"84 BARKLY STREET, PORTLAND"
520817,NaN,NaN,House,NaT,NaN,4,2,4,913,"3‚Äã3 ‚ÄãBLAIR STRŒïŒïT¬†, ‚ÄãPORTLAND"
520818,NaN,NaN,House,NaT,NaN,3,1,2,919,"55 F‚ÄãINN STRŒïŒïT¬†, P–ûRTLŒëND"

In [18]:
# Extract year from date
final_expanded_df['year'] = final_expanded_df['date'].dt.year
final_expanded_df

,lat,lng,type,date,property_price_cleaned,bed_cleaned,bath_cleaned,car_cleaned,land_cleaned,address_cleaned,year
0,-37.4807,144.50439,House,2024-08-01,NaN,4,2,8,20Acre(approx),"936 BACCHUS MARSH ROAD, BULLENGAROOK",2024.0
1,-37.4807,144.50439,House,2024-06-01,NaN,4,2,8,20Acre(approx),"936 BACCHUS MARSH ROAD, BULLENGAROOK",2024.0
2,-37.4807,144.50439,House,2023-11-01,2.300000e+13,4,2,8,20Acre(approx),"936 BACCHUS MARSH ROAD, BULLENGAROOK",2023.0
3,-37.4807,144.50439,House,2023-05-01,NaN,4,2,8,20Acre(approx),"936 BACCHUS MARSH ROAD, BULLENGAROOK",2023.0
4,-37.4807,144.50439,House,2024-02-01,2.300000e+13,4,2,8,20Acre(approx),"936 BACCHUS MARSH ROAD, BULLENGAROOK",2024.0
...,...,...,...,...,...,...,...,...,...,...,...
520814,NaN,NaN,Land,2016-11-01,1.950000e+05,None,None,None,6Acres,"44 BERRYS ROAD, PORT‚ÄãLAND",2016.0
520815,NaN,NaN,Unit/apmt,2016-12-01,1.150000e+06,2,1,1,None,"84 BARKLY STREET, PORTLAND",2016.0
520816,NaN,NaN,Unit/apmt,2010-06-01,1.550000e+05,2,1,1,None,"84 BARKLY STREET, PORTLAND",2010.0
520817,NaN,NaN,House,NaT,NaN,4,2,4,913,"3‚Äã3 ‚ÄãBLAIR STRŒïŒïT¬†, ‚ÄãPORTLAND",NaN
520818,NaN,NaN,House,NaT,NaN,3,1,2,919,"55 F‚ÄãINN STRŒïŒïT¬†, P–ûRTLŒëND",NaN

In [19]:
# Extract suburb from address_cleaned, which is all text after the last comma
final_expanded_df['suburb'] = final_expanded_df['address_cleaned'].str.rsplit(',').str[-1]
final_expanded_df

,lat,lng,type,date,property_price_cleaned,bed_cleaned,bath_cleaned,car_cleaned,land_cleaned,address_cleaned,year,suburb
0,-37.4807,144.50439,House,2024-08-01,NaN,4,2,8,20Acre(approx),"936 BACCHUS MARSH ROAD, BULLENGAROOK",2024.0,BULLENGAROOK
1,-37.4807,144.50439,House,2024-06-01,NaN,4,2,8,20Acre(approx),"936 BACCHUS MARSH ROAD, BULLENGAROOK",2024.0,BULLENGAROOK
2,-37.4807,144.50439,House,2023-11-01,2.300000e+13,4,2,8,20Acre(approx),"936 BACCHUS MARSH ROAD, BULLENGAROOK",2023.0,BULLENGAROOK
3,-37.4807,144.50439,House,2023-05-01,NaN,4,2,8,20Acre(approx),"936 BACCHUS MARSH ROAD, BULLENGAROOK",2023.0,BULLENGAROOK
4,-37.4807,144.50439,House,2024-02-01,2.300000e+13,4,2,8,20Acre(approx),"936 BACCHUS MARSH ROAD, BULLENGAROOK",2024.0,BULLENGAROOK
...,...,...,...,...,...,...,...,...,...,...,...,...
520814,NaN,NaN,Land,2016-11-01,1.950000e+05,None,None,None,6Acres,"44 BERRYS ROAD, PORT‚ÄãLAND",2016.0,PORT‚ÄãLAND
520815,NaN,NaN,Unit/apmt,2016-12-01,1.150000e+06,2,1,1,None,"84 BARKLY STREET, PORTLAND",2016.0,PORTLAND
520816,NaN,NaN,Unit/apmt,2010-06-01,1.550000e+05,2,1,1,None,"84 BARKLY STREET, PORTLAND",2010.0,PORTLAND
520817,NaN,NaN,House,NaT,NaN,4,2,4,913,"3‚Äã3 ‚ÄãBLAIR STRŒïŒïT¬†, ‚ÄãPORTLAND",NaN,‚ÄãPORTLAND
520818,NaN,NaN,House,NaT,NaN,3,1,2,919,"55 F‚ÄãINN STRŒïŒïT¬†, P–ûRTLŒëND",NaN,P–ûRTLŒëND

In [20]:
create_dir("../data/raw/oldlistings_buy/")
final_expanded_df.to_csv("../data/raw/oldlistings_buy/oldlistings_buy_4.csv", index=False)

Directory already exists: ../data/raw/oldlistings_buy/