# Preprocessing oldlisting_buy_2

In [1]:
import sys, os
sys.path.append(os.path.abspath('../'))
from scripts.utils import create_dir, get_runtime
import time 
start_time = time.time()

import pandas as pd
import re
import ast

In [2]:
# Load your dataset (replace with the correct path to your CSV file)
file_path = "../data/landing/oldlistings_buy/oldlistings_buy_2.csv"
df = pd.read_csv(file_path)

# Helper functions to extract and process data
def expand_rented_prices(row):
    try:
        rent_list = ast.literal_eval(row['rented_prices'])
        rows = []
        for rent in rent_list:
            new_row = row.copy()
            new_row['rented_price'] = rent.get('price', None)
            new_row['date'] = rent.get('date', None)
            rows.append(new_row)
        return pd.DataFrame(rows)
    except (ValueError, SyntaxError):
        return pd.DataFrame([row])

def extract_from_meta_data(meta_data_str, label):
    try:
        meta_list = ast.literal_eval(meta_data_str)
        for item in meta_list:
            if item.get('label') == label:
                return item.get('quantity', None)
    except Exception:
        return None

# Apply the process to expand the first 100 rows (or all rows if needed)
expanded_rows = pd.concat([expand_rented_prices(row) for _, row in df.iterrows()], ignore_index=True)

# Extract meta_data columns for bed, bath, car, land, type
expanded_rows['bed'] = expanded_rows['meta_data'].apply(lambda x: extract_from_meta_data(x, 'bed'))
expanded_rows['bath'] = expanded_rows['meta_data'].apply(lambda x: extract_from_meta_data(x, 'bath'))
expanded_rows['car'] = expanded_rows['meta_data'].apply(lambda x: extract_from_meta_data(x, 'car'))
expanded_rows['land'] = expanded_rows['meta_data'].apply(lambda x: extract_from_meta_data(x, 'land'))
expanded_rows['type'] = expanded_rows['meta_data'].apply(lambda x: extract_from_meta_data(x, 'type'))

# Keep only relevant columns
final_expanded_df = expanded_rows[['lat', 'lng', 'address', 'bed', 'bath', 'car', 'land', 'type', 'rented_price', 'date']]

# Optionally, print or view the dataframe
# print(final_expanded_df)

In [3]:
# Function to clean rented_prices
final_expanded_df['property_price_cleaned'] = (
    final_expanded_df['rented_price']
    .str.replace(r'\u200b', '', regex=False)           # Remove zero-width space
    .str.replace(r'\xa0', '', regex=False)             # Remove non-breaking space
    .str.replace(r'<span>', '', regex=False)           # Remove <span> tag
    .str.replace(r'</span>', '', regex=False)          # Remove </span> tag
    #.str.translate(translation_table)                 # Convert full-width digits to ASCII digits
    # Convert full-width digits to ASCII digits
    .str.replace('ï¼', '0')
    .str.replace('ï¼‘', '1')
    .str.replace('ï¼’', '2')
    .str.replace('ï¼“', '3')
    .str.replace('ï¼”', '4')
    .str.replace('ï¼•', '5')
    .str.replace('ï¼–', '6')
    .str.replace('ï¼—', '7')
    .str.replace('ï¼˜', '8')
    .str.replace('ï¼™', '9')
    .str.replace('4', '4')
    .str.replace('ğŸ»', '5')
    .str.replace('ğŸ¼', '6')
    .str.replace('ğŸ½', '7')
    .str.replace('ğŸ¾', '8')
    .str.replace('ğŸ¿', '9')
    .str.replace('ğŸ¶', '0')
    .str.replace('ğŸ¹', '3')
    .str.replace('ğŸº', '4')
    .str.replace('ğŸ¸', '2')
    .str.replace('ğŸ·', '1')
    .str.replace('ğŸ«', '9')
    .str.replace('ğŸª', '8')
    .str.replace('ğŸ©', '7')
    .str.replace('ğŸ¨', '6')
    .str.replace('ğŸ§', '5')
    .str.replace('ğŸ¦', '4')
    .str.replace('ğŸ¥', '3')
    .str.replace('ğŸ¤', '2')
    .str.replace('ğŸ£', '1')
    .str.replace('ğŸ¢', '0')
    .str.replace('ğŸ¡', '9')
    .str.replace('ğŸ ', '8')
    .str.replace('ğŸŸ', '7')
    .str.replace('ğŸ', '6')
    .str.replace('ğŸ', '5')
    .str.replace('ğŸœ', '4')
    .str.replace('ğŸ›', '3')
    .str.replace('ğŸš', '2')
    .str.replace('ğŸ™', '1')
    .str.replace('ğŸ˜', '0')
    .str.replace('ğŸ—', '9')
    .str.replace('ğŸ–', '8')
    .str.replace('ğŸ•', '7')
    .str.replace('ğŸ”', '6')
    .str.replace('ğŸ“', '5')
    .str.replace('ğŸ’', '4')
    .str.replace('ğŸ‘', '3')
    .str.replace('ğŸ', '2')
    .str.replace('ğŸ', '1')
    .str.replace('ğŸ', '0')
    .str.replace('ğŸŒ', '4')
    .str.replace('ğŸ‹', '3')
    .str.replace('ğŸŠ', '2')
    .str.replace('ğŸ‰', '1')
    .str.replace('ğŸˆ', '0')
    .str.replace('ğŸ‡', '9')
    .str.replace('ğŸ†', '8')
    .str.replace('ğŸ…', '7')
    .str.replace('ğŸ„', '6')
    .str.replace('ğŸƒ', '5')
    .str.replace('ğŸ‚', '4')
    .str.replace('ğŸ', '3')
    .str.replace('ğŸ€', '2')
    .str.replace('ğ¿', '1')
    .str.replace('ğ¾', '0')
)

/tmp/ipykernel_10287/2278130057.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_expanded_df['property_price_cleaned'] = (

In [4]:
# Replace "O" with "0" in rented_price_cleaned
final_expanded_df['property_price_cleaned'] = final_expanded_df['property_price_cleaned'].str.replace('O', '0')
final_expanded_df

/tmp/ipykernel_10287/825901540.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_expanded_df['property_price_cleaned'] = final_expanded_df['property_price_cleaned'].str.replace('O', '0')

,lat,lng,address,bed,bath,car,land,type,rented_price,date,property_price_cleaned
0,NaN,NaN,"21 CAMBRIDGE ROAD, MĞÕNT MARTâ€‹HA",,ğŸ¸,ğŸ¸,None,House,"$ğŸ¨OO,OOO PlÕ½s",December 2012,"$600,000 PlÕ½s"
1,NaN,NaN,"11 BIRDROCK AVENUE, MOUNT MARTHA",4,3,2,None,House,"$9\u200b50,000 PlÕ½s\xa0",September 2012,"$950,000 PlÕ½s"
2,NaN,NaN,"31 HARRAP ROAD, MOUNT MARTHA",,2,2,None,House,"$520,000 Neg",October 2012,"$520,000 Neg"
3,NaN,NaN,"31 HARRAP ROAD, MOUNT MARTHA",,2,2,None,House,"$500,000",August 2011,"$500,000"
4,NaN,NaN,"31 HARRAP ROAD, MOUNT MARTHA",,2,2,None,House,"$500,000",September 2011,"$500,000"
...,...,...,...,...,...,...,...,...,...,...,...
518622,NaN,NaN,"50 FIFTH AVENUE, Ğ¡HÎ•ğ™»SÎ•Î‘ HÎ•IÔŒHTS",3,,ğŸ¸,643\xa0m2,None,"$560,000 Buyers Over",May 2016,"$560,000 Buyers 0ver"
518623,NaN,NaN,"50 FIFTH AVENUE, Ğ¡HÎ•ğ™»SÎ•Î‘ HÎ•IÔŒHTS",3,,ğŸ¸,643\xa0m2,None,"$560,000 Buyers Over",April 2016,"$560,000 Buyers 0ver"
518624,NaN,NaN,"50 FIFTH AVENUE, Ğ¡HÎ•ğ™»SÎ•Î‘ HÎ•IÔŒHTS",3,,ğŸ¸,643\xa0m2,None,"$400,000",June 2010,"$400,000"
518625,NaN,NaN,"ï¼”ğŸ¸ Ğ¡HÎ•ğ™»SÎ•Î‘ PAâ€‹RK DRIâ€‹VE, CHELSEA HEIGHTS",3,2,None,530\xa0m2,None,NaN,NaN,NaN
518626,NaN,NaN,"ğŸ» NÎ‘RIÎ•ğ™» CTâ€‹Â , CHEâ€‹LSEA HEIGHâ€‹TS",3,ğŸ¸,2,None,House,Aucti\u200bon,April 2016,Auction

In [5]:
# Replace all non-numeric characters with NaN from rented_price_cleaned except for commas and "$" signs and "-" signs
final_expanded_df['property_price_cleaned'] = final_expanded_df['property_price_cleaned'].str.replace(r'[^0-9,$-]', '', regex=True)
final_expanded_df

/tmp/ipykernel_10287/3598943794.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_expanded_df['property_price_cleaned'] = final_expanded_df['property_price_cleaned'].str.replace(r'[^0-9,$-]', '', regex=True)

,lat,lng,address,bed,bath,car,land,type,rented_price,date,property_price_cleaned
0,NaN,NaN,"21 CAMBRIDGE ROAD, MĞÕNT MARTâ€‹HA",,ğŸ¸,ğŸ¸,None,House,"$ğŸ¨OO,OOO PlÕ½s",December 2012,"$600,000"
1,NaN,NaN,"11 BIRDROCK AVENUE, MOUNT MARTHA",4,3,2,None,House,"$9\u200b50,000 PlÕ½s\xa0",September 2012,"$950,000"
2,NaN,NaN,"31 HARRAP ROAD, MOUNT MARTHA",,2,2,None,House,"$520,000 Neg",October 2012,"$520,000"
3,NaN,NaN,"31 HARRAP ROAD, MOUNT MARTHA",,2,2,None,House,"$500,000",August 2011,"$500,000"
4,NaN,NaN,"31 HARRAP ROAD, MOUNT MARTHA",,2,2,None,House,"$500,000",September 2011,"$500,000"
...,...,...,...,...,...,...,...,...,...,...,...
518622,NaN,NaN,"50 FIFTH AVENUE, Ğ¡HÎ•ğ™»SÎ•Î‘ HÎ•IÔŒHTS",3,,ğŸ¸,643\xa0m2,None,"$560,000 Buyers Over",May 2016,"$560,0000"
518623,NaN,NaN,"50 FIFTH AVENUE, Ğ¡HÎ•ğ™»SÎ•Î‘ HÎ•IÔŒHTS",3,,ğŸ¸,643\xa0m2,None,"$560,000 Buyers Over",April 2016,"$560,0000"
518624,NaN,NaN,"50 FIFTH AVENUE, Ğ¡HÎ•ğ™»SÎ•Î‘ HÎ•IÔŒHTS",3,,ğŸ¸,643\xa0m2,None,"$400,000",June 2010,"$400,000"
518625,NaN,NaN,"ï¼”ğŸ¸ Ğ¡HÎ•ğ™»SÎ•Î‘ PAâ€‹RK DRIâ€‹VE, CHELSEA HEIGHTS",3,2,None,530\xa0m2,None,NaN,NaN,NaN
518626,NaN,NaN,"ğŸ» NÎ‘RIÎ•ğ™» CTâ€‹Â , CHEâ€‹LSEA HEIGHâ€‹TS",3,ğŸ¸,2,None,House,Aucti\u200bon,April 2016,

In [6]:
# Function to clean and handle range prices by calculating the average
def clean_price(price):
    if pd.isna(price):
        return price  # Return NaN as is
    # Handle price ranges like "$425,000-$455,000"
    range_match = re.match(r"\$(\d+,\d+)-\$(\d+,\d+)", price)
    if range_match:
        low_price = int(range_match.group(1).replace(',', ''))
        high_price = int(range_match.group(2).replace(',', ''))
        return (low_price + high_price) / 2  # Return the average of the range
    # Handle normal prices
    price_cleaned = re.sub(r'[^\d]', '', price)
    return int(price_cleaned) if price_cleaned.isdigit() else None

In [7]:
final_expanded_df['property_price_cleaned'] = [clean_price(price) for price in final_expanded_df['property_price_cleaned']]

final_expanded_df

/tmp/ipykernel_10287/2455915571.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_expanded_df['property_price_cleaned'] = [clean_price(price) for price in final_expanded_df['property_price_cleaned']]

,lat,lng,address,bed,bath,car,land,type,rented_price,date,property_price_cleaned
0,NaN,NaN,"21 CAMBRIDGE ROAD, MĞÕNT MARTâ€‹HA",,ğŸ¸,ğŸ¸,None,House,"$ğŸ¨OO,OOO PlÕ½s",December 2012,600000.0
1,NaN,NaN,"11 BIRDROCK AVENUE, MOUNT MARTHA",4,3,2,None,House,"$9\u200b50,000 PlÕ½s\xa0",September 2012,950000.0
2,NaN,NaN,"31 HARRAP ROAD, MOUNT MARTHA",,2,2,None,House,"$520,000 Neg",October 2012,520000.0
3,NaN,NaN,"31 HARRAP ROAD, MOUNT MARTHA",,2,2,None,House,"$500,000",August 2011,500000.0
4,NaN,NaN,"31 HARRAP ROAD, MOUNT MARTHA",,2,2,None,House,"$500,000",September 2011,500000.0
...,...,...,...,...,...,...,...,...,...,...,...
518622,NaN,NaN,"50 FIFTH AVENUE, Ğ¡HÎ•ğ™»SÎ•Î‘ HÎ•IÔŒHTS",3,,ğŸ¸,643\xa0m2,None,"$560,000 Buyers Over",May 2016,5600000.0
518623,NaN,NaN,"50 FIFTH AVENUE, Ğ¡HÎ•ğ™»SÎ•Î‘ HÎ•IÔŒHTS",3,,ğŸ¸,643\xa0m2,None,"$560,000 Buyers Over",April 2016,5600000.0
518624,NaN,NaN,"50 FIFTH AVENUE, Ğ¡HÎ•ğ™»SÎ•Î‘ HÎ•IÔŒHTS",3,,ğŸ¸,643\xa0m2,None,"$400,000",June 2010,400000.0
518625,NaN,NaN,"ï¼”ğŸ¸ Ğ¡HÎ•ğ™»SÎ•Î‘ PAâ€‹RK DRIâ€‹VE, CHELSEA HEIGHTS",3,2,None,530\xa0m2,None,NaN,NaN,NaN
518626,NaN,NaN,"ğŸ» NÎ‘RIÎ•ğ™» CTâ€‹Â , CHEâ€‹LSEA HEIGHâ€‹TS",3,ğŸ¸,2,None,House,Aucti\u200bon,April 2016,NaN

In [8]:
final_expanded_df['date'] = pd.to_datetime(final_expanded_df['date'], errors='coerce')
final_expanded_df

/tmp/ipykernel_10287/1390822886.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  final_expanded_df['date'] = pd.to_datetime(final_expanded_df['date'], errors='coerce')
/tmp/ipykernel_10287/1390822886.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_expanded_df['date'] = pd.to_datetime(final_expanded_df['date'], errors='coerce')

,lat,lng,address,bed,bath,car,land,type,rented_price,date,property_price_cleaned
0,NaN,NaN,"21 CAMBRIDGE ROAD, MĞÕNT MARTâ€‹HA",,ğŸ¸,ğŸ¸,None,House,"$ğŸ¨OO,OOO PlÕ½s",2012-12-01,600000.0
1,NaN,NaN,"11 BIRDROCK AVENUE, MOUNT MARTHA",4,3,2,None,House,"$9\u200b50,000 PlÕ½s\xa0",2012-09-01,950000.0
2,NaN,NaN,"31 HARRAP ROAD, MOUNT MARTHA",,2,2,None,House,"$520,000 Neg",2012-10-01,520000.0
3,NaN,NaN,"31 HARRAP ROAD, MOUNT MARTHA",,2,2,None,House,"$500,000",2011-08-01,500000.0
4,NaN,NaN,"31 HARRAP ROAD, MOUNT MARTHA",,2,2,None,House,"$500,000",2011-09-01,500000.0
...,...,...,...,...,...,...,...,...,...,...,...
518622,NaN,NaN,"50 FIFTH AVENUE, Ğ¡HÎ•ğ™»SÎ•Î‘ HÎ•IÔŒHTS",3,,ğŸ¸,643\xa0m2,None,"$560,000 Buyers Over",2016-05-01,5600000.0
518623,NaN,NaN,"50 FIFTH AVENUE, Ğ¡HÎ•ğ™»SÎ•Î‘ HÎ•IÔŒHTS",3,,ğŸ¸,643\xa0m2,None,"$560,000 Buyers Over",2016-04-01,5600000.0
518624,NaN,NaN,"50 FIFTH AVENUE, Ğ¡HÎ•ğ™»SÎ•Î‘ HÎ•IÔŒHTS",3,,ğŸ¸,643\xa0m2,None,"$400,000",2010-06-01,400000.0
518625,NaN,NaN,"ï¼”ğŸ¸ Ğ¡HÎ•ğ™»SÎ•Î‘ PAâ€‹RK DRIâ€‹VE, CHELSEA HEIGHTS",3,2,None,530\xa0m2,None,NaN,NaT,NaN
518626,NaN,NaN,"ğŸ» NÎ‘RIÎ•ğ™» CTâ€‹Â , CHEâ€‹LSEA HEIGHâ€‹TS",3,ğŸ¸,2,None,House,Aucti\u200bon,2016-04-01,NaN

In [9]:
# Function to clean "bed"
final_expanded_df['bed_cleaned'] = (
    final_expanded_df['bed']
    .str.replace(r'\u200b', '', regex=False)           # Remove zero-width space
    .str.replace(r'\xa0', '', regex=False)             # Remove non-breaking space
    .str.replace(r'<span>', '', regex=False)           # Remove <span> tag
    .str.replace(r'</span>', '', regex=False)          # Remove </span> tag
    #.str.translate(translation_table)                 # Convert full-width digits to ASCII digits
    # Convert full-width digits to ASCII digits
    .str.replace('ï¼', '0')
    .str.replace('ï¼‘', '1')
    .str.replace('ï¼’', '2')
    .str.replace('ï¼“', '3')
    .str.replace('ï¼”', '4')
    .str.replace('ï¼•', '5')
    .str.replace('ï¼–', '6')
    .str.replace('ï¼—', '7')
    .str.replace('ï¼˜', '8')
    .str.replace('ï¼™', '9')
    .str.replace('4', '4')
    .str.replace('ğŸ»', '5')
    .str.replace('ğŸ¼', '6')
    .str.replace('ğŸ½', '7')
    .str.replace('ğŸ¾', '8')
    .str.replace('ğŸ¿', '9')
    .str.replace('ğŸ¶', '0')
    .str.replace('ğŸ¹', '3')
    .str.replace('ğŸº', '4')
    .str.replace('ğŸ¸', '2')
    .str.replace('ğŸ·', '1')
    .str.replace('ğŸ«', '9')
    .str.replace('ğŸª', '8')
    .str.replace('ğŸ©', '7')
    .str.replace('ğŸ¨', '6')
    .str.replace('ğŸ§', '5')
    .str.replace('ğŸ¦', '4')
    .str.replace('ğŸ¥', '3')
    .str.replace('ğŸ¤', '2')
    .str.replace('ğŸ£', '1')
    .str.replace('ğŸ¢', '0')
    .str.replace('ğŸ¡', '9')
    .str.replace('ğŸ ', '8')
    .str.replace('ğŸŸ', '7')
    .str.replace('ğŸ', '6')
    .str.replace('ğŸ', '5')
    .str.replace('ğŸœ', '4')
    .str.replace('ğŸ›', '3')
    .str.replace('ğŸš', '2')
    .str.replace('ğŸ™', '1')
    .str.replace('ğŸ˜', '0')
    .str.replace('ğŸ—', '9')
    .str.replace('ğŸ–', '8')
    .str.replace('ğŸ•', '7')
    .str.replace('ğŸ”', '6')
    .str.replace('ğŸ“', '5')
    .str.replace('ğŸ’', '4')
    .str.replace('ğŸ‘', '3')
    .str.replace('ğŸ', '2')
    .str.replace('ğŸ', '1')
    .str.replace('ğŸ', '0')
    .str.replace('ğŸŒ', '4')
    .str.replace('ğŸ‹', '3')
    .str.replace('ğŸŠ', '2')
    .str.replace('ğŸ‰', '1')
    .str.replace('ğŸˆ', '0')
    .str.replace('ğŸ‡', '9')
    .str.replace('ğŸ†', '8')
    .str.replace('ğŸ…', '7')
    .str.replace('ğŸ„', '6')
    .str.replace('ğŸƒ', '5')
    .str.replace('ğŸ‚', '4')
    .str.replace('ğŸ', '3')
    .str.replace('ğŸ€', '2')
    .str.replace('ğ¿', '1')
    .str.replace('ğ¾', '0')
)

/tmp/ipykernel_10287/2184586359.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_expanded_df['bed_cleaned'] = (

In [10]:
# Function to clean "bath"
final_expanded_df['bath_cleaned'] = (
    final_expanded_df['bath']
    .str.replace(r'\u200b', '', regex=False)           # Remove zero-width space
    .str.replace(r'\xa0', '', regex=False)             # Remove non-breaking space
    .str.replace(r'<span>', '', regex=False)           # Remove <span> tag
    .str.replace(r'</span>', '', regex=False)          # Remove </span> tag
    #.str.translate(translation_table)                 # Convert full-width digits to ASCII digits
    # Convert full-width digits to ASCII digits
    .str.replace('ï¼', '0')
    .str.replace('ï¼‘', '1')
    .str.replace('ï¼’', '2')
    .str.replace('ï¼“', '3')
    .str.replace('ï¼”', '4')
    .str.replace('ï¼•', '5')
    .str.replace('ï¼–', '6')
    .str.replace('ï¼—', '7')
    .str.replace('ï¼˜', '8')
    .str.replace('ï¼™', '9')
    .str.replace('4', '4')
    .str.replace('ğŸ»', '5')
    .str.replace('ğŸ¼', '6')
    .str.replace('ğŸ½', '7')
    .str.replace('ğŸ¾', '8')
    .str.replace('ğŸ¿', '9')
    .str.replace('ğŸ¶', '0')
    .str.replace('ğŸ¹', '3')
    .str.replace('ğŸº', '4')
    .str.replace('ğŸ¸', '2')
    .str.replace('ğŸ·', '1')
    .str.replace('ğŸ«', '9')
    .str.replace('ğŸª', '8')
    .str.replace('ğŸ©', '7')
    .str.replace('ğŸ¨', '6')
    .str.replace('ğŸ§', '5')
    .str.replace('ğŸ¦', '4')
    .str.replace('ğŸ¥', '3')
    .str.replace('ğŸ¤', '2')
    .str.replace('ğŸ£', '1')
    .str.replace('ğŸ¢', '0')
    .str.replace('ğŸ¡', '9')
    .str.replace('ğŸ ', '8')
    .str.replace('ğŸŸ', '7')
    .str.replace('ğŸ', '6')
    .str.replace('ğŸ', '5')
    .str.replace('ğŸœ', '4')
    .str.replace('ğŸ›', '3')
    .str.replace('ğŸš', '2')
    .str.replace('ğŸ™', '1')
    .str.replace('ğŸ˜', '0')
    .str.replace('ğŸ—', '9')
    .str.replace('ğŸ–', '8')
    .str.replace('ğŸ•', '7')
    .str.replace('ğŸ”', '6')
    .str.replace('ğŸ“', '5')
    .str.replace('ğŸ’', '4')
    .str.replace('ğŸ‘', '3')
    .str.replace('ğŸ', '2')
    .str.replace('ğŸ', '1')
    .str.replace('ğŸ', '0')
    .str.replace('ğŸŒ', '4')
    .str.replace('ğŸ‹', '3')
    .str.replace('ğŸŠ', '2')
    .str.replace('ğŸ‰', '1')
    .str.replace('ğŸˆ', '0')
    .str.replace('ğŸ‡', '9')
    .str.replace('ğŸ†', '8')
    .str.replace('ğŸ…', '7')
    .str.replace('ğŸ„', '6')
    .str.replace('ğŸƒ', '5')
    .str.replace('ğŸ‚', '4')
    .str.replace('ğŸ', '3')
    .str.replace('ğŸ€', '2')
    .str.replace('ğ¿', '1')
    .str.replace('ğ¾', '0')
)

In [11]:
# Function to clean "car"
final_expanded_df['car_cleaned'] = (
    final_expanded_df['car']
    .str.replace(r'\u200b', '', regex=False)           # Remove zero-width space
    .str.replace(r'\xa0', '', regex=False)             # Remove non-breaking space
    .str.replace(r'<span>', '', regex=False)           # Remove <span> tag
    .str.replace(r'</span>', '', regex=False)          # Remove </span> tag
    #.str.translate(translation_table)                 # Convert full-width digits to ASCII digits
    # Convert full-width digits to ASCII digits
    .str.replace('ï¼', '0')
    .str.replace('ï¼‘', '1')
    .str.replace('ï¼’', '2')
    .str.replace('ï¼“', '3')
    .str.replace('ï¼”', '4')
    .str.replace('ï¼•', '5')
    .str.replace('ï¼–', '6')
    .str.replace('ï¼—', '7')
    .str.replace('ï¼˜', '8')
    .str.replace('ï¼™', '9')
    .str.replace('4', '4')
    .str.replace('ğŸ»', '5')
    .str.replace('ğŸ¼', '6')
    .str.replace('ğŸ½', '7')
    .str.replace('ğŸ¾', '8')
    .str.replace('ğŸ¿', '9')
    .str.replace('ğŸ¶', '0')
    .str.replace('ğŸ¹', '3')
    .str.replace('ğŸº', '4')
    .str.replace('ğŸ¸', '2')
    .str.replace('ğŸ·', '1')
    .str.replace('ğŸ«', '9')
    .str.replace('ğŸª', '8')
    .str.replace('ğŸ©', '7')
    .str.replace('ğŸ¨', '6')
    .str.replace('ğŸ§', '5')
    .str.replace('ğŸ¦', '4')
    .str.replace('ğŸ¥', '3')
    .str.replace('ğŸ¤', '2')
    .str.replace('ğŸ£', '1')
    .str.replace('ğŸ¢', '0')
    .str.replace('ğŸ¡', '9')
    .str.replace('ğŸ ', '8')
    .str.replace('ğŸŸ', '7')
    .str.replace('ğŸ', '6')
    .str.replace('ğŸ', '5')
    .str.replace('ğŸœ', '4')
    .str.replace('ğŸ›', '3')
    .str.replace('ğŸš', '2')
    .str.replace('ğŸ™', '1')
    .str.replace('ğŸ˜', '0')
    .str.replace('ğŸ—', '9')
    .str.replace('ğŸ–', '8')
    .str.replace('ğŸ•', '7')
    .str.replace('ğŸ”', '6')
    .str.replace('ğŸ“', '5')
    .str.replace('ğŸ’', '4')
    .str.replace('ğŸ‘', '3')
    .str.replace('ğŸ', '2')
    .str.replace('ğŸ', '1')
    .str.replace('ğŸ', '0')
    .str.replace('ğŸŒ', '4')
    .str.replace('ğŸ‹', '3')
    .str.replace('ğŸŠ', '2')
    .str.replace('ğŸ‰', '1')
    .str.replace('ğŸˆ', '0')
    .str.replace('ğŸ‡', '9')
    .str.replace('ğŸ†', '8')
    .str.replace('ğŸ…', '7')
    .str.replace('ğŸ„', '6')
    .str.replace('ğŸƒ', '5')
    .str.replace('ğŸ‚', '4')
    .str.replace('ğŸ', '3')
    .str.replace('ğŸ€', '2')
    .str.replace('ğ¿', '1')
    .str.replace('ğ¾', '0')
)

In [12]:
# Function to clean "land"
final_expanded_df['land_cleaned'] = (
    final_expanded_df['land']
    .str.replace(r'm2', '', regex=False)           # Remove "m2" unit
    .str.replace(r'\u200b', '', regex=False)           # Remove zero-width space
    .str.replace(r'\xa0', '', regex=False)             # Remove non-breaking space
    .str.replace(r'<span>', '', regex=False)           # Remove <span> tag
    .str.replace(r'</span>', '', regex=False)          # Remove </span> tag
    #.str.translate(translation_table)                 # Convert full-width digits to ASCII digits
    # Convert full-width digits to ASCII digits
    .str.replace('ï¼', '0')
    .str.replace('ï¼‘', '1')
    .str.replace('ï¼’', '2')
    .str.replace('ï¼“', '3')
    .str.replace('ï¼”', '4')
    .str.replace('ï¼•', '5')
    .str.replace('ï¼–', '6')
    .str.replace('ï¼—', '7')
    .str.replace('ï¼˜', '8')
    .str.replace('ï¼™', '9')
    .str.replace('4', '4')
    .str.replace('ğŸ»', '5')
    .str.replace('ğŸ¼', '6')
    .str.replace('ğŸ½', '7')
    .str.replace('ğŸ¾', '8')
    .str.replace('ğŸ¿', '9')
    .str.replace('ğŸ¶', '0')
    .str.replace('ğŸ¹', '3')
    .str.replace('ğŸº', '4')
    .str.replace('ğŸ¸', '2')
    .str.replace('ğŸ·', '1')
    .str.replace('ğŸ«', '9')
    .str.replace('ğŸª', '8')
    .str.replace('ğŸ©', '7')
    .str.replace('ğŸ¨', '6')
    .str.replace('ğŸ§', '5')
    .str.replace('ğŸ¦', '4')
    .str.replace('ğŸ¥', '3')
    .str.replace('ğŸ¤', '2')
    .str.replace('ğŸ£', '1')
    .str.replace('ğŸ¢', '0')
    .str.replace('ğŸ¡', '9')
    .str.replace('ğŸ ', '8')
    .str.replace('ğŸŸ', '7')
    .str.replace('ğŸ', '6')
    .str.replace('ğŸ', '5')
    .str.replace('ğŸœ', '4')
    .str.replace('ğŸ›', '3')
    .str.replace('ğŸš', '2')
    .str.replace('ğŸ™', '1')
    .str.replace('ğŸ˜', '0')
    .str.replace('ğŸ—', '9')
    .str.replace('ğŸ–', '8')
    .str.replace('ğŸ•', '7')
    .str.replace('ğŸ”', '6')
    .str.replace('ğŸ“', '5')
    .str.replace('ğŸ’', '4')
    .str.replace('ğŸ‘', '3')
    .str.replace('ğŸ', '2')
    .str.replace('ğŸ', '1')
    .str.replace('ğŸ', '0')
    .str.replace('ğŸŒ', '4')
    .str.replace('ğŸ‹', '3')
    .str.replace('ğŸŠ', '2')
    .str.replace('ğŸ‰', '1')
    .str.replace('ğŸˆ', '0')
    .str.replace('ğŸ‡', '9')
    .str.replace('ğŸ†', '8')
    .str.replace('ğŸ…', '7')
    .str.replace('ğŸ„', '6')
    .str.replace('ğŸƒ', '5')
    .str.replace('ğŸ‚', '4')
    .str.replace('ğŸ', '3')
    .str.replace('ğŸ€', '2')
    .str.replace('ğ¿', '1')
    .str.replace('ğ¾', '0')
)

In [13]:
final_expanded_df

,lat,lng,address,bed,bath,car,land,type,rented_price,date,property_price_cleaned,bed_cleaned,bath_cleaned,car_cleaned,land_cleaned
0,NaN,NaN,"21 CAMBRIDGE ROAD, MĞÕNT MARTâ€‹HA",,ğŸ¸,ğŸ¸,None,House,"$ğŸ¨OO,OOO PlÕ½s",2012-12-01,600000.0,,2,2,None
1,NaN,NaN,"11 BIRDROCK AVENUE, MOUNT MARTHA",4,3,2,None,House,"$9\u200b50,000 PlÕ½s\xa0",2012-09-01,950000.0,4,3,2,None
2,NaN,NaN,"31 HARRAP ROAD, MOUNT MARTHA",,2,2,None,House,"$520,000 Neg",2012-10-01,520000.0,,2,2,None
3,NaN,NaN,"31 HARRAP ROAD, MOUNT MARTHA",,2,2,None,House,"$500,000",2011-08-01,500000.0,,2,2,None
4,NaN,NaN,"31 HARRAP ROAD, MOUNT MARTHA",,2,2,None,House,"$500,000",2011-09-01,500000.0,,2,2,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518622,NaN,NaN,"50 FIFTH AVENUE, Ğ¡HÎ•ğ™»SÎ•Î‘ HÎ•IÔŒHTS",3,,ğŸ¸,643\xa0m2,None,"$560,000 Buyers Over",2016-05-01,5600000.0,3,,2,643
518623,NaN,NaN,"50 FIFTH AVENUE, Ğ¡HÎ•ğ™»SÎ•Î‘ HÎ•IÔŒHTS",3,,ğŸ¸,643\xa0m2,None,"$560,000 Buyers Over",2016-04-01,5600000.0,3,,2,643
518624,NaN,NaN,"50 FIFTH AVENUE, Ğ¡HÎ•ğ™»SÎ•Î‘ HÎ•IÔŒHTS",3,,ğŸ¸,643\xa0m2,None,"$400,000",2010-06-01,400000.0,3,,2,643
518625,NaN,NaN,"ï¼”ğŸ¸ Ğ¡HÎ•ğ™»SÎ•Î‘ PAâ€‹RK DRIâ€‹VE, CHELSEA HEIGHTS",3,2,None,530\xa0m2,None,NaN,NaT,NaN,3,2,None,530
518626,NaN,NaN,"ğŸ» NÎ‘RIÎ•ğ™» CTâ€‹Â , CHEâ€‹LSEA HEIGHâ€‹TS",3,ğŸ¸,2,None,House,Aucti\u200bon,2016-04-01,NaN,3,2,2,None

In [14]:
# Function to clean "address"
final_expanded_df['address_cleaned'] = (
    final_expanded_df['address']
    .str.replace(r'\u200b', '', regex=False)           # Remove zero-width space
    .str.replace(r'\xa0', '', regex=False)             # Remove non-breaking space
    .str.replace(r'<span>', '', regex=False)           # Remove <span> tag
    .str.replace(r'</span>', '', regex=False)          # Remove </span> tag
    .str.replace('ğ™»', 'L')
    .str.replace('ğ™º', 'K')
    .str.replace('ğ™¹', 'J')
    .str.replace('ğ™¸', 'I')
    .str.replace('ğ™·', 'H')
    .str.replace('ğ™¶', 'G')
    .str.replace('ğ™µ', 'F')
    .str.replace('ğ™´', 'E')
    .str.replace('ğ™³', 'D')
    .str.replace('ğ™²', 'C')
    .str.replace('ğ™±', 'B')
    .str.replace('ğ™°', 'A')
    .str.replace('ğ˜¾', 'C')
    .str.replace('ğ˜½', 'B')
    .str.replace('ğ˜¼', 'A')
    .str.replace('ğ˜¿', 'D')
    .str.replace('ğ˜¾', 'C')
    .str.replace('ğ˜½', 'B')
    .str.replace('ğ˜¼', 'A')
    .str.replace('ğ˜»', 'z')
    .str.replace('ğ˜º', 'y')
    .str.replace('ğ˜¹', 'x')
    .str.replace('ğ˜¸', 'w')
    .str.replace('ğ˜·', 'v')
    .str.replace('ğ˜¶', 'u')
    .str.replace('ğ˜µ', 't')
    .str.replace('ğ˜´', 's')

)

In [15]:
# Function to clean "address"
final_expanded_df['address_cleaned'] = (
    final_expanded_df['address_cleaned']
    .str.replace('ğ˜³', 'r')
    .str.replace('ğ˜²', 'q')
    .str.replace('ğ˜±', 'p')
    .str.replace('ğ˜°', 'o')
    .str.replace('ğ˜¯', 'n')
    .str.replace('ğ˜­', 'l')
    .str.replace('ğ˜¬', 'k')
    .str.replace('ğ˜«', 'j')
    .str.replace('ğ˜ª', 'i')
    .str.replace('ğ˜©', 'h')
    .str.replace('ğ˜¨', 'g')
    .str.replace('ğ˜§', 'f')
    .str.replace('ğ˜¦', 'e')
    .str.replace('ğ˜¥', 'd')
    .str.replace('ğ˜£', 'b')
    .str.replace('ğ˜¢', 'a')
    .str.replace('ğ˜¡', 'Z')
    .str.replace('ğ˜ ', 'Y')
    .str.replace('ğ˜Ÿ', 'X')
    .str.replace('ï¼', '0')
    .str.replace('ï¼‘', '1')
    .str.replace('ï¼’', '2')
    .str.replace('ï¼“', '3')
    .str.replace('ï¼”', '4')
    .str.replace('ï¼•', '5')
    .str.replace('ï¼–', '6')
    .str.replace('ï¼—', '7')
    .str.replace('ï¼˜', '8')
    .str.replace('ï¼™', '9')
    .str.replace('4', '4')
    .str.replace('ğŸ»', '5')
    .str.replace('ğŸ¼', '6')
    .str.replace('ğŸ½', '7')
    .str.replace('ğŸ¾', '8')
    .str.replace('ğŸ¿', '9')
    .str.replace('ğŸ¶', '0')
    .str.replace('ğŸ¹', '3')
    .str.replace('ğŸº', '4')
    .str.replace('ğŸ¸', '2')
    .str.replace('ğŸ·', '1')
    .str.replace('ğŸ«', '9')
    .str.replace('ğŸª', '8')
    .str.replace('ğŸ©', '7')
    .str.replace('ğŸ¨', '6')
    .str.replace('ğŸ§', '5')
    .str.replace('ğŸ¦', '4')
    .str.replace('ğŸ¥', '3')
    .str.replace('ğŸ¤', '2')
    .str.replace('ğŸ£', '1')
    .str.replace('ğŸ¢', '0')
    .str.replace('ğŸ¡', '9')
    .str.replace('ğŸ ', '8')
    .str.replace('ğŸŸ', '7')
    .str.replace('ğŸ', '6')
    .str.replace('ğŸ', '5')
    .str.replace('ğŸœ', '4')
    .str.replace('ğŸ›', '3')
    .str.replace('ğŸš', '2')
    .str.replace('ğŸ™', '1')
    .str.replace('ğŸ˜', '0')
    .str.replace('ğŸ—', '9')
    .str.replace('ğŸ–', '8')
    .str.replace('ğŸ•', '7')
    .str.replace('ğŸ”', '6')
    .str.replace('ğŸ“', '5')
    .str.replace('ğŸ’', '4')
    .str.replace('ğŸ‘', '3')
    .str.replace('ğŸ', '2')
    .str.replace('ğŸ', '1')
    .str.replace('ğŸ', '0')
    

)

In [16]:
final_expanded_df

,lat,lng,address,bed,bath,car,land,type,rented_price,date,property_price_cleaned,bed_cleaned,bath_cleaned,car_cleaned,land_cleaned,address_cleaned
0,NaN,NaN,"21 CAMBRIDGE ROAD, MĞÕNT MARTâ€‹HA",,ğŸ¸,ğŸ¸,None,House,"$ğŸ¨OO,OOO PlÕ½s",2012-12-01,600000.0,,2,2,None,"21 CAMBRIDGE ROAD, MĞÕNT MARTâ€‹HA"
1,NaN,NaN,"11 BIRDROCK AVENUE, MOUNT MARTHA",4,3,2,None,House,"$9\u200b50,000 PlÕ½s\xa0",2012-09-01,950000.0,4,3,2,None,"11 BIRDROCK AVENUE, MOUNT MARTHA"
2,NaN,NaN,"31 HARRAP ROAD, MOUNT MARTHA",,2,2,None,House,"$520,000 Neg",2012-10-01,520000.0,,2,2,None,"31 HARRAP ROAD, MOUNT MARTHA"
3,NaN,NaN,"31 HARRAP ROAD, MOUNT MARTHA",,2,2,None,House,"$500,000",2011-08-01,500000.0,,2,2,None,"31 HARRAP ROAD, MOUNT MARTHA"
4,NaN,NaN,"31 HARRAP ROAD, MOUNT MARTHA",,2,2,None,House,"$500,000",2011-09-01,500000.0,,2,2,None,"31 HARRAP ROAD, MOUNT MARTHA"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518622,NaN,NaN,"50 FIFTH AVENUE, Ğ¡HÎ•ğ™»SÎ•Î‘ HÎ•IÔŒHTS",3,,ğŸ¸,643\xa0m2,None,"$560,000 Buyers Over",2016-05-01,5600000.0,3,,2,643,"50 FIFTH AVENUE, Ğ¡HÎ•LSÎ•Î‘ HÎ•IÔŒHTS"
518623,NaN,NaN,"50 FIFTH AVENUE, Ğ¡HÎ•ğ™»SÎ•Î‘ HÎ•IÔŒHTS",3,,ğŸ¸,643\xa0m2,None,"$560,000 Buyers Over",2016-04-01,5600000.0,3,,2,643,"50 FIFTH AVENUE, Ğ¡HÎ•LSÎ•Î‘ HÎ•IÔŒHTS"
518624,NaN,NaN,"50 FIFTH AVENUE, Ğ¡HÎ•ğ™»SÎ•Î‘ HÎ•IÔŒHTS",3,,ğŸ¸,643\xa0m2,None,"$400,000",2010-06-01,400000.0,3,,2,643,"50 FIFTH AVENUE, Ğ¡HÎ•LSÎ•Î‘ HÎ•IÔŒHTS"
518625,NaN,NaN,"ï¼”ğŸ¸ Ğ¡HÎ•ğ™»SÎ•Î‘ PAâ€‹RK DRIâ€‹VE, CHELSEA HEIGHTS",3,2,None,530\xa0m2,None,NaN,NaT,NaN,3,2,None,530,"42 Ğ¡HÎ•LSÎ•Î‘ PAâ€‹RK DRIâ€‹VE, CHELSEA HEIGHTS"
518626,NaN,NaN,"ğŸ» NÎ‘RIÎ•ğ™» CTâ€‹Â , CHEâ€‹LSEA HEIGHâ€‹TS",3,ğŸ¸,2,None,House,Aucti\u200bon,2016-04-01,NaN,3,2,2,None,"5 NÎ‘RIÎ•L CTâ€‹Â , CHEâ€‹LSEA HEIGHâ€‹TS"

In [17]:
# drop some columns
final_expanded_df = final_expanded_df.drop(columns=['rented_price', 'bed', 'bath', 'car', 'land', 'address'])
final_expanded_df

,lat,lng,type,date,property_price_cleaned,bed_cleaned,bath_cleaned,car_cleaned,land_cleaned,address_cleaned
0,NaN,NaN,House,2012-12-01,600000.0,,2,2,None,"21 CAMBRIDGE ROAD, MĞÕNT MARTâ€‹HA"
1,NaN,NaN,House,2012-09-01,950000.0,4,3,2,None,"11 BIRDROCK AVENUE, MOUNT MARTHA"
2,NaN,NaN,House,2012-10-01,520000.0,,2,2,None,"31 HARRAP ROAD, MOUNT MARTHA"
3,NaN,NaN,House,2011-08-01,500000.0,,2,2,None,"31 HARRAP ROAD, MOUNT MARTHA"
4,NaN,NaN,House,2011-09-01,500000.0,,2,2,None,"31 HARRAP ROAD, MOUNT MARTHA"
...,...,...,...,...,...,...,...,...,...,...
518622,NaN,NaN,None,2016-05-01,5600000.0,3,,2,643,"50 FIFTH AVENUE, Ğ¡HÎ•LSÎ•Î‘ HÎ•IÔŒHTS"
518623,NaN,NaN,None,2016-04-01,5600000.0,3,,2,643,"50 FIFTH AVENUE, Ğ¡HÎ•LSÎ•Î‘ HÎ•IÔŒHTS"
518624,NaN,NaN,None,2010-06-01,400000.0,3,,2,643,"50 FIFTH AVENUE, Ğ¡HÎ•LSÎ•Î‘ HÎ•IÔŒHTS"
518625,NaN,NaN,None,NaT,NaN,3,2,None,530,"42 Ğ¡HÎ•LSÎ•Î‘ PAâ€‹RK DRIâ€‹VE, CHELSEA HEIGHTS"
518626,NaN,NaN,House,2016-04-01,NaN,3,2,2,None,"5 NÎ‘RIÎ•L CTâ€‹Â , CHEâ€‹LSEA HEIGHâ€‹TS"

In [18]:
# Extract year from date
final_expanded_df['year'] = final_expanded_df['date'].dt.year
final_expanded_df

,lat,lng,type,date,property_price_cleaned,bed_cleaned,bath_cleaned,car_cleaned,land_cleaned,address_cleaned,year
0,NaN,NaN,House,2012-12-01,600000.0,,2,2,None,"21 CAMBRIDGE ROAD, MĞÕNT MARTâ€‹HA",2012.0
1,NaN,NaN,House,2012-09-01,950000.0,4,3,2,None,"11 BIRDROCK AVENUE, MOUNT MARTHA",2012.0
2,NaN,NaN,House,2012-10-01,520000.0,,2,2,None,"31 HARRAP ROAD, MOUNT MARTHA",2012.0
3,NaN,NaN,House,2011-08-01,500000.0,,2,2,None,"31 HARRAP ROAD, MOUNT MARTHA",2011.0
4,NaN,NaN,House,2011-09-01,500000.0,,2,2,None,"31 HARRAP ROAD, MOUNT MARTHA",2011.0
...,...,...,...,...,...,...,...,...,...,...,...
518622,NaN,NaN,None,2016-05-01,5600000.0,3,,2,643,"50 FIFTH AVENUE, Ğ¡HÎ•LSÎ•Î‘ HÎ•IÔŒHTS",2016.0
518623,NaN,NaN,None,2016-04-01,5600000.0,3,,2,643,"50 FIFTH AVENUE, Ğ¡HÎ•LSÎ•Î‘ HÎ•IÔŒHTS",2016.0
518624,NaN,NaN,None,2010-06-01,400000.0,3,,2,643,"50 FIFTH AVENUE, Ğ¡HÎ•LSÎ•Î‘ HÎ•IÔŒHTS",2010.0
518625,NaN,NaN,None,NaT,NaN,3,2,None,530,"42 Ğ¡HÎ•LSÎ•Î‘ PAâ€‹RK DRIâ€‹VE, CHELSEA HEIGHTS",NaN
518626,NaN,NaN,House,2016-04-01,NaN,3,2,2,None,"5 NÎ‘RIÎ•L CTâ€‹Â , CHEâ€‹LSEA HEIGHâ€‹TS",2016.0

In [19]:
# Extract suburb from address_cleaned, which is all text after the last comma
final_expanded_df['suburb'] = final_expanded_df['address_cleaned'].str.rsplit(',').str[-1]
final_expanded_df

,lat,lng,type,date,property_price_cleaned,bed_cleaned,bath_cleaned,car_cleaned,land_cleaned,address_cleaned,year,suburb
0,NaN,NaN,House,2012-12-01,600000.0,,2,2,None,"21 CAMBRIDGE ROAD, MĞÕNT MARTâ€‹HA",2012.0,MĞÕNT MARTâ€‹HA
1,NaN,NaN,House,2012-09-01,950000.0,4,3,2,None,"11 BIRDROCK AVENUE, MOUNT MARTHA",2012.0,MOUNT MARTHA
2,NaN,NaN,House,2012-10-01,520000.0,,2,2,None,"31 HARRAP ROAD, MOUNT MARTHA",2012.0,MOUNT MARTHA
3,NaN,NaN,House,2011-08-01,500000.0,,2,2,None,"31 HARRAP ROAD, MOUNT MARTHA",2011.0,MOUNT MARTHA
4,NaN,NaN,House,2011-09-01,500000.0,,2,2,None,"31 HARRAP ROAD, MOUNT MARTHA",2011.0,MOUNT MARTHA
...,...,...,...,...,...,...,...,...,...,...,...,...
518622,NaN,NaN,None,2016-05-01,5600000.0,3,,2,643,"50 FIFTH AVENUE, Ğ¡HÎ•LSÎ•Î‘ HÎ•IÔŒHTS",2016.0,Ğ¡HÎ•LSÎ•Î‘ HÎ•IÔŒHTS
518623,NaN,NaN,None,2016-04-01,5600000.0,3,,2,643,"50 FIFTH AVENUE, Ğ¡HÎ•LSÎ•Î‘ HÎ•IÔŒHTS",2016.0,Ğ¡HÎ•LSÎ•Î‘ HÎ•IÔŒHTS
518624,NaN,NaN,None,2010-06-01,400000.0,3,,2,643,"50 FIFTH AVENUE, Ğ¡HÎ•LSÎ•Î‘ HÎ•IÔŒHTS",2010.0,Ğ¡HÎ•LSÎ•Î‘ HÎ•IÔŒHTS
518625,NaN,NaN,None,NaT,NaN,3,2,None,530,"42 Ğ¡HÎ•LSÎ•Î‘ PAâ€‹RK DRIâ€‹VE, CHELSEA HEIGHTS",NaN,CHELSEA HEIGHTS
518626,NaN,NaN,House,2016-04-01,NaN,3,2,2,None,"5 NÎ‘RIÎ•L CTâ€‹Â , CHEâ€‹LSEA HEIGHâ€‹TS",2016.0,CHEâ€‹LSEA HEIGHâ€‹TS

In [20]:
create_dir("../data/raw/oldlistings_buy/")
final_expanded_df.to_csv("../data/raw/oldlistings_buy/oldlistings_buy_2.csv", index=False)

Directory already exists: ../data/raw/oldlistings_buy/