# Preprocessing oldlisting_buy_0

In [1]:
import sys, os
sys.path.append(os.path.abspath('../'))
from scripts.utils import create_dir, get_runtime
import time 
start_time = time.time()

import pandas as pd
import re
import ast

In [2]:
# Load your dataset (replace with the correct path to your CSV file)
file_path = "../data/landing/oldlistings_buy/oldlistings_buy_0.csv"
df = pd.read_csv(file_path)

# Helper functions to extract and process data
def expand_rented_prices(row):
    try:
        rent_list = ast.literal_eval(row['rented_prices'])
        rows = []
        for rent in rent_list:
            new_row = row.copy()
            new_row['rented_price'] = rent.get('price', None)
            new_row['date'] = rent.get('date', None)
            rows.append(new_row)
        return pd.DataFrame(rows)
    except (ValueError, SyntaxError):
        return pd.DataFrame([row])

def extract_from_meta_data(meta_data_str, label):
    try:
        meta_list = ast.literal_eval(meta_data_str)
        for item in meta_list:
            if item.get('label') == label:
                return item.get('quantity', None)
    except Exception:
        return None

# Apply the process to expand the first 100 rows (or all rows if needed)
expanded_rows = pd.concat([expand_rented_prices(row) for _, row in df.iterrows()], ignore_index=True)

# Extract meta_data columns for bed, bath, car, land, type
expanded_rows['bed'] = expanded_rows['meta_data'].apply(lambda x: extract_from_meta_data(x, 'bed'))
expanded_rows['bath'] = expanded_rows['meta_data'].apply(lambda x: extract_from_meta_data(x, 'bath'))
expanded_rows['car'] = expanded_rows['meta_data'].apply(lambda x: extract_from_meta_data(x, 'car'))
expanded_rows['land'] = expanded_rows['meta_data'].apply(lambda x: extract_from_meta_data(x, 'land'))
expanded_rows['type'] = expanded_rows['meta_data'].apply(lambda x: extract_from_meta_data(x, 'type'))

# Keep only relevant columns
final_expanded_df = expanded_rows[['lat', 'lng', 'address', 'bed', 'bath', 'car', 'land', 'type', 'rented_price', 'date']]

# Optionally, print or view the dataframe
# print(final_expanded_df)

In [3]:
# Function to clean rented_prices
final_expanded_df['property_price_cleaned'] = (
    final_expanded_df['rented_price']
    .str.replace(r'\u200b', '', regex=False)           # Remove zero-width space
    .str.replace(r'\xa0', '', regex=False)             # Remove non-breaking space
    .str.replace(r'<span>', '', regex=False)           # Remove <span> tag
    .str.replace(r'</span>', '', regex=False)          # Remove </span> tag
    #.str.translate(translation_table)                 # Convert full-width digits to ASCII digits
    # Convert full-width digits to ASCII digits
    .str.replace('ï¼', '0')
    .str.replace('ï¼‘', '1')
    .str.replace('ï¼’', '2')
    .str.replace('ï¼“', '3')
    .str.replace('ï¼”', '4')
    .str.replace('ï¼•', '5')
    .str.replace('ï¼–', '6')
    .str.replace('ï¼—', '7')
    .str.replace('ï¼˜', '8')
    .str.replace('ï¼™', '9')
    .str.replace('4', '4')
    .str.replace('ğŸ»', '5')
    .str.replace('ğŸ¼', '6')
    .str.replace('ğŸ½', '7')
    .str.replace('ğŸ¾', '8')
    .str.replace('ğŸ¿', '9')
    .str.replace('ğŸ¶', '0')
    .str.replace('ğŸ¹', '3')
    .str.replace('ğŸº', '4')
    .str.replace('ğŸ¸', '2')
    .str.replace('ğŸ·', '1')
    .str.replace('ğŸ«', '9')
    .str.replace('ğŸª', '8')
    .str.replace('ğŸ©', '7')
    .str.replace('ğŸ¨', '6')
    .str.replace('ğŸ§', '5')
    .str.replace('ğŸ¦', '4')
    .str.replace('ğŸ¥', '3')
    .str.replace('ğŸ¤', '2')
    .str.replace('ğŸ£', '1')
    .str.replace('ğŸ¢', '0')
    .str.replace('ğŸ¡', '9')
    .str.replace('ğŸ ', '8')
    .str.replace('ğŸŸ', '7')
    .str.replace('ğŸ', '6')
    .str.replace('ğŸ', '5')
    .str.replace('ğŸœ', '4')
    .str.replace('ğŸ›', '3')
    .str.replace('ğŸš', '2')
    .str.replace('ğŸ™', '1')
    .str.replace('ğŸ˜', '0')
    .str.replace('ğŸ—', '9')
    .str.replace('ğŸ–', '8')
    .str.replace('ğŸ•', '7')
    .str.replace('ğŸ”', '6')
    .str.replace('ğŸ“', '5')
    .str.replace('ğŸ’', '4')
    .str.replace('ğŸ‘', '3')
    .str.replace('ğŸ', '2')
    .str.replace('ğŸ', '1')
    .str.replace('ğŸ', '0')
    .str.replace('ğŸŒ', '4')
    .str.replace('ğŸ‹', '3')
    .str.replace('ğŸŠ', '2')
    .str.replace('ğŸ‰', '1')
    .str.replace('ğŸˆ', '0')
    .str.replace('ğŸ‡', '9')
    .str.replace('ğŸ†', '8')
    .str.replace('ğŸ…', '7')
    .str.replace('ğŸ„', '6')
    .str.replace('ğŸƒ', '5')
    .str.replace('ğŸ‚', '4')
    .str.replace('ğŸ', '3')
    .str.replace('ğŸ€', '2')
    .str.replace('ğ¿', '1')
    .str.replace('ğ¾', '0')
)

/tmp/ipykernel_708/2278130057.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_expanded_df['property_price_cleaned'] = (

In [4]:
# Replace "O" with "0" in rented_price_cleaned
final_expanded_df['property_price_cleaned'] = final_expanded_df['property_price_cleaned'].str.replace('O', '0')
final_expanded_df

/tmp/ipykernel_708/825901540.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_expanded_df['property_price_cleaned'] = final_expanded_df['property_price_cleaned'].str.replace('O', '0')

,lat,lng,address,bed,bath,car,land,type,rented_price,date,property_price_cleaned
0,NaN,NaN,"ğŸ¸ğŸ»-ğŸ¸ğŸ½ ğ™»ĞÕIS RĞÎ‘D â€‹- ğŸ·ST Î•STÎ‘TÎ•, VÎ•NÕS BAYâ€‹",2,ğŸ·,None,None,House,"$340,00â€‹0",April 2013,"$340,00â€‹0"
1,NaN,NaN,"ğŸ¸ğŸ»-ğŸ¸ğŸ½ ğ™»ĞÕIS RĞÎ‘D â€‹- ğŸ·ST Î•STÎ‘TÎ•, VÎ•NÕS BAYâ€‹",2,ğŸ·,None,None,House,"$340,000",November 2011,"$340,000"
2,NaN,NaN,"85 PANDORA AVENUE - 1ST ESTATE, VENUS BAY",3,2,4,None,House,"$ï¼”ğŸ«ğŸ«,OOO",April 2013,"$499,000"
3,NaN,NaN,"85 PANDORA AVENUE - 1ST ESTATE, VENUS BAY",3,2,4,None,House,"$â€‹499,000",November 2011,"$â€‹499,000"
4,NaN,NaN,"ğŸ¨-ğŸª Ğ’ğ™»Î‘Ğ¡K AVENâ€‹UE, VENUS BAY",None,None,None,None,Land,"<span>$ğŸ¨ğŸ»,OOO</span>",April 2013,"$65,000"
...,...,...,...,...,...,...,...,...,...,...,...
512633,NaN,NaN,"ğŸ·ğŸ·ğŸ· JUSâ€‹TICE, COWâ€‹ES",â€‹3,,ï¼”,None,None,"$329,000",July 2012,"$329,000"
512634,NaN,NaN,"ğŸ½ RÎ•DWĞĞD, Ğ¡ĞWÎ•S",,2,1,None,None,"$369,000",July 2012,"$369,000"
512635,NaN,NaN,"LOT 2/ 59 MCHAFFIE, Ğ¡ĞWÎ•S",None,None,None,None,None,"$115,000 - $125,000",July 2012,"$115,000 - $125,000"
512636,NaN,NaN,"ğŸ¨Î‘ Ğ’RÎ‘Dğ™»Î•Y, COWES",3,2,1â€‹,None,Townhouse,"$359,000",July 2012,"$359,000"
512637,NaN,NaN,"89 DUNES ROAD, COWES",,2,ğŸ¸,None,None,"$425,0â€‹00",July 2012,"$425,0â€‹00"

In [5]:
# Replace all non-numeric characters with NaN from rented_price_cleaned except for commas and "$" signs and "-" signs
final_expanded_df['property_price_cleaned'] = final_expanded_df['property_price_cleaned'].str.replace(r'[^0-9,$-]', '', regex=True)
final_expanded_df

/tmp/ipykernel_708/3598943794.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_expanded_df['property_price_cleaned'] = final_expanded_df['property_price_cleaned'].str.replace(r'[^0-9,$-]', '', regex=True)

,lat,lng,address,bed,bath,car,land,type,rented_price,date,property_price_cleaned
0,NaN,NaN,"ğŸ¸ğŸ»-ğŸ¸ğŸ½ ğ™»ĞÕIS RĞÎ‘D â€‹- ğŸ·ST Î•STÎ‘TÎ•, VÎ•NÕS BAYâ€‹",2,ğŸ·,None,None,House,"$340,00â€‹0",April 2013,"$340,000"
1,NaN,NaN,"ğŸ¸ğŸ»-ğŸ¸ğŸ½ ğ™»ĞÕIS RĞÎ‘D â€‹- ğŸ·ST Î•STÎ‘TÎ•, VÎ•NÕS BAYâ€‹",2,ğŸ·,None,None,House,"$340,000",November 2011,"$340,000"
2,NaN,NaN,"85 PANDORA AVENUE - 1ST ESTATE, VENUS BAY",3,2,4,None,House,"$ï¼”ğŸ«ğŸ«,OOO",April 2013,"$499,000"
3,NaN,NaN,"85 PANDORA AVENUE - 1ST ESTATE, VENUS BAY",3,2,4,None,House,"$â€‹499,000",November 2011,"$499,000"
4,NaN,NaN,"ğŸ¨-ğŸª Ğ’ğ™»Î‘Ğ¡K AVENâ€‹UE, VENUS BAY",None,None,None,None,Land,"<span>$ğŸ¨ğŸ»,OOO</span>",April 2013,"$65,000"
...,...,...,...,...,...,...,...,...,...,...,...
512633,NaN,NaN,"ğŸ·ğŸ·ğŸ· JUSâ€‹TICE, COWâ€‹ES",â€‹3,,ï¼”,None,None,"$329,000",July 2012,"$329,000"
512634,NaN,NaN,"ğŸ½ RÎ•DWĞĞD, Ğ¡ĞWÎ•S",,2,1,None,None,"$369,000",July 2012,"$369,000"
512635,NaN,NaN,"LOT 2/ 59 MCHAFFIE, Ğ¡ĞWÎ•S",None,None,None,None,None,"$115,000 - $125,000",July 2012,"$115,000-$125,000"
512636,NaN,NaN,"ğŸ¨Î‘ Ğ’RÎ‘Dğ™»Î•Y, COWES",3,2,1â€‹,None,Townhouse,"$359,000",July 2012,"$359,000"
512637,NaN,NaN,"89 DUNES ROAD, COWES",,2,ğŸ¸,None,None,"$425,0â€‹00",July 2012,"$425,000"

In [6]:
# Function to clean and handle range prices by calculating the average
def clean_price(price):
    if pd.isna(price):
        return price  # Return NaN as is
    # Handle price ranges like "$425,000-$455,000"
    range_match = re.match(r"\$(\d+,\d+)-\$(\d+,\d+)", price)
    if range_match:
        low_price = int(range_match.group(1).replace(',', ''))
        high_price = int(range_match.group(2).replace(',', ''))
        return (low_price + high_price) / 2  # Return the average of the range
    # Handle normal prices
    price_cleaned = re.sub(r'[^\d]', '', price)
    return int(price_cleaned) if price_cleaned.isdigit() else None

In [7]:
final_expanded_df['property_price_cleaned'] = [clean_price(price) for price in final_expanded_df['property_price_cleaned']]

final_expanded_df

/tmp/ipykernel_708/2455915571.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_expanded_df['property_price_cleaned'] = [clean_price(price) for price in final_expanded_df['property_price_cleaned']]

,lat,lng,address,bed,bath,car,land,type,rented_price,date,property_price_cleaned
0,NaN,NaN,"ğŸ¸ğŸ»-ğŸ¸ğŸ½ ğ™»ĞÕIS RĞÎ‘D â€‹- ğŸ·ST Î•STÎ‘TÎ•, VÎ•NÕS BAYâ€‹",2,ğŸ·,None,None,House,"$340,00â€‹0",April 2013,340000.0
1,NaN,NaN,"ğŸ¸ğŸ»-ğŸ¸ğŸ½ ğ™»ĞÕIS RĞÎ‘D â€‹- ğŸ·ST Î•STÎ‘TÎ•, VÎ•NÕS BAYâ€‹",2,ğŸ·,None,None,House,"$340,000",November 2011,340000.0
2,NaN,NaN,"85 PANDORA AVENUE - 1ST ESTATE, VENUS BAY",3,2,4,None,House,"$ï¼”ğŸ«ğŸ«,OOO",April 2013,499000.0
3,NaN,NaN,"85 PANDORA AVENUE - 1ST ESTATE, VENUS BAY",3,2,4,None,House,"$â€‹499,000",November 2011,499000.0
4,NaN,NaN,"ğŸ¨-ğŸª Ğ’ğ™»Î‘Ğ¡K AVENâ€‹UE, VENUS BAY",None,None,None,None,Land,"<span>$ğŸ¨ğŸ»,OOO</span>",April 2013,65000.0
...,...,...,...,...,...,...,...,...,...,...,...
512633,NaN,NaN,"ğŸ·ğŸ·ğŸ· JUSâ€‹TICE, COWâ€‹ES",â€‹3,,ï¼”,None,None,"$329,000",July 2012,329000.0
512634,NaN,NaN,"ğŸ½ RÎ•DWĞĞD, Ğ¡ĞWÎ•S",,2,1,None,None,"$369,000",July 2012,369000.0
512635,NaN,NaN,"LOT 2/ 59 MCHAFFIE, Ğ¡ĞWÎ•S",None,None,None,None,None,"$115,000 - $125,000",July 2012,120000.0
512636,NaN,NaN,"ğŸ¨Î‘ Ğ’RÎ‘Dğ™»Î•Y, COWES",3,2,1â€‹,None,Townhouse,"$359,000",July 2012,359000.0
512637,NaN,NaN,"89 DUNES ROAD, COWES",,2,ğŸ¸,None,None,"$425,0â€‹00",July 2012,425000.0

In [8]:
final_expanded_df['date'] = pd.to_datetime(final_expanded_df['date'], errors='coerce')
final_expanded_df

/tmp/ipykernel_708/1390822886.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  final_expanded_df['date'] = pd.to_datetime(final_expanded_df['date'], errors='coerce')
/tmp/ipykernel_708/1390822886.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_expanded_df['date'] = pd.to_datetime(final_expanded_df['date'], errors='coerce')

,lat,lng,address,bed,bath,car,land,type,rented_price,date,property_price_cleaned
0,NaN,NaN,"ğŸ¸ğŸ»-ğŸ¸ğŸ½ ğ™»ĞÕIS RĞÎ‘D â€‹- ğŸ·ST Î•STÎ‘TÎ•, VÎ•NÕS BAYâ€‹",2,ğŸ·,None,None,House,"$340,00â€‹0",2013-04-01,340000.0
1,NaN,NaN,"ğŸ¸ğŸ»-ğŸ¸ğŸ½ ğ™»ĞÕIS RĞÎ‘D â€‹- ğŸ·ST Î•STÎ‘TÎ•, VÎ•NÕS BAYâ€‹",2,ğŸ·,None,None,House,"$340,000",2011-11-01,340000.0
2,NaN,NaN,"85 PANDORA AVENUE - 1ST ESTATE, VENUS BAY",3,2,4,None,House,"$ï¼”ğŸ«ğŸ«,OOO",2013-04-01,499000.0
3,NaN,NaN,"85 PANDORA AVENUE - 1ST ESTATE, VENUS BAY",3,2,4,None,House,"$â€‹499,000",2011-11-01,499000.0
4,NaN,NaN,"ğŸ¨-ğŸª Ğ’ğ™»Î‘Ğ¡K AVENâ€‹UE, VENUS BAY",None,None,None,None,Land,"<span>$ğŸ¨ğŸ»,OOO</span>",2013-04-01,65000.0
...,...,...,...,...,...,...,...,...,...,...,...
512633,NaN,NaN,"ğŸ·ğŸ·ğŸ· JUSâ€‹TICE, COWâ€‹ES",â€‹3,,ï¼”,None,None,"$329,000",2012-07-01,329000.0
512634,NaN,NaN,"ğŸ½ RÎ•DWĞĞD, Ğ¡ĞWÎ•S",,2,1,None,None,"$369,000",2012-07-01,369000.0
512635,NaN,NaN,"LOT 2/ 59 MCHAFFIE, Ğ¡ĞWÎ•S",None,None,None,None,None,"$115,000 - $125,000",2012-07-01,120000.0
512636,NaN,NaN,"ğŸ¨Î‘ Ğ’RÎ‘Dğ™»Î•Y, COWES",3,2,1â€‹,None,Townhouse,"$359,000",2012-07-01,359000.0
512637,NaN,NaN,"89 DUNES ROAD, COWES",,2,ğŸ¸,None,None,"$425,0â€‹00",2012-07-01,425000.0

In [13]:
# Function to clean "bed"
final_expanded_df['bed_cleaned'] = (
    final_expanded_df['bed']
    .str.replace(r'\u200b', '', regex=False)           # Remove zero-width space
    .str.replace(r'\xa0', '', regex=False)             # Remove non-breaking space
    .str.replace(r'<span>', '', regex=False)           # Remove <span> tag
    .str.replace(r'</span>', '', regex=False)          # Remove </span> tag
    #.str.translate(translation_table)                 # Convert full-width digits to ASCII digits
    # Convert full-width digits to ASCII digits
    .str.replace('ï¼', '0')
    .str.replace('ï¼‘', '1')
    .str.replace('ï¼’', '2')
    .str.replace('ï¼“', '3')
    .str.replace('ï¼”', '4')
    .str.replace('ï¼•', '5')
    .str.replace('ï¼–', '6')
    .str.replace('ï¼—', '7')
    .str.replace('ï¼˜', '8')
    .str.replace('ï¼™', '9')
    .str.replace('4', '4')
    .str.replace('ğŸ»', '5')
    .str.replace('ğŸ¼', '6')
    .str.replace('ğŸ½', '7')
    .str.replace('ğŸ¾', '8')
    .str.replace('ğŸ¿', '9')
    .str.replace('ğŸ¶', '0')
    .str.replace('ğŸ¹', '3')
    .str.replace('ğŸº', '4')
    .str.replace('ğŸ¸', '2')
    .str.replace('ğŸ·', '1')
    .str.replace('ğŸ«', '9')
    .str.replace('ğŸª', '8')
    .str.replace('ğŸ©', '7')
    .str.replace('ğŸ¨', '6')
    .str.replace('ğŸ§', '5')
    .str.replace('ğŸ¦', '4')
    .str.replace('ğŸ¥', '3')
    .str.replace('ğŸ¤', '2')
    .str.replace('ğŸ£', '1')
    .str.replace('ğŸ¢', '0')
    .str.replace('ğŸ¡', '9')
    .str.replace('ğŸ ', '8')
    .str.replace('ğŸŸ', '7')
    .str.replace('ğŸ', '6')
    .str.replace('ğŸ', '5')
    .str.replace('ğŸœ', '4')
    .str.replace('ğŸ›', '3')
    .str.replace('ğŸš', '2')
    .str.replace('ğŸ™', '1')
    .str.replace('ğŸ˜', '0')
    .str.replace('ğŸ—', '9')
    .str.replace('ğŸ–', '8')
    .str.replace('ğŸ•', '7')
    .str.replace('ğŸ”', '6')
    .str.replace('ğŸ“', '5')
    .str.replace('ğŸ’', '4')
    .str.replace('ğŸ‘', '3')
    .str.replace('ğŸ', '2')
    .str.replace('ğŸ', '1')
    .str.replace('ğŸ', '0')
    .str.replace('ğŸŒ', '4')
    .str.replace('ğŸ‹', '3')
    .str.replace('ğŸŠ', '2')
    .str.replace('ğŸ‰', '1')
    .str.replace('ğŸˆ', '0')
    .str.replace('ğŸ‡', '9')
    .str.replace('ğŸ†', '8')
    .str.replace('ğŸ…', '7')
    .str.replace('ğŸ„', '6')
    .str.replace('ğŸƒ', '5')
    .str.replace('ğŸ‚', '4')
    .str.replace('ğŸ', '3')
    .str.replace('ğŸ€', '2')
    .str.replace('ğ¿', '1')
    .str.replace('ğ¾', '0')
)

In [14]:
# Function to clean "bath"
final_expanded_df['bath_cleaned'] = (
    final_expanded_df['bath']
    .str.replace(r'\u200b', '', regex=False)           # Remove zero-width space
    .str.replace(r'\xa0', '', regex=False)             # Remove non-breaking space
    .str.replace(r'<span>', '', regex=False)           # Remove <span> tag
    .str.replace(r'</span>', '', regex=False)          # Remove </span> tag
    #.str.translate(translation_table)                 # Convert full-width digits to ASCII digits
    # Convert full-width digits to ASCII digits
    .str.replace('ï¼', '0')
    .str.replace('ï¼‘', '1')
    .str.replace('ï¼’', '2')
    .str.replace('ï¼“', '3')
    .str.replace('ï¼”', '4')
    .str.replace('ï¼•', '5')
    .str.replace('ï¼–', '6')
    .str.replace('ï¼—', '7')
    .str.replace('ï¼˜', '8')
    .str.replace('ï¼™', '9')
    .str.replace('4', '4')
    .str.replace('ğŸ»', '5')
    .str.replace('ğŸ¼', '6')
    .str.replace('ğŸ½', '7')
    .str.replace('ğŸ¾', '8')
    .str.replace('ğŸ¿', '9')
    .str.replace('ğŸ¶', '0')
    .str.replace('ğŸ¹', '3')
    .str.replace('ğŸº', '4')
    .str.replace('ğŸ¸', '2')
    .str.replace('ğŸ·', '1')
    .str.replace('ğŸ«', '9')
    .str.replace('ğŸª', '8')
    .str.replace('ğŸ©', '7')
    .str.replace('ğŸ¨', '6')
    .str.replace('ğŸ§', '5')
    .str.replace('ğŸ¦', '4')
    .str.replace('ğŸ¥', '3')
    .str.replace('ğŸ¤', '2')
    .str.replace('ğŸ£', '1')
    .str.replace('ğŸ¢', '0')
    .str.replace('ğŸ¡', '9')
    .str.replace('ğŸ ', '8')
    .str.replace('ğŸŸ', '7')
    .str.replace('ğŸ', '6')
    .str.replace('ğŸ', '5')
    .str.replace('ğŸœ', '4')
    .str.replace('ğŸ›', '3')
    .str.replace('ğŸš', '2')
    .str.replace('ğŸ™', '1')
    .str.replace('ğŸ˜', '0')
    .str.replace('ğŸ—', '9')
    .str.replace('ğŸ–', '8')
    .str.replace('ğŸ•', '7')
    .str.replace('ğŸ”', '6')
    .str.replace('ğŸ“', '5')
    .str.replace('ğŸ’', '4')
    .str.replace('ğŸ‘', '3')
    .str.replace('ğŸ', '2')
    .str.replace('ğŸ', '1')
    .str.replace('ğŸ', '0')
    .str.replace('ğŸŒ', '4')
    .str.replace('ğŸ‹', '3')
    .str.replace('ğŸŠ', '2')
    .str.replace('ğŸ‰', '1')
    .str.replace('ğŸˆ', '0')
    .str.replace('ğŸ‡', '9')
    .str.replace('ğŸ†', '8')
    .str.replace('ğŸ…', '7')
    .str.replace('ğŸ„', '6')
    .str.replace('ğŸƒ', '5')
    .str.replace('ğŸ‚', '4')
    .str.replace('ğŸ', '3')
    .str.replace('ğŸ€', '2')
    .str.replace('ğ¿', '1')
    .str.replace('ğ¾', '0')
)

In [15]:
# Function to clean "car"
final_expanded_df['car_cleaned'] = (
    final_expanded_df['car']
    .str.replace(r'\u200b', '', regex=False)           # Remove zero-width space
    .str.replace(r'\xa0', '', regex=False)             # Remove non-breaking space
    .str.replace(r'<span>', '', regex=False)           # Remove <span> tag
    .str.replace(r'</span>', '', regex=False)          # Remove </span> tag
    #.str.translate(translation_table)                 # Convert full-width digits to ASCII digits
    # Convert full-width digits to ASCII digits
    .str.replace('ï¼', '0')
    .str.replace('ï¼‘', '1')
    .str.replace('ï¼’', '2')
    .str.replace('ï¼“', '3')
    .str.replace('ï¼”', '4')
    .str.replace('ï¼•', '5')
    .str.replace('ï¼–', '6')
    .str.replace('ï¼—', '7')
    .str.replace('ï¼˜', '8')
    .str.replace('ï¼™', '9')
    .str.replace('4', '4')
    .str.replace('ğŸ»', '5')
    .str.replace('ğŸ¼', '6')
    .str.replace('ğŸ½', '7')
    .str.replace('ğŸ¾', '8')
    .str.replace('ğŸ¿', '9')
    .str.replace('ğŸ¶', '0')
    .str.replace('ğŸ¹', '3')
    .str.replace('ğŸº', '4')
    .str.replace('ğŸ¸', '2')
    .str.replace('ğŸ·', '1')
    .str.replace('ğŸ«', '9')
    .str.replace('ğŸª', '8')
    .str.replace('ğŸ©', '7')
    .str.replace('ğŸ¨', '6')
    .str.replace('ğŸ§', '5')
    .str.replace('ğŸ¦', '4')
    .str.replace('ğŸ¥', '3')
    .str.replace('ğŸ¤', '2')
    .str.replace('ğŸ£', '1')
    .str.replace('ğŸ¢', '0')
    .str.replace('ğŸ¡', '9')
    .str.replace('ğŸ ', '8')
    .str.replace('ğŸŸ', '7')
    .str.replace('ğŸ', '6')
    .str.replace('ğŸ', '5')
    .str.replace('ğŸœ', '4')
    .str.replace('ğŸ›', '3')
    .str.replace('ğŸš', '2')
    .str.replace('ğŸ™', '1')
    .str.replace('ğŸ˜', '0')
    .str.replace('ğŸ—', '9')
    .str.replace('ğŸ–', '8')
    .str.replace('ğŸ•', '7')
    .str.replace('ğŸ”', '6')
    .str.replace('ğŸ“', '5')
    .str.replace('ğŸ’', '4')
    .str.replace('ğŸ‘', '3')
    .str.replace('ğŸ', '2')
    .str.replace('ğŸ', '1')
    .str.replace('ğŸ', '0')
    .str.replace('ğŸŒ', '4')
    .str.replace('ğŸ‹', '3')
    .str.replace('ğŸŠ', '2')
    .str.replace('ğŸ‰', '1')
    .str.replace('ğŸˆ', '0')
    .str.replace('ğŸ‡', '9')
    .str.replace('ğŸ†', '8')
    .str.replace('ğŸ…', '7')
    .str.replace('ğŸ„', '6')
    .str.replace('ğŸƒ', '5')
    .str.replace('ğŸ‚', '4')
    .str.replace('ğŸ', '3')
    .str.replace('ğŸ€', '2')
    .str.replace('ğ¿', '1')
    .str.replace('ğ¾', '0')
)

In [16]:
# Function to clean "land"
final_expanded_df['land_cleaned'] = (
    final_expanded_df['land']
    .str.replace(r'm2', '', regex=False)           # Remove "m2" unit
    .str.replace(r'\u200b', '', regex=False)           # Remove zero-width space
    .str.replace(r'\xa0', '', regex=False)             # Remove non-breaking space
    .str.replace(r'<span>', '', regex=False)           # Remove <span> tag
    .str.replace(r'</span>', '', regex=False)          # Remove </span> tag
    #.str.translate(translation_table)                 # Convert full-width digits to ASCII digits
    # Convert full-width digits to ASCII digits
    .str.replace('ï¼', '0')
    .str.replace('ï¼‘', '1')
    .str.replace('ï¼’', '2')
    .str.replace('ï¼“', '3')
    .str.replace('ï¼”', '4')
    .str.replace('ï¼•', '5')
    .str.replace('ï¼–', '6')
    .str.replace('ï¼—', '7')
    .str.replace('ï¼˜', '8')
    .str.replace('ï¼™', '9')
    .str.replace('4', '4')
    .str.replace('ğŸ»', '5')
    .str.replace('ğŸ¼', '6')
    .str.replace('ğŸ½', '7')
    .str.replace('ğŸ¾', '8')
    .str.replace('ğŸ¿', '9')
    .str.replace('ğŸ¶', '0')
    .str.replace('ğŸ¹', '3')
    .str.replace('ğŸº', '4')
    .str.replace('ğŸ¸', '2')
    .str.replace('ğŸ·', '1')
    .str.replace('ğŸ«', '9')
    .str.replace('ğŸª', '8')
    .str.replace('ğŸ©', '7')
    .str.replace('ğŸ¨', '6')
    .str.replace('ğŸ§', '5')
    .str.replace('ğŸ¦', '4')
    .str.replace('ğŸ¥', '3')
    .str.replace('ğŸ¤', '2')
    .str.replace('ğŸ£', '1')
    .str.replace('ğŸ¢', '0')
    .str.replace('ğŸ¡', '9')
    .str.replace('ğŸ ', '8')
    .str.replace('ğŸŸ', '7')
    .str.replace('ğŸ', '6')
    .str.replace('ğŸ', '5')
    .str.replace('ğŸœ', '4')
    .str.replace('ğŸ›', '3')
    .str.replace('ğŸš', '2')
    .str.replace('ğŸ™', '1')
    .str.replace('ğŸ˜', '0')
    .str.replace('ğŸ—', '9')
    .str.replace('ğŸ–', '8')
    .str.replace('ğŸ•', '7')
    .str.replace('ğŸ”', '6')
    .str.replace('ğŸ“', '5')
    .str.replace('ğŸ’', '4')
    .str.replace('ğŸ‘', '3')
    .str.replace('ğŸ', '2')
    .str.replace('ğŸ', '1')
    .str.replace('ğŸ', '0')
    .str.replace('ğŸŒ', '4')
    .str.replace('ğŸ‹', '3')
    .str.replace('ğŸŠ', '2')
    .str.replace('ğŸ‰', '1')
    .str.replace('ğŸˆ', '0')
    .str.replace('ğŸ‡', '9')
    .str.replace('ğŸ†', '8')
    .str.replace('ğŸ…', '7')
    .str.replace('ğŸ„', '6')
    .str.replace('ğŸƒ', '5')
    .str.replace('ğŸ‚', '4')
    .str.replace('ğŸ', '3')
    .str.replace('ğŸ€', '2')
    .str.replace('ğ¿', '1')
    .str.replace('ğ¾', '0')
)

In [17]:
final_expanded_df

,lat,lng,address,bed,bath,car,land,type,rented_price,date,property_price_cleaned,bed_cleaned,bath_cleaned,car_cleaned,land_cleaned
0,NaN,NaN,"ğŸ¸ğŸ»-ğŸ¸ğŸ½ ğ™»ĞÕIS RĞÎ‘D â€‹- ğŸ·ST Î•STÎ‘TÎ•, VÎ•NÕS BAYâ€‹",2,ğŸ·,None,None,House,"$340,00â€‹0",2013-04-01,340000.0,2,1,None,None
1,NaN,NaN,"ğŸ¸ğŸ»-ğŸ¸ğŸ½ ğ™»ĞÕIS RĞÎ‘D â€‹- ğŸ·ST Î•STÎ‘TÎ•, VÎ•NÕS BAYâ€‹",2,ğŸ·,None,None,House,"$340,000",2011-11-01,340000.0,2,1,None,None
2,NaN,NaN,"85 PANDORA AVENUE - 1ST ESTATE, VENUS BAY",3,2,4,None,House,"$ï¼”ğŸ«ğŸ«,OOO",2013-04-01,499000.0,3,2,4,None
3,NaN,NaN,"85 PANDORA AVENUE - 1ST ESTATE, VENUS BAY",3,2,4,None,House,"$â€‹499,000",2011-11-01,499000.0,3,2,4,None
4,NaN,NaN,"ğŸ¨-ğŸª Ğ’ğ™»Î‘Ğ¡K AVENâ€‹UE, VENUS BAY",None,None,None,None,Land,"<span>$ğŸ¨ğŸ»,OOO</span>",2013-04-01,65000.0,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512633,NaN,NaN,"ğŸ·ğŸ·ğŸ· JUSâ€‹TICE, COWâ€‹ES",â€‹3,,ï¼”,None,None,"$329,000",2012-07-01,329000.0,â€‹3,,4,None
512634,NaN,NaN,"ğŸ½ RÎ•DWĞĞD, Ğ¡ĞWÎ•S",,2,1,None,None,"$369,000",2012-07-01,369000.0,,2,1,None
512635,NaN,NaN,"LOT 2/ 59 MCHAFFIE, Ğ¡ĞWÎ•S",None,None,None,None,None,"$115,000 - $125,000",2012-07-01,120000.0,None,None,None,None
512636,NaN,NaN,"ğŸ¨Î‘ Ğ’RÎ‘Dğ™»Î•Y, COWES",3,2,1â€‹,None,Townhouse,"$359,000",2012-07-01,359000.0,3,2,1â€‹,None
512637,NaN,NaN,"89 DUNES ROAD, COWES",,2,ğŸ¸,None,None,"$425,0â€‹00",2012-07-01,425000.0,,2,2,None

In [18]:
# Function to clean "address"
final_expanded_df['address_cleaned'] = (
    final_expanded_df['address']
    .str.replace(r'\u200b', '', regex=False)           # Remove zero-width space
    .str.replace(r'\xa0', '', regex=False)             # Remove non-breaking space
    .str.replace(r'<span>', '', regex=False)           # Remove <span> tag
    .str.replace(r'</span>', '', regex=False)          # Remove </span> tag
    .str.replace('ğ™»', 'L')
    .str.replace('ğ™º', 'K')
    .str.replace('ğ™¹', 'J')
    .str.replace('ğ™¸', 'I')
    .str.replace('ğ™·', 'H')
    .str.replace('ğ™¶', 'G')
    .str.replace('ğ™µ', 'F')
    .str.replace('ğ™´', 'E')
    .str.replace('ğ™³', 'D')
    .str.replace('ğ™²', 'C')
    .str.replace('ğ™±', 'B')
    .str.replace('ğ™°', 'A')
    .str.replace('ğ˜¾', 'C')
    .str.replace('ğ˜½', 'B')
    .str.replace('ğ˜¼', 'A')
    .str.replace('ğ˜¿', 'D')
    .str.replace('ğ˜¾', 'C')
    .str.replace('ğ˜½', 'B')
    .str.replace('ğ˜¼', 'A')
    .str.replace('ğ˜»', 'z')
    .str.replace('ğ˜º', 'y')
    .str.replace('ğ˜¹', 'x')
    .str.replace('ğ˜¸', 'w')
    .str.replace('ğ˜·', 'v')
    .str.replace('ğ˜¶', 'u')
    .str.replace('ğ˜µ', 't')
    .str.replace('ğ˜´', 's')

)

In [19]:
# Function to clean "address"
final_expanded_df['address_cleaned'] = (
    final_expanded_df['address_cleaned']
    .str.replace('ğ˜³', 'r')
    .str.replace('ğ˜²', 'q')
    .str.replace('ğ˜±', 'p')
    .str.replace('ğ˜°', 'o')
    .str.replace('ğ˜¯', 'n')
    .str.replace('ğ˜­', 'l')
    .str.replace('ğ˜¬', 'k')
    .str.replace('ğ˜«', 'j')
    .str.replace('ğ˜ª', 'i')
    .str.replace('ğ˜©', 'h')
    .str.replace('ğ˜¨', 'g')
    .str.replace('ğ˜§', 'f')
    .str.replace('ğ˜¦', 'e')
    .str.replace('ğ˜¥', 'd')
    .str.replace('ğ˜£', 'b')
    .str.replace('ğ˜¢', 'a')
    .str.replace('ğ˜¡', 'Z')
    .str.replace('ğ˜ ', 'Y')
    .str.replace('ğ˜Ÿ', 'X')
    .str.replace('ï¼', '0')
    .str.replace('ï¼‘', '1')
    .str.replace('ï¼’', '2')
    .str.replace('ï¼“', '3')
    .str.replace('ï¼”', '4')
    .str.replace('ï¼•', '5')
    .str.replace('ï¼–', '6')
    .str.replace('ï¼—', '7')
    .str.replace('ï¼˜', '8')
    .str.replace('ï¼™', '9')
    .str.replace('4', '4')
    .str.replace('ğŸ»', '5')
    .str.replace('ğŸ¼', '6')
    .str.replace('ğŸ½', '7')
    .str.replace('ğŸ¾', '8')
    .str.replace('ğŸ¿', '9')
    .str.replace('ğŸ¶', '0')
    .str.replace('ğŸ¹', '3')
    .str.replace('ğŸº', '4')
    .str.replace('ğŸ¸', '2')
    .str.replace('ğŸ·', '1')
    .str.replace('ğŸ«', '9')
    .str.replace('ğŸª', '8')
    .str.replace('ğŸ©', '7')
    .str.replace('ğŸ¨', '6')
    .str.replace('ğŸ§', '5')
    .str.replace('ğŸ¦', '4')
    .str.replace('ğŸ¥', '3')
    .str.replace('ğŸ¤', '2')
    .str.replace('ğŸ£', '1')
    .str.replace('ğŸ¢', '0')
    .str.replace('ğŸ¡', '9')
    .str.replace('ğŸ ', '8')
    .str.replace('ğŸŸ', '7')
    .str.replace('ğŸ', '6')
    .str.replace('ğŸ', '5')
    .str.replace('ğŸœ', '4')
    .str.replace('ğŸ›', '3')
    .str.replace('ğŸš', '2')
    .str.replace('ğŸ™', '1')
    .str.replace('ğŸ˜', '0')
    .str.replace('ğŸ—', '9')
    .str.replace('ğŸ–', '8')
    .str.replace('ğŸ•', '7')
    .str.replace('ğŸ”', '6')
    .str.replace('ğŸ“', '5')
    .str.replace('ğŸ’', '4')
    .str.replace('ğŸ‘', '3')
    .str.replace('ğŸ', '2')
    .str.replace('ğŸ', '1')
    .str.replace('ğŸ', '0')
    

)

In [20]:
final_expanded_df

,lat,lng,address,bed,bath,car,land,type,rented_price,date,property_price_cleaned,bed_cleaned,bath_cleaned,car_cleaned,land_cleaned,address_cleaned
0,NaN,NaN,"ğŸ¸ğŸ»-ğŸ¸ğŸ½ ğ™»ĞÕIS RĞÎ‘D â€‹- ğŸ·ST Î•STÎ‘TÎ•, VÎ•NÕS BAYâ€‹",2,ğŸ·,None,None,House,"$340,00â€‹0",2013-04-01,340000.0,2,1,None,None,"25-27 LĞÕIS RĞÎ‘D â€‹- 1ST Î•STÎ‘TÎ•, VÎ•NÕS BAYâ€‹"
1,NaN,NaN,"ğŸ¸ğŸ»-ğŸ¸ğŸ½ ğ™»ĞÕIS RĞÎ‘D â€‹- ğŸ·ST Î•STÎ‘TÎ•, VÎ•NÕS BAYâ€‹",2,ğŸ·,None,None,House,"$340,000",2011-11-01,340000.0,2,1,None,None,"25-27 LĞÕIS RĞÎ‘D â€‹- 1ST Î•STÎ‘TÎ•, VÎ•NÕS BAYâ€‹"
2,NaN,NaN,"85 PANDORA AVENUE - 1ST ESTATE, VENUS BAY",3,2,4,None,House,"$ï¼”ğŸ«ğŸ«,OOO",2013-04-01,499000.0,3,2,4,None,"85 PANDORA AVENUE - 1ST ESTATE, VENUS BAY"
3,NaN,NaN,"85 PANDORA AVENUE - 1ST ESTATE, VENUS BAY",3,2,4,None,House,"$â€‹499,000",2011-11-01,499000.0,3,2,4,None,"85 PANDORA AVENUE - 1ST ESTATE, VENUS BAY"
4,NaN,NaN,"ğŸ¨-ğŸª Ğ’ğ™»Î‘Ğ¡K AVENâ€‹UE, VENUS BAY",None,None,None,None,Land,"<span>$ğŸ¨ğŸ»,OOO</span>",2013-04-01,65000.0,None,None,None,None,"6-8 Ğ’LÎ‘Ğ¡K AVENâ€‹UE, VENUS BAY"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512633,NaN,NaN,"ğŸ·ğŸ·ğŸ· JUSâ€‹TICE, COWâ€‹ES",â€‹3,,ï¼”,None,None,"$329,000",2012-07-01,329000.0,â€‹3,,4,None,"111 JUSâ€‹TICE, COWâ€‹ES"
512634,NaN,NaN,"ğŸ½ RÎ•DWĞĞD, Ğ¡ĞWÎ•S",,2,1,None,None,"$369,000",2012-07-01,369000.0,,2,1,None,"7 RÎ•DWĞĞD, Ğ¡ĞWÎ•S"
512635,NaN,NaN,"LOT 2/ 59 MCHAFFIE, Ğ¡ĞWÎ•S",None,None,None,None,None,"$115,000 - $125,000",2012-07-01,120000.0,None,None,None,None,"LOT 2/ 59 MCHAFFIE, Ğ¡ĞWÎ•S"
512636,NaN,NaN,"ğŸ¨Î‘ Ğ’RÎ‘Dğ™»Î•Y, COWES",3,2,1â€‹,None,Townhouse,"$359,000",2012-07-01,359000.0,3,2,1â€‹,None,"6Î‘ Ğ’RÎ‘DLÎ•Y, COWES"
512637,NaN,NaN,"89 DUNES ROAD, COWES",,2,ğŸ¸,None,None,"$425,0â€‹00",2012-07-01,425000.0,,2,2,None,"89 DUNES ROAD, COWES"

In [21]:
# drop some columns
final_expanded_df = final_expanded_df.drop(columns=['rented_price', 'bed', 'bath', 'car', 'land', 'address'])
final_expanded_df

,lat,lng,type,date,property_price_cleaned,bed_cleaned,bath_cleaned,car_cleaned,land_cleaned,address_cleaned
0,NaN,NaN,House,2013-04-01,340000.0,2,1,None,None,"25-27 LĞÕIS RĞÎ‘D â€‹- 1ST Î•STÎ‘TÎ•, VÎ•NÕS BAYâ€‹"
1,NaN,NaN,House,2011-11-01,340000.0,2,1,None,None,"25-27 LĞÕIS RĞÎ‘D â€‹- 1ST Î•STÎ‘TÎ•, VÎ•NÕS BAYâ€‹"
2,NaN,NaN,House,2013-04-01,499000.0,3,2,4,None,"85 PANDORA AVENUE - 1ST ESTATE, VENUS BAY"
3,NaN,NaN,House,2011-11-01,499000.0,3,2,4,None,"85 PANDORA AVENUE - 1ST ESTATE, VENUS BAY"
4,NaN,NaN,Land,2013-04-01,65000.0,None,None,None,None,"6-8 Ğ’LÎ‘Ğ¡K AVENâ€‹UE, VENUS BAY"
...,...,...,...,...,...,...,...,...,...,...
512633,NaN,NaN,None,2012-07-01,329000.0,â€‹3,,4,None,"111 JUSâ€‹TICE, COWâ€‹ES"
512634,NaN,NaN,None,2012-07-01,369000.0,,2,1,None,"7 RÎ•DWĞĞD, Ğ¡ĞWÎ•S"
512635,NaN,NaN,None,2012-07-01,120000.0,None,None,None,None,"LOT 2/ 59 MCHAFFIE, Ğ¡ĞWÎ•S"
512636,NaN,NaN,Townhouse,2012-07-01,359000.0,3,2,1â€‹,None,"6Î‘ Ğ’RÎ‘DLÎ•Y, COWES"
512637,NaN,NaN,None,2012-07-01,425000.0,,2,2,None,"89 DUNES ROAD, COWES"

In [22]:
# Extract year from date
final_expanded_df['year'] = final_expanded_df['date'].dt.year
final_expanded_df

,lat,lng,type,date,property_price_cleaned,bed_cleaned,bath_cleaned,car_cleaned,land_cleaned,address_cleaned,year
0,NaN,NaN,House,2013-04-01,340000.0,2,1,None,None,"25-27 LĞÕIS RĞÎ‘D â€‹- 1ST Î•STÎ‘TÎ•, VÎ•NÕS BAYâ€‹",2013.0
1,NaN,NaN,House,2011-11-01,340000.0,2,1,None,None,"25-27 LĞÕIS RĞÎ‘D â€‹- 1ST Î•STÎ‘TÎ•, VÎ•NÕS BAYâ€‹",2011.0
2,NaN,NaN,House,2013-04-01,499000.0,3,2,4,None,"85 PANDORA AVENUE - 1ST ESTATE, VENUS BAY",2013.0
3,NaN,NaN,House,2011-11-01,499000.0,3,2,4,None,"85 PANDORA AVENUE - 1ST ESTATE, VENUS BAY",2011.0
4,NaN,NaN,Land,2013-04-01,65000.0,None,None,None,None,"6-8 Ğ’LÎ‘Ğ¡K AVENâ€‹UE, VENUS BAY",2013.0
...,...,...,...,...,...,...,...,...,...,...,...
512633,NaN,NaN,None,2012-07-01,329000.0,â€‹3,,4,None,"111 JUSâ€‹TICE, COWâ€‹ES",2012.0
512634,NaN,NaN,None,2012-07-01,369000.0,,2,1,None,"7 RÎ•DWĞĞD, Ğ¡ĞWÎ•S",2012.0
512635,NaN,NaN,None,2012-07-01,120000.0,None,None,None,None,"LOT 2/ 59 MCHAFFIE, Ğ¡ĞWÎ•S",2012.0
512636,NaN,NaN,Townhouse,2012-07-01,359000.0,3,2,1â€‹,None,"6Î‘ Ğ’RÎ‘DLÎ•Y, COWES",2012.0
512637,NaN,NaN,None,2012-07-01,425000.0,,2,2,None,"89 DUNES ROAD, COWES",2012.0

In [23]:
# Extract suburb from address_cleaned, which is all text after the last comma
final_expanded_df['suburb'] = final_expanded_df['address_cleaned'].str.rsplit(',').str[-1]
final_expanded_df

,lat,lng,type,date,property_price_cleaned,bed_cleaned,bath_cleaned,car_cleaned,land_cleaned,address_cleaned,year,suburb
0,NaN,NaN,House,2013-04-01,340000.0,2,1,None,None,"25-27 LĞÕIS RĞÎ‘D â€‹- 1ST Î•STÎ‘TÎ•, VÎ•NÕS BAYâ€‹",2013.0,VÎ•NÕS BAYâ€‹
1,NaN,NaN,House,2011-11-01,340000.0,2,1,None,None,"25-27 LĞÕIS RĞÎ‘D â€‹- 1ST Î•STÎ‘TÎ•, VÎ•NÕS BAYâ€‹",2011.0,VÎ•NÕS BAYâ€‹
2,NaN,NaN,House,2013-04-01,499000.0,3,2,4,None,"85 PANDORA AVENUE - 1ST ESTATE, VENUS BAY",2013.0,VENUS BAY
3,NaN,NaN,House,2011-11-01,499000.0,3,2,4,None,"85 PANDORA AVENUE - 1ST ESTATE, VENUS BAY",2011.0,VENUS BAY
4,NaN,NaN,Land,2013-04-01,65000.0,None,None,None,None,"6-8 Ğ’LÎ‘Ğ¡K AVENâ€‹UE, VENUS BAY",2013.0,VENUS BAY
...,...,...,...,...,...,...,...,...,...,...,...,...
512633,NaN,NaN,None,2012-07-01,329000.0,â€‹3,,4,None,"111 JUSâ€‹TICE, COWâ€‹ES",2012.0,COWâ€‹ES
512634,NaN,NaN,None,2012-07-01,369000.0,,2,1,None,"7 RÎ•DWĞĞD, Ğ¡ĞWÎ•S",2012.0,Ğ¡ĞWÎ•S
512635,NaN,NaN,None,2012-07-01,120000.0,None,None,None,None,"LOT 2/ 59 MCHAFFIE, Ğ¡ĞWÎ•S",2012.0,Ğ¡ĞWÎ•S
512636,NaN,NaN,Townhouse,2012-07-01,359000.0,3,2,1â€‹,None,"6Î‘ Ğ’RÎ‘DLÎ•Y, COWES",2012.0,COWES
512637,NaN,NaN,None,2012-07-01,425000.0,,2,2,None,"89 DUNES ROAD, COWES",2012.0,COWES

In [24]:
create_dir("../data/raw/oldlistings_buy/")
final_expanded_df.to_csv("../data/raw/oldlistings_buy/oldlistings_buy_0.csv", index=False)

Directory already exists: ../data/raw/oldlistings_buy/