In [1]:

import pandas as pd
import numpy as np
import re
import os
import glob
import bs4
import re
import sys
sys.path.append("../")
from scripts.oldlistings import get_oldlistings_page
import json
from tqdm import tqdm

In [2]:
data_list = []
for i in range(1,6):
    template = f"../data/raw/oldlistings_rent_{i}.json"
    data_list.append(template)

In [10]:
data = pd.read_json(data_list[0])

make sure that for meta_data, only 

{'bath', 'type', 'car', 'bed', 'land'}

types are there

In [36]:
def process_df(data_df):
    def find_meta(xs,label, default=None, conversion=lambda x: x):
        for x in xs:
            if x['label'] == label:
                return conversion(x['quantity'])
        return default

    pattern1 = r"\$(\d+)\s*(per week|pw)" 
    
    data = data_df
    
    # extract rented prices to multiple rows
    pdf2 = pd.DataFrame(data['rented_prices'].to_list(),index=data.index).stack()
    pdf2 = pdf2.reset_index()
    pdf2.rename(columns={'level_0':'index',0:'rented_price_dict'},inplace=True)
    pdf2.drop(columns='level_1',inplace=True)
    pdf = pdf2.join(data, on='index', how='left')
    
    # meta data
    pdf['bed'] = pdf['meta_data'].apply(lambda xs: find_meta(xs, 'bed',np.nan))
    pdf['bath'] = pdf['meta_data'].apply(lambda xs: find_meta(xs, 'bath',np.nan))
    pdf['car'] = pdf['meta_data'].apply(lambda xs: find_meta(xs, 'car',np.nan))
    pdf['land'] = pdf['meta_data'].apply(lambda xs: find_meta(xs, 'land',np.nan))
    pdf['type'] = pdf['meta_data'].apply(lambda xs: find_meta(xs, 'type',"No type"))
    
    pdf.drop(columns=['meta_data','rented_prices','index'],inplace=True)

    # extract rented price to multiple columns
    pdf["rented_price"] = pdf["rented_price_dict"].apply(lambda x: re.search(pattern1, x['price']).group(1) if re.search(pattern1, x['price']) else None)
    pdf["date"] = pdf["rented_price_dict"].apply(lambda x: x['date'])
    return pdf

In [1]:
process_df(data).head()

NameError: name 'process_df' is not defined

In [6]:
for k in data_list:
    data = pd.read_json(k)
    labels = []
    for i in range(len(data)):
        for j in data.iloc[i]["meta_data"]:
            if j["label"] not in labels:
                labels.append(j["label"])
                print(labels)

['bed']
['bed', 'bath']
['bed', 'bath', 'car']
['bed', 'bath', 'car', 'land']
['bed', 'bath', 'car', 'land', 'type']
['bed']
['bed', 'bath']
['bed', 'bath', 'car']
['bed', 'bath', 'car', 'land']
['bed', 'bath', 'car', 'land', 'type']
['bed']
['bed', 'bath']
['bed', 'bath', 'car']
['bed', 'bath', 'car', 'type']
['bed', 'bath', 'car', 'type', 'land']
['bed']
['bed', 'bath']
['bed', 'bath', 'car']
['bed', 'bath', 'car', 'type']
['bed', 'bath', 'car', 'type', 'land']
['bed']
['bed', 'bath']
['bed', 'bath', 'car']
['bed', 'bath', 'car', 'type']
['bed', 'bath', 'car', 'type', 'land']

In [27]:
# find the type of each column


# convert the columns to the correct data type
rental_df_2["lat"] = rental_df_2["lat"].astype(float)
rental_df_2["lng"] = rental_df_2["lng"].astype(float)
rental_df_2["rented_price"] = rental_df_2["rented_price"].astype(int)
rental_df_2["date"] = pd.to_datetime(rental_df_2["date"])
rental_df_2["bed"] = rental_df_2["bed"].astype(float)
rental_df_2["bath"] = rental_df_2["bath"].astype(float)
rental_df_2["car"] = rental_df_2["car"].astype(int)
rental_df_2["land"] = rental_df_2["land"].astype(str)
rental_df_2["type"] = rental_df_2["type"].astype(str)

In [3]:
data.iloc[0]["rented_prices"]

[{'date': 'August 2024', 'price': '$800 per week'},
 {'date': 'July 2018', 'price': '$470'},
 {'date': 'July 2018', 'price': '$470 per week'},
 {'date': 'August 2014', 'price': '$450 per week'},
 {'date': 'August 2014', 'price': '$450 pw'},
 {'date': 'July 2013', 'price': '$430 per week'},
 {'date': 'July 2013', 'price': '$430 pw'},
 {'date': 'July 2013', 'price': '$460 per week'},
 {'date': 'July 2013', 'price': '$460 pw'},
 {'date': 'June 2013', 'price': '$460 per week'},
 {'date': 'April 2013', 'price': '$460 per week'},
 {'date': 'April 2013', 'price': '$460 pw'},
 {'date': 'January 2012', 'price': '$450 pw'}]

In [6]:
# extract the date and the price from the rented prices
rented_prices = data["rented_prices"].apply(pd.Series)
rented_prices

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,"{'date': 'August 2024', 'price': '$800 per week'}","{'date': 'July 2018', 'price': '$470'}","{'date': 'July 2018', 'price': '$470 per week'}","{'date': 'August 2014', 'price': '$450 per week'}","{'date': 'August 2014', 'price': '$450 pw'}","{'date': 'July 2013', 'price': '$430 per week'}","{'date': 'July 2013', 'price': '$430 pw'}","{'date': 'July 2013', 'price': '$460 per week'}","{'date': 'July 2013', 'price': '$460 pw'}","{'date': 'June 2013', 'price': '$460 per week'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"{'date': 'August 2024', 'price': 'POA'}","{'date': 'November 2022', 'price': 'POA'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"{'date': 'August 2024', 'price': 'POA'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"{'date': 'August 2024', 'price': '$640 Week'}","{'date': 'June 2024', 'price': '$640'}","{'date': 'May 2023', 'price': '$575'}","{'date': 'February 2022', 'price': '$450'}","{'date': 'September 2021', 'price': '$450'}","{'date': 'August 2014', 'price': '$550 pw'}","{'date': 'February 2013', 'price': '$550 pw'}","{'date': 'July 2012', 'price': '$600 pw'}","{'date': 'May 2011', 'price': '$600'}","{'date': 'May 2011', 'price': '$600 pw'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"{'date': 'August 2024', 'price': '$800 per week'}","{'date': 'September 2019', 'price': '$560 p.w.'}","{'date': 'September 2019', 'price': '$560 per ...","{'date': 'June 2019', 'price': '$560'}","{'date': 'April 2018', 'price': '$550 per week'}","{'date': 'April 2018', 'price': '$550'}","{'date': 'May 2017', 'price': '$540 per week'}","{'date': 'August 2014', 'price': '$500 per week'}","{'date': 'August 2009', 'price': '$470 pw'}","{'date': 'June 2009', 'price': '$490 pw'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"{'date': 'August 2024', 'price': '$725 per week'}","{'date': 'December 2022', 'price': '$695 per w...","{'date': 'May 2021', 'price': '$650 per week'}","{'date': 'November 2011', 'price': '$650 Weekly'}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"{'date': 'August 2024', 'price': '$720 per week'}","{'date': 'September 2019', 'price': '$450 per ...","{'date': 'July 2019', 'price': '$500'}","{'date': 'February 2018', 'price': '$470 per w...","{'date': 'February 2018', 'price': '$470'}","{'date': 'November 2016', 'price': '$450 per w...","{'date': 'January 2016', 'price': '$450 per we...","{'date': 'October 2015', 'price': '$450 per we...","{'date': 'November 2015', 'price': '$450 per w...","{'date': 'February 2015', 'price': '$450 per w...",...,"{'date': 'January 2010', 'price': '$415 per we...","{'date': 'October 2007', 'price': 'Contact'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"{'date': 'August 2024', 'price': '$700 - $3,04...","{'date': 'May 2011', 'price': '$560 per week'}","{'date': 'August 2009', 'price': '$560 p.w'}","{'date': 'December 2007', 'price': '$540 p.w'}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"{'date': 'August 2024', 'price': '$1,350 pw'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"{'date': 'August 2024', 'price': '$725 per week'}","{'date': 'August 2022', 'price': '$575 per week'}","{'date': 'August 2022', 'price': '$575'}","{'date': 'June 2021', 'price': '$450 per week'}","{'date': 'June 2021', 'price': '$450'}","{'date': 'June 2021', 'price': '$475 per week'}","{'date': 'May 2021', 'price': '$475'}","{'date': 'April 2021', 'price': '$475 per week'}","{'date': 'February 2021', 'price': '$550 per w...","{'date': 'February 2021', 'price': '$550'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"{'date': 'August 2024', 'price': '$2,200'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"{'date': 'August 2024', 'price': '$1,200 per w...","{'date': 'March 2023', 'price': '$975'}","{'date': 'March 2023', 'price': '$975 per week'}","{'date': 'September 2021', 'price': '$850 per ...","{'date': 'September 2021', 'price': '$850'}","{'date': 'July 2021', 'price': '$850 per week'}","{'date': 'August 2019', 'price': '$900 per week'}","{'date': 'July 2019', 'price': '$900'}","{'date': 'January 2018', 'price': '$900 per we...","{'date': 'December 2017', 'price': '$900'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,"{'date': 'August 2024', 'price': 'per week'}","{'date': 'August 2024', 'price': '$597'}","{'date': 'August 2024', 'price': '$597 per week'}","{'date': 'November 2023', 'price': '$630'}","{'date': 'August 2023', 'price': 'per week'}","{'date': 'August 2023', 'price': '$630'}","{'date': 'August 2023', 'price': '$630 p.w.'}","{'date': 'August 2023', 'price': '$610 per week'}","{'date': 'August 2024', 'price': '$620 per week'}","{'date': 'July 2023', 'price': '$630 per week'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"{'date': 'August 2024', 'price': '$775 per week'}","{'date': 'July 2023', 'price': '$750 pw'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"{'date': 'August 2024', 'price': '$725 per week'}","{'date': 'July 2024', 'price': '$725 per week'}","{'date': 'October 2007', 'price': '$480 p.w'}","{'date': 'October 2007', 'price': '$480'}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,"{'date': 'August 2024', 'price': '$400 per week'}","{'date': 'February 2024', 'price': '$400 per w...","{'date': 'May 2021', 'price': '$240 Weekly'}","{'date': 'July 2021', 'price': '$240 p.w.'}","{'date': 'November 2016', 'price': '$500 pw'}","{'date': 'June 2016', 'price': '$465 pw'}","{'date': 'May 2016', 'price': '$465 pw'}","{'date': 'March 2016', 'price': '$465 pw'}","{'date': 'January 2016', 'price': '$465 pw'}","{'date': 'December 2015', 'price': '$465 pw'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"{'date': 'August 2024', 'price': '$2,800 pw'}","{'date': 'October 2022', 'price': '$1,400 pw'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"{'date': 'August 2024', 'price': '$750 per week'}","{'date': 'April 2024', 'price': '$750 per week'}","{'date': 'January 2021', 'price': '$550'}","{'date': 'January 2021', 'price': '$550 per we...","{'date': 'October 2020', 'price': '$550'}","{'date': 'October 2020', 'price': '$550 per we...","{'date': 'December 2019', 'price': '$650 per w...","{'date': 'July 2012', 'price': '$490 per week'}","{'date': 'April 2011', 'price': '$480 per week'}","{'date': 'March 2011', 'price': '$495 pe...'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"{'date': 'August 2024', 'price': '$550 per week'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,"{'date': 'August 2024', 'price': '$630 per week'}","{'date': 'June 2024', 'price': '$630'}","{'date': 'July 2023', 'price': 'per week'}","{'date': 'July 2023', 'price': '$500'}","{'date': 'July 2023', 'price': '$500 p.w.'}","{'date': 'July 2023', 'price': '$500 per week'}","{'date': 'July 2022', 'price': '$380'}","{'date': 'May 2022', 'price': 'per week'}","{'date': 'May 2022', 'price': '$380 per week'}","{'date': 'May 2022', 'price': '$380 p.w.'}",...,"{'date': 'September 2020', 'price': '$380 per ...","{'date': 'September 2020', 'price': '$380'}","{'date': 'September 2020', 'price': '$380 p.w.'}","{'date': 'September 2020', 'price': '$380 pw'}","{'date': 'June 2019', 'price': '$420'}","{'date': 'June 2019', 'price': '$420 p.w.'}","{'date': 'June 2019', 'price': '$420 pw'}","{'date': 'June 2019', 'price': '$420 per week'}","{'date': 'May 2019', 'price': '$420'}","{'date': 'October 2007', 'price': '$310 p.w'}"
20,"{'date': 'August 2024', 'price': '$550 per week'}","{'date': 'August 2024', 'price': 'per week'}","{'date': 'August 2024', 'price': '$550'}","{'date': 'February 2021', 'price': '$350 per w...","{'date': 'February 2021', 'price': 'per week'}","{'date': 'February 2021', 'price': '$350'}","{'date': 'February 2021', 'price': '$350 p.w.'}","{'date': 'January 2019', 'price': '$410'}","{'date': 'January 2019', 'price': '$410 pw'}","{'date': 'November 2018', 'price': '$410'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,"{'date': 'August 2024', 'price': 'per week'}","{'date': 'August 2024', 'price': '$650'}","{'date': 'August 2024', 'price': '$650 per week'}","{'date': 'April 2023', 'price': '$450'}","{'date': 'January 2023', 'price': 'per week'}","{'date': 'January 2023', 'price': '$450 p.w.'}","{'date': 'January 2023', 'price': '$450'}","{'date': 'January 2023', 'price': '$450 per we...","{'date': 'August 2009', 'price': '$370 p.w'}",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,"{'date': 'August 2024', 'price': '$550'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,"{'date': 'August 2024', 'price': '$480 pw'}","{'date': 'June 2024', 'price': '$480'}","{'date': 'July 2022', 'price': '$320'}","{'date': 'April 2022', 'price': '$320 pw'}","{'date': 'April 2022', 'price': '$320'}","{'date': 'July 2020', 'price': '$380 Weekly'}","{'date': 'July 2020', 'price': '$380'}","{'date': 'July 2020', 'price': '$380 p.w.'}","{'date': 'September 2019', 'price': '$420 Week...","{'date': 'September 2019', 'price': '$420'}",...,"{'date': 'September 2015', 'price': '$420 pw'}","{'date': 'September 2015', 'price': '$420 Week...","{'date': 'August 2015', 'price': '$450 pw'}","{'date': 'September 2014', 'price': '$450 pw'}","{'date': 'September 2014', 'price': '$450 per ...",NaN,NaN,NaN,NaN,NaN
24,"{'date': 'August 2024', 'price': '$390 per week'}","{'date': 'December 2016', 'price': '$500 pw'}","{'date': 'October 2016', 'price': '$465 pw'}","{'date': 'April 2016', 'price': '$465 pw'}","{'date': 'March 2016', 'price': '$465 pw'}","{'date': 'January 2016', 'price': '$465 pw'}","{'date': 'November 2015', 'price': '$465 pw'}","{'date': 'October 2015', 'price': '$465 pw'}",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,"{'date': 'August 2024', 'price': '$850 per week'}","{'date': 'July 2024', 'price': '$850'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,"{'date': 'August 2024', 'price': '$3,840 + GST'}","{'date': 'March 2010', 'price': '$320 pw'}","{'date': 'January 2010', 'price': '$320 pw'}","{'date': 'December 2009', 'price': 'Contact'}","{'date': 'October 2009', 'price': '$19,000 To ...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,"{'date': 'August 2024', 'price': '$550'}","{'date': 'July 2023', 'price': '$495'}","{'date': 'June 2024', 'price': '$550'}","{'date': 'February 2021', 'price': '$440 Weekly'}","{'date': 'February 2021', 'price': '$440 per w...","{'date': 'February 2021', 'price': '$395'}",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,"{'date': 'July 2024', 'price': '$490 per week'}","{'date': 'June 2012', 'price': '$360 pw'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,"{'date': 'July 2024', 'price': '$500 per week'}","{'date': 'July 2024', 'price': '$500'}","{'date': 'March 2022', 'price': '$375 per week'}","{'date': 'March 2022', 'price': '$375'}","{'date': 'March 2022', 'price': '$350 p.w.'}","{'date': 'January 2021', 'price': '$375 per we...","{'date': 'December 2019', 'price': '$385 per w...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,"{'date': 'July 2024', 'price': 'per week'}","{'date': 'July 2024', 'price': '$600 per week'}","{'date': 'July 2024', 'price': '$600'}","{'date': 'September 2023', 'price': '$510'}","{'date': 'June 2023', 'price': '$510'}","{'date': 'June 2023', 'price': '$510 p.w.'}","{'date': 'June 2023', 'price': 'per week'}","{'date': 'June 2023', 'price': '$510 per week'}","{'date': 'June 2024', 'price': '$580'}","{'date': 'February 2022', 'price': '$410 per w...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,"{'date': 'July 2024', 'price': 'per week'}","{'date': 'July 2024', 'price': '$650 per week'}","{'date': 'July 2024', 'price': '$650'}","{'date': 'November 2015', 'price': '$510'}","{'date': 'November 2015', 'price': '$510 per w...","{'date': 'November 2015', 'price': '$510 pw'}","{'date': 'October 2015', 'price': '$510 Week'}","{'date': 'September 2015', 'price': '$510 per ...","{'date': 'September 2015', 'price': '$510 pw'}","{'date': 'November 2009', 'price': '$470 p.w'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,"{'date': 'July 2024', 'price': '$450 per week'}","{'date': 'June 2024', 'price': '$450'}","{'date': 'March 2020', 'price': '$395 per week'}","{'date': 'February 2020', 'price': '$395'}",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,"{'date': 'July 2024', 'price': '$545 pw'}","{'date': 'June 2023', 'price': '$750 - $3,259 ...","{'date': 'May 2023', 'price': '$750'}","{'date': 'June 2021', 'price': '$550 per week'}","{'date': 'June 2021', 'price': '$550'}","{'date': 'February 2011', 'price': '$500 per w...","{'date': 'July 2008', 'price': '$500'}",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,"{'date': 'July 2024', 'price': '$750 per week'}","{'date': 'July 2024', 'price': '$750'}","{'date': 'July 2022', 'price': '$575 per week'}","{'date': 'July 2022', 'price': '$575'}","{'date': 'June 2022', 'price': '$575 per week'}","{'date': 'October 2020', 'price': '$600'}","{'date': 'September 2020', 'price': '$600 per ...","{'date': 'February 2017', 'price': '$600 per w...","{'date': 'January 2015', 'price': '$570 pw'}","{'date': 'October 2014', 'price': '$550 pw'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,"{'date': 'July 2024', 'price': '$1,550 per week'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,"{'date': 'July 2024', 'price': '$750 per week'}","{'date': 'July 2024', 'price': '$750'}","{'date': 'April 2019', 'price': '$600 per week'}","{'date': 'April 2019', 'price': '$600'}","{'date': 'February 2018', 'price': '$550 per w...","{'date': 'February 2018', 'price': '$550'}","{'date': 'May 2016', 'price': '$510 per week'}","{'date': 'April 2016', 'price': '$525 per week'}","{'date': 'February 2015', 'price': '$500 per w...","{'date': 'December 2014', 'price': '$500 per w...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,"{'date': 'July 2024', 'price': '$550 per week'}","{'date': 'June 2024', 'price': '$550'}","{'date': 'March 2021', 'price': '$390'}","{'date': 'January 2019', 'price': '$410 per we...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,"{'date': 'July 2024', 'price': '$680 per week'}","{'date': 'June 2024', 'price': '$680'}","{'date': 'December 2021', 'price': '$570 per w...","{'date': 'December 2021', 'price': '$570'}","{'date': 'January 2017', 'price': '$570 per we...","{'date': 'November 2015', 'price': '$550 per w...","{'date': 'December 2012', 'price': '$500 pw'}","{'date': 'November 2012', 'price': '$500 pw'}","{'date': 'November 2010', 'price': '$480 pw'}",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,"{'date': 'July 2024', 'price': '$1,100 per week'}","{'date': 'June 2024', 'price': '$1,100'}","{'date': 'April 2023', 'price': '$1,000'}","{'date': 'April 2023', 'price': '$1,000 per we...","{'date': 'June 2017', 'price': '$800 per week'}",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,"{'date': 'July 2024', 'price': '$625 per week'}","{'date': 'August 2024', 'price': '$600 per week'}","{'date': 'May 2021', 'price': '$450 per week'}","{'date': 'May 2021', 'price': '$450'}","{'date': 'December 2014', 'price': '$420 per w...","{'date': 'November 2014', 'price': '$420 per w...","{'date': 'August 2013', 'price': '$420 per week'}","{'date': 'July 2008', 'price': '$425 per week'}",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,"{'date': 'July 2024', 'price': '$550 per week'}","{'date': 'June 2024', 'price': '$550'}","{'date': 'August 2021', 'price': '$410 per week'}","{'date': 'August 2021', 'price': '$390'}","{'date': 'August 2021', 'price': '$410'}","{'date': 'May 2018', 'price': '$400'}",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,"{'date': 'July 2024', 'price': 'per week'}","{'date': 'July 2024', 'price': '$802 per week'}","{'date': 'July 2024', 'price': '$802'}","{'date': 'May 2023', 'price': 'per week'}","{'date': 'May 2023', 'price': '$900 per week'}","{'date': 'May 2023', 'price': '$900'}","{'date': 'May 2023', 'price': '$900 p.w.'}","{'date': 'June 2021', 'price': 'per week'}","{'date': 'June 2021', 'price': '$560'}","{'date': 'June 2021', 'price': '$560 p.w.'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,"{'date': 'July 2024', 'price': '$680 per week'}","{'date': 'July 2024', 'price': 'per week'}","{'date': 'August 2023', 'price': '$620'}","{'date': 'June 2023', 'price': '$620 per week'}","{'date': 'June 2023', 'price': 'per week'}","{'date': 'June 2023', 'price': '$620 p.w.'}","{'date': 'June 2023', 'price': '$620'}","{'date': 'July 2024', 'price': '$680'}","{'date': 'June 2024', 'price': '$680'}","{'date': 'May 2023', 'price': '$620'}",...,"{'date': 'March 2009', 'price': '$460 p.w'}","{'date': 'March 2008', 'price': '$420 p.w'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,"{'date': 'July 2024', 'price': '$650 per week'}","{'date': 'January 2023', 'price': '$575 per we...","{'date': 'January 2023', 'price': '$575'}","{'date': 'January 2022', 'price': '$560 per we...","{'date': 'December 2017', 'price': '$560 per w...","{'date': 'December 2017', 'price': '$560 pw'}","{'date': 'October 2016', 'price': '$545 pw'}",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,"{'date': 'July 2024', 'price': '$530'}","{'date': 'December 2023', 'price': '$530 per w...","{'date': 'September 2021', 'price': '$425 per ...","{'date': 'September 2021', 'price': '$450'}","{'date': 'August 2021', 'price': '$450'}",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,"{'date': 'July 2024', 'price': '$750 per week'}","{'date': 'December 2023', 'price': '$750 per w...","{'date': 'June 2024', 'price': '$750'}","{'date': 'November 2021', 'price': '$450 p.w.'}","{'date': 'October 2021', 'price': '$450 p.w.'}","{'date': 'October 2021', 'price': '$450 per we...","{'date': 'October 2021', 'price': '$450'}","{'date': 'November 2020', 'price': '$575 pw'}","{'date': 'November 2020', 'price': '$575'}","{'date': 'November 2020', 'price': '$575 p.w.'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,"{'date': 'July 2024', 'price': '$525 per week'}","{'date': 'March 2023', 'price': '$450 per week'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,"{'date': 'July 2024', 'price': '$1,300 per week'}","{'date': 'April 2023', 'price': '$1,200'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,"{'date': 'July 2024', 'price': '$470 pw'}","{'date': 'March 2022', 'price': '$500'}","{'date': 'November 2020', 'price': '$470 p.w.'}","{'date': 'November 2020', 'price': '$470'}","{'date': 'October 2020', 'price': 'per week'}","{'date': 'October 2020', 'price': '$500'}","{'date': 'October 2020', 'price': '$500 p.w.'}","{'date': 'October 2020', 'price': '$500 per we...","{'date': 'January 2012', 'price': '$530 per we...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

: